/**
    Naming Conventions:
        1- temp stands for Templates
        2- tb stands for Toolbar
        3- kw stands for keyword
        4- lbl stands for label
        5- fld stands for field
*/
#temp-tb {
    padding-top: 5px;
    padding-bottom: 3px;
    font-size: 1.25em;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
    letter-spacing: 0;
    background: #E8E9EE;    
}

#temp-tb input, #temp-tb select {
    font-size: 1em;
}

#temp-tb-spacer {
    height: 10px;
    background: #000000;
}

#temp-tb div {    
    padding: 0 10px;
    display: inline-block;
}

#ifContainer {
    height: 400px;
    background: #000000;
    margin-bottom: 30px;
}

#compose-bar-wrap {
    padding: 5px;
    font-size: 12px;
    background: #E8E9EE;
}

#compose-bar input.text {
    padding: 2px;
    margin: 0;    
    width: 100%;
}

#compose-bar input.button {
    margin-top: 3px;
}

#email-fields td {    
    height: 26px;
    vertical-align: middle;
}

.last-button {
    margin-right: 3px;
}

.side-bar-title {
    padding-top: 2px;
    padding-left: 5px;
    padding-bottom: 5px;
    background-color: #BEC2D9;
}

.side-bar-panel {
    margin-bottom: 2px;
    margin-top: 1px;
    border-right: 1px solid #BEC2D9;
    border-left: 1px solid #BEC2D9;
    border-bottom: 1px solid #BEC2D9;

}

.panel-row td {
    padding: 10px;
}

.panel-row-label {
    background: #EAF6FB;
    font-size: 13px;
    border-bottom: 1px solid white;
}

.panel-row-field {
    border-bottom: 1px solid #D7DAE8;
}

.panel-row-last td {
    border-bottom: none;
}

.contact-search-btn img {
    margin-top: 5px;
}

.attach-dialog .ui-dialog-titlebar {
    display: none;
}

.attach-dialog {
    padding: 0;
}

.background_actions {
    padding: 0;
}

#spam-score, #spam-score-save, #spam-report {
    display: none;
}