#imageFlow {
    position: relative;
    width: 100%;
    height: 90%;
    /* left: 0%;
        top: 10%; */
    overflow: hidden;
    background: #000;
}

#imageFlow .diapo {
    position: absolute;
    left: -4000px;
    cursor: pointer;
    -ms-interpolation-mode: nearest-neighbor;
}

#imageFlow .link {
    border: dotted #fff 1px;
    margin-left: -1px;
    margin-bottom: -1px;
}

#imageFlow .text {
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 10%;
    text-align: center;
    color: #FFF;
    font-family: verdana, arial, Helvetica, sans-serif;
    z-index: 85;
}

#imageFlow .title {
    font-size: 0.9em;
    font-weight: bold;
}

#imageFlow .legend {
    font-size: 0.8em;
}

#imageFlow .scrollbar {
    position: absolute;
    left: 10%;
    bottom: 3%;
    width: 80%;
    height: 16px;
    z-index: 90;
}

#imageFlow .track {
    position: absolute;
    left: 1%;
    width: 98%;
    height: 16px;
    filter: alpha(opacity = 30);
    opacity: 0.3;
    z-index: 70;
}

#imageFlow .arrow-left {
    position: absolute;
    left: 0;
    z-index: 80;
}

#imageFlow .arrow-right {
    position: absolute;
    right: 0;
    z-index: 80;
}

#imageFlow .bar {
    position: absolute;
    height: 16px;
    left: 25px;
    z-index: 80;
}