#search-contacts-dialog {
    display: none;
}
.dlg-fields td {
    padding: 2px;
    vertical-align: middle;
    font-size: 12px;    
}

#dlg-search-results-wrap {
    height: 235px;
    overflow: scroll;
    border: 1px solid #D5E0E8;
}

#dlg-search-results {
    display: none;
}

#dlg-search-results td {
    border-bottom: 1px solid #D5E0E8;
}

tr.no-email td {
    background: #EEAAAA;
}

#dlg-search-results thead {
    font-size: 12px;
    font-weight: bold;
}

thead.search-results td{
    padding-top: 6px;
    padding-bottom: 4px;
}

#search-contacts-dialog h3 {
    font-size: 14px;
    font-weight: bold;
    margin-top: 10px;
}