/* TREE LAYOUT */
.tree ul { margin:0 0 0 5px; padding:0 0 0 0; list-style-type:none; }
.tree li { display:block; min-height:18px; line-height:18px; padding:0 0 0 15px; margin:0 0 0 0; /* Background fix */ clear:both; _height:18px; #height:auto; }
.tree li ul { display:none; }
.tree li a, .tree li span { display:inline-block;line-height:25px;height:25px;color:black;white-space:nowrap;text-decoration:none;padding:1px 4px 1px 1px;margin:0; }
.tree li a:focus { outline: none; }
.tree li a input, .tree li span input { margin:0;padding:0 0;display:inline-block;height:12px !important;border:1px solid white;background:white;font-size:10px;font-family:Verdana; }
.tree li a input:not([class="xxx"]), .tree li span input:not([class="xxx"]) { padding:1px 0; }
/* FOR DOTS */
.tree .ltr li.last { float:left; }
.tree .rtl li.last { float:right; #float:none; _float:right; }
.tree > ul li.last { overflow:visible; }
/* OPEN OR CLOSE */
.tree li.open ul { display:block; }
.tree li.closed ul { display:none !important; }
/* FOR DRAGGING */
#jstree-dragged { position:absolute; top:-10px; left:-10px; margin:0; padding:0; }
#jstree-dragged .rtl { _width:20px; #width:200px; margin:0; padding:0;} 
#jstree-dragged ul ul ul { display:none; }

/* RTL modification */
.tree .rtl, .tree .rtl ul { margin:0 5px 0 0; }
.tree .rtl li { padding:0 15px 0 0; }
.tree .rtl li a, .tree .rtl li span { padding:1px 1px 1px 4px; }

/* CONTEXT MENU */
.tree-context { display:none; position:absolute; list-style-type:none; margin:0; padding:0; left:-2000px; top:-2000px; }
.tree-context .separator { display:none; }
.tree-context a { display:block; margin:0; padding:0; }

/** FIREFOX2 fix **/
.tree .ltr li a, x:-moz-any-link { display:inline; float:left; }
.tree .rtl li a, x:-moz-any-link { display:inline; float:right; }
.tree li ul, x:-moz-any-link { clear:both; }
/** FIREFOX3 restore **/
.tree .ltr li a, .tree .rtl li a, x:-moz-any-link, x:default { display:inline-block; float:none; }
.tree li ul, x:-moz-any-link, x:default { clear:none; }
/** IE7 Restore **/
.tree .ltr li a, .tree .rtl li a { #display:inline-block; #float:none; }
.tree li ul { #clear:none; }

.tree li { _width:1px; }
.tree li li { overflow:hidden; #overflow:visible; _overflow:visible; }

.tree > .ltr > li { display:table; }
.tree > .rtl > li { display:table; }


/* EXPLORER 6 and 7 fix for 2px whitespace */
.tree .ltr li.last { #margin-top: expression( (this.previousSibling && /open/.test(this.previousSibling.className) ) ? "-2px" : "0"); _margin-top: expression( (this.previousSibling && /open/.test(this.previousSibling.className) ) ? "-2px" : "0"); }
.tree .rtl li.last { _margin-top: expression( (this.previousSibling && /open/.test(this.previousSibling.className) ) ? "-2px" : "0"); }

/* OPERA SCROLLBAR ISSUE */
@media all and (-webkit-min-device-pixel-ratio:10000), not all and (-webkit-min-device-pixel-ratio:0) {
	head~body .tree > ul > li.last > ul { margin-bottom:36px; }
	.tree li li { overflow:visible; }
}

/* FROM JSTREE STYLE.CSS */
#container { width:950px; margin:0px auto; overflow:hidden; min-height:100%; _height:100%; }
#head { position:relative; height:75px; margin-bottom:10px; font-family:Georgia; /* background:url("/images/new.png") center center repeat-x; */ }
#head #menu { font-size:11pt; list-style-type:none; margin:0; padding:0; width:650px; position:absolute; bottom:0px; right:0; height:44px; }
#head #menu li { float:left; margin:5px 10px 0 0; padding:0px 10px 0 10px; height:26px; }
#head #menu li.current_page_parent, #head #menu li.current_page_item, #head #menu li.current_page_ancestor { margin-top:0; border-top:5px solid black; }
#head #menu li a { color:gray; height:26px; line-height:26px; }
#head #menu li.current_page_parent a, #head #menu li.current_page_item a, #head #menu li.current_page_ancestor a { color:black; }
#head h1 { border-bottom:1px solid; color:black; font-size:24pt; font-weight:bold; height:21px; letter-spacing:0; line-height:25px; margin:0; overflow:hidden; padding:15px 0 0; text-indent:0.5em; }
#head h2 { font-size:11pt; line-height:26px; color:gray; margin:0; padding: 0 0 0 50px; }
#sidebar { width:250px; margin:0 0 0 0; float:left; }
#sidebar h3 { font-family:Georgia; width:250px; opacity:0.75; margin:15px 0 1px 0; font-size:1.1em; letter-spacing:1px; background:gray; color:white; text-indent:5px; line-height:1.6em; font-variant:small-caps; }
#sidebar ul { list-style-type:none; width:250px; margin:0 0 0 0; padding:0; }
#sidebar ul li { margin:0 0 1px 0; background:#AEBF9B url("images/ok.png") 6px 4px no-repeat; opacity:0.75; line-height:16px; padding:4px 0 4px 28px; }
#sidebar ul li.important { background-image:url("images/offert.png"); font-weight:bold; }
#sidebar ul li.current_page_ancestor, #sidebar ul li.current_page_item, #sidebar ul li.current_page_parent { background-color:#778F59; }
#download { font-family:Georgia; display:block; background:url("images/button.png") left top no-repeat; width:253px; height:50px; color:white; line-height:50px; font-size:1.3em; color:white; position:relative; text-decoration:none; font-weight:bold; text-indent:15px; margin:0 0 15px 0; }
#download:hover { background-image:url("images/button_o.png"); }
#download .vn { display:block; position:absolute; top:-10px; right:10px; background:url("images/badge.png") center center no-repeat; width:70px; height:70px; text-indent:0; }
#download .vn span { display:block; text-align:center; }
#download .vn .v { font-size:8pt; line-height:1em; margin-top:20px; }
#download .vn .n { font-size:12pt; line-height:1em; }
#data { width:650px; float:right; padding:0; margin:0; }
#data h2, #data h3 { font-family:Georgia; font-size:1.2em; font-weight:bold; padding:0; line-height:1em; margin:0em 0 0.5em 0; color:#093F00; }
#data h3 { font-size:1em; }
#data span.date, #data .tags, #data .postmetadata { font-size:0.8em; display:block; }
#data p { line-height:1.5em; margin-bottom:1em; }
#data ul { margin-bottom:1em; }
#data ul ul { margin-bottom:0; }
#data li { line-height:1.5em; }

#data #comments { margin-top:2em; }
#data .post { margin-bottom:2em; }
.commentlist { list-style-type:none; margin:0; padding:0; }
.commentlist li { margin:0.5em 0 1.5em; 1em; border:1px solid #B9C8A7; padding:1em; background:#E9EFE0; }
.avatar { float:left; margin: 5px 10px 5px 0px; background:white; padding:2px; border:1px solid silver; }
#data textarea { width:99%; margin:0 auto; display:block; }
#data .cmt { border:1px solid #333; background:gray; color:white; overflow:hidden; _height:40px; _overflow:visible; }
#data code, #data pre { font-family:"Courier New",Monospace; font-size:9pt; margin:0.5em; padding:0; display:block; display:block; margin:0; padding:1em 1em 1em 1em; background:white; border:1px solid gray; overflow-x:auto; width:95%; }

.navigation { margin-bottom:1em; height:1em; }
.navigation .alignleft { float:left; }
.navigation .alignright { float:right; }

.features, .features ul, .changelog, .changelog ul { list-style-type:none; margin:0; padding:0; }
.features li, .changelog li { background:url('images/ok.png') left 2px no-repeat; padding-left:20px; }
.changelog li { background-image:url('images/package.png'); }
.changelog li li { background-image:url('images/ok.png'); }

#data #documentation h1, #data #documentation h2, #data #documentation h3, #data #documentation h4 { font-family:Georgia, Serif; margin:1em 0 0.5em 0; color:#8b0000; }
#data #documentation h1 { font-size:1.2em; }
#data #documentation h2 { font-size:1.1em; }
#data #documentation h3 { font-size:1.0em; }
#data #documentation h4 { font-size:1.0em; }

#data #documentation p { line-height:1.5em; margin:0 0 0.5em 0; }
#data #documentation .note { font-style:italic; color:gray; font-size:0.9em; }
#data #documentation code, #data #documentation pre, #data #documentation .source, #data #documentation .file, #data #documentation .var, #data #documentation .req, #data #documentation .opt, #data #documentation .val { font-family:"Courier New", Monospace; font-style:normal !important; font-size:9pt; }
#data #documentation span.file { color:green; }
#data #documentation span.var { color:navy; }
#data #documentation span.req { color:red; cursor:pointer; }
#data #documentation span.opt { color:green; cursor:pointer; }
#data #documentation span.val { color:#C71585; }
/* #data #documentation ol, #data #documentation ul { margin-top:0.5em; margin-bottom:0.5em; } */
#data #documentation li { line-height:1.5em; }
#data #documentation .source { font-weight:bold; margin-top:1em; line-height:1.1em; background:gray; text-indent:5px; color:white; text-transform:uppercase; padding:4px 5px 0 5px; width:95%; border:3px solid gray; border-width:0 3px; }
#data #documentation code, #data #documentation pre { border:3px solid gray; padding:5px; display:block; margin:0; overflow-x:auto; width:95%; }

#data #faq .question { color: #8b0000; font-weight:bold; }
#data #faq .answer { margin-bottom:3em; }

#data #images { float:right; width:200px; margin:0 0 0 1em; }
#data #images img { display:block; margin:0 auto 1em auto; padding:2px; width:180px; border:1px solid gray; }

h1.donation { text-align:center; color:#093F00; margin:3em 1em; }
#post-90 h2 { display:none; }

/* FF only */
#sidebar h3 { -moz-border-radius:5px 5px 0 0; }
#sidebar ul li:last-child { -moz-border-radius:0 0 5px 5px; }
/* IE PNG fix 
html, #sidebar li, #download, #download .vn, .features li, .changelog li { behavior: url(/wp-content/themes/jstree/inc/iepngfix.htc); _zoom:1; }
#sidebar ul li { _filter: alpha(opacity = 75); _height:1px; } */
#download, #download .vn { _behavior: url(/wp-content/themes/jstree/inc/iepngfix.htc); }


.nav { list-style-type:none; margin:0; padding:0; height:24px; position:relative; }
.nav li { width:30%; float:left; margin-left:2%; padding:0; text-align:center; }
.nav li a { text-align:center; }

/** ORIGINAL **/
acronym, abbr { border-bottom: 1px dashed #333; }
acronym, abbr, span.caps { font-size: 90%; letter-spacing: .07em; }
acronym, abbr { cursor: help; }
blockquote { border-left: 5px solid #ccc; margin-left: 1.5em; padding-left: 5px; }
cite { font-size: 90%; font-style: normal; }

ins, iframe { display:block; margin:0 auto; }


.demo {
	font-family:Verdana !important;
	font-size:10px !important;
	width:300px;
	float:left;
	background:white;
	height:450px;
	border:3px solid gray;
	padding:5px 0;
	overflow:auto;
}
.sources {
	margin:0 10px 0 215px;
}
.sources pre {
	min-height:90px;
}

#data #documentation {
	clear:left;
}


#head { overflow:hidden; height:75px; }
#head h1 { }
#head h2 { width:200px; }
#head h3 { width:665px; height:30px; font-size:18pt; font-weight:bold; position:absolute; bottom:35px; right:0; text-align:center; margin:0; padding:0; }
/* FROM JSTREE STYLE.CSS */


/* FROM JSTREE THEMES\STYLE.CSS */

/* LOCKED */
.tree-default .locked li a { color:gray; }
/* DOTS */
/*.tree-default ul { background-position:6px 1px; background-repeat:repeat-y; background-image:url("../../images/profiles/dot.gif"); }
.tree-default li { background-position:7px 8px; background-repeat:no-repeat; background-image:url("../../images/profiles/li.gif"); }
.tree-default li.last { background-position:5px top; background-repeat:no-repeat; background-image:url("../../images/profiles/lastli.gif"); }*/

/* DOTS - RIGHT TO LEFT */
.tree-default .rtl, .tree-default .rtl ul { background-position:right 1px; }
.tree-default .rtl li { background-position:right 8px; }
.tree-default .rtl li.last { background-image:url("../../images/profiles/lastli_rtl.gif"); background-position:right top; }

/* NO DOTS */
.tree-default .no_dots, .tree-default .no_dots ul { background:transparent; }
.tree-default .no_dots li.leaf { background-image:none; background-color:transparent; }
/* OPEN or CLOSED */
.tree-default li.open { background:url("../../images/profiles/fminus.gif") 4px 6px no-repeat; color: #FF0000;}
.tree-default li.closed, #jstree-dragged.tree-default li li.open { background:url("../../images/profiles/fplus.gif") 5px 5px no-repeat; }
/* DISABLED */
.tree-default .no_dots li.disabled {color: #FF0000; }
/* OPEN or CLOSED */
.tree-default li.open.disabled { background:url("../../images/profiles/fminus.gif") 4px 6px no-repeat; color: #FF0000; }
.tree-default li.closed.disabled, #jstree-dragged.tree-default li li.open-disabled { background:url("../../images/profiles/fplus.gif") 5px 5px no-repeat; color: #FF0000; }

/* RIGHT TO LEFT */
.tree-default .rtl li { margin-right:1px; }
.tree-default .rtl li.last { margin-right:0; padding-right:16px; }
.tree-default .rtl li.open { background:url("../../images/profiles/fminus_rtl.gif") right 6px no-repeat; margin-right:0; padding-right:16px; }
.tree-default .rtl li.closed, #jstree-dragged.tree-default .rtl li li.open { background:url("../../images/profiles/fplus_rtl.gif") right 4px no-repeat; margin-right:0; padding-right:16px; }

/* DEFAULT, HOVER, CLICKED, LOADING STATES */
/*.tree-default li a, .tree-default li span { background-color:transparent; background-repeat:no-repeat; background-position:4px 1px; padding:1px 4px 1px 23px; background-image:url("../../images/profiles/f.png"); border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px; }*/
/*.tree-default li a:hover, .tree-default li a.hover { background-color: #e7f4f9; border:1px solid #d8f0fa; padding:0px 3px 0px 22px; background-position:3px 0px;  }*/
/*.tree-default li a.clicked, .tree-default li a.clicked:hover, .tree-default li span.clicked { background-color: #beebff; border:1px solid #99defd; padding:0px 3px 0px 22px; background-position:3px 0px;  }*/
/*.tree-default li span.clicked { padding:0px 3px 0px 20px; }*/
.tree-default li a.loading { background-image:url("../../images/profiles/throbber.gif"); }

/* DEFAULT, HOVER, CLICKED, LOADING STATES - RIGHT TO LEFT */
.tree-default .rtl li a, .tree-default .rtl li span { padding:1px 23px 1px 4px; background-position:right 1px; margin-right:1px; }
.tree-default .rtl li a:hover, .tree-default .rtl li a.hover { padding:0px 23px 0px 3px; background-position:right 0px; margin-right:0px; }
.tree-default .rtl li a.clicked, .tree-default .rtl li a.clicked:hover, .tree-default .rtl li span.clicked { padding:0px 23px 0px 3px; background-position:right 0px;  margin-right:0px; }
.tree-default .rtl li span.clicked { padding:0px 21px 0px 3px; }

/* CONTEXT MENU */
.tree-default-context { width:160px; background:#F0F0F0 url("../../images/profiles/context.gif") 22px 0 repeat-y; border:1px solid silver; position:absolute; }
.tree-default-context a, .tree-default-context a.disabled:hover { display:block; text-decoration:none; color:black; line-height:20px; background-repeat: no-repeat; background-position:2px center; padding:1px 0 1px 25px; background-color:transparent; border:1px solid #f0f0f0; border-width:0 1px; margin:0; }
.tree-default-context a:hover { background-color:#e7f4f9; border:1px solid #d8f0fa; padding:0 0 0 25px; margin:0; }
.tree-default-context a.disabled, .tree-default-context a.disabled:hover { color:silver; opacity:0.5; -ms-filter:'alpha(opacity=50)'; filter:alpha(opacity=50); zoom:1; }
.tree-default-context .separator { background:#FFFFFF;border-top:1px solid #E0E0E0;font-size:1px;height:1px;line-height:1px;margin:0 2px 0 24px;min-height:1px;display:block; }

/* FROM JSTREE THEMES\STYLE.CSS */


/*
FIREFOX FIX
@-moz-document url-prefix() {} 
*/