/* ######### Default class for drop down menus ######### */

.anylinkmenu{
position: absolute;
left: 0;
top: 0;
visibility: hidden;
/*border: 1px solid black;
border-bottom-width: 0;*/

font: normal 12px Verdana;

font-family: Arial, Helvetica, sans-serif;
line-height: 18px;
z-index: 100; /* zIndex should be greater than that of shadow's below */
width: 200px; /* default width for menu */

margin: 0; /*removes indent IE and Opera*/
padding: 0; /*removes indent Mozilla and NN7*/
list-style-type: none; /*turns off display of bullet*/
}

.anylinkmenu ul{
margin: 0;
padding: 0;
list-style-type: none;

}

/*.anylinkmenu ul li a{*/
.anylinkmenu  a{
	display: block;
	padding: 4px 8px 4px 12px;
	/*background-color: #FFF;*/
	color: #333;
	text-decoration: none;
	border-bottom: 1px solid #E9E9E9;
}

.notselectedHeading{
background-color: #FFF;
}

.selectedHeading{
background: #DDDEEB url(../images/navigation/content/fieldswap_bg.png) no-repeat 0% 50%;
}

.anylinkmenu a:hover{ /*hover background color*/
background: #F0F0F0;

}

a.someotherclass:link {color: #777777;font-size:13px; font-weight:bold;text-decoration: none;}
a.someotherclass:visited {color: #777777;font-size:13px; font-weight:bold;text-decoration: none;}
a.someotherclass:hover {color: #777777;;font-size:13px; font-weight:bold;text-decoration: none;}




/* ######### class for shadow DIV ######### */


.anylinkshadow{ /*CSS for shadow. Keep this as is */
position: absolute;
left: 0;
top: 0;
z-index: 99; /*zIndex for shadow*/
background: black;
visibility: hidden;
}