BODY
{
	background: #EFEFEF;
	color: black;
	font-family: Arial,Helvetica,Geneva,Swiss,SunSans-Regular;
}
A:link
{
	color: #000000;
	text-decoration: none;
}
A:active
{
	color: #2222DD;
	text-decoration: underline;
}
A:visited
{
	color: #000000;
	text-decoration: none;	
}
LEGEND
{
	color: #555555;
}
TABLE.navTable
{
	background: #FFFFFF;
	border-style: inset;
	border-width: 1;
}
TABLE.calendar
{
	background: #FFFFFF;
	border-style: inset;
	border-width: 1;
}
TD
{
	text-align: right;
}
TD.navCell
{
	color: #555555;
	background: #EEEEEE;
	border-style: outset;
	border-width: 1;
	text-align: center;
}
TD.weekHeader
{
	color: #444444;
	background: #EFEFEF;
	border-style: outset;
	border-width: 1;
	text-align: left;
}
TD.weekendHeader
{
	color: #777777;
	background: #EFEFEF;
	border-style: outset;
	border-width: 1;
	text-align: left;
}
.blank
{
	color: #BBBBBB;
}
.weekend
{
	color: #555555;
}
