body,td,th {
	font-family: Arial, Helvetica, sans-serif;
}
.leftEdge {
	width: 10px;
	background: url(../images/profiles/cms_l_bg.png) repeat-y;
}
.rightEdge {
	width: 10px;
	background: url(../images/profiles/cms_r_bg.png) repeat-y;
}
.bottomShadow {
	background: url(../images/profiles/cms_bottom_bg.png) repeat-x;
}
.topShadow {
	background: url(../images/profiles/cms_top_bg.png) repeat-x;
}

#cmsContent {
	background: #E0E0E0 url(../images/profiles/cms_panel_bg.png) repeat-x;
	padding-right: 18px;
	padding-left: 18px;
}
#cmsContent a {
	text-decoration: none;
}
#cmsContent a:link, #cmsContent a:visited {
	color: #0066D4;
}
#cmsContent a:hover, #cmsContent a:active {
	color: #099;
}


#cmsTitle {
	padding-top: 15px;
	padding-left: 15px;
	padding-bottom: 13px;
}
#leftCol {
	width: 50%;
	vertical-align: top;
}
#leftColFixed {
	width: 260px;
	vertical-align: top;
}
#rightCol {
	width: 50%;
	vertical-align: top;
}
.fieldLabel {
	font-size: 13px;
	color: #333;
	padding: 5px 5px 5px 10px;
	vertical-align: top;
	width: 100px;
	background: #EAF6FB url(../images/profiles/form_label_bg.png) repeat-x;
	border-top: 2px solid #FFF;
}
.fieldLabelFirst {
	font-size: 13px;
	color: #333;
	padding: 5px 5px 5px 10px;
	vertical-align: top;
	width: 100px;
	background: #EAF6FB url(../images/profiles/form_label_bg.png) repeat-x;
	border-top: 2px solid #FFF;
}
.actionPanel {
	background: url(../images/profiles/action_panel_bg.png) repeat-x;
	width: 100%;
	text-align: right;
	padding-right: 15px;
}
.actionPanel img {
	margin-right: 8px;
}
.contentBlockPad {
	margin-bottom: 15px;
	vertical-align:top;
}
.editCell {
	vertical-align: middle;
	padding-top: 7px;
	padding-bottom: 7px;
	padding-left: 6px;
	border-top: 1px solid #D7DAE8;
}
.editCellFirst {
	vertical-align: middle;
	padding-top: 7px;
	padding-bottom: 7px;
	padding-left: 6px;
}
.settingCell {
	vertical-align: middle;
	padding-top: 7px;
	padding-bottom: 7px;
	padding-left: 6px;
	border-top: 1px solid #D7DAE8;
}
.settingCellFirst {
	vertical-align: middle;
	padding-top: 7px;
	padding-bottom: 7px;
	padding-left: 6px;
}
.editField {
	width: 96%;
	color: #333;
	padding: 3px 3px;
	font: 13px Arial, Helvetica, sans-serif;
}
.manageLink {
	font-size: 10px;
}

.valueList {
	padding-left: 3px;
}
.panelLeftShelf {
	background: url(../images/profiles/panel_l_bg.png) repeat-y;
}
.panelRightShelf {
	background: url(../images/profiles/panel_r_bg.png) repeat-y;
}
.contentStatus {
	margin-right: 15px;
	float: left;
	font-size: 13px;
	margin-top: 4px;
	margin-bottom: 4px;
}
.formLabelBlue {
	background: #EAF6FB url(../images/profiles/form_label_bg.png) repeat-x;
}

.contentStatus img {
	vertical-align: text-bottom;
}
.panelTop {
	background: url(../images/profiles/panel_top.png) repeat-x;
	width: 100%;
}
.panelTopBlue {
	background: url(../images/profiles/panel_top_blue.png) repeat-x;
	width: 100%;
}
.panelShelf {
	background: #E8E9EE;
	width: 100%;
	padding-left: 2px;
	padding-top: 5px;
	padding-right: 2px;
}
.quicksearchCell {
	padding-left: 8px;
	padding-top: 4px;
	padding-bottom: 4px;
}

.quicksearchCell a img {
	padding:0 0 2px 0;
}

.usageType {
	width: 14%;
	padding-left: 13px;
	padding-top: 7px;
	padding-bottom: 5px;
}
.usageLocation {
	width: 43%;
	padding-left: 6px;
}
.usageUpdated {
	width: 43%;
	padding-left: 6px;
}

.panelLeft {
	background: url(../images/profiles/panel_l_bg.png) repeat-y;
}
.shelfLeft {
	background: url(../images/profiles/panel_l_bg.png) repeat-y;
	border-right: 1px solid #FFF;
}
.shelfRight {
	background: url(../images/profiles/panel_r_bg.png) repeat-y;
	border-left: 1px solid #FFF;
}


.panelRight {
	background: url(../images/profiles/panel_r_bg.png) repeat-y;
}

.panelBottom {
	background: url(../images/profiles/panel_bottom_bg.png) repeat-x;
	width: 100%;
}
.panelContent {
	background: #FFF;
	width: 100%;
	padding: 0px 1px;
	font-size: 13px;
}
.panelFixedContent {
	background: #FFF;
	width: 100%;
	padding: 0px 10px 10px 10px;
	font-size: 13px;
}

.checkboxPad label{
	padding-right: 25px;
	padding-left: 5px;

}
.manageLink a:link, .manageLink a:visited {
	color: #06C;
}
.manageLink a:hover {
	color: #099;
}
.panelHead {
	background: url(../images/profiles/panel_bg.png) repeat-x;
	width: 100%;
	padding-left: 7px;
}
.panelHeadBlue {
	background: url(../images/profiles/panel_bg_blue.png) repeat-x;
	width: 100%;
	padding-left: 7px;
}
.resultShelf {
	padding: 2px 8px 2px 11px;
	font-size: 12px;
}
.resultBlock {
	padding-top: 2px;
	padding-bottom: 10px;
}
.resultBar {
	background: url(../images/profiles/form_label_bg.png) repeat-x;
	padding-top: 2px;
	padding-bottom: 2px;
	font-size: 12px;
}
.resultItem {
	padding: 4px 8px 8px 11px;
	clear: both;
	font-size: 11px;
}
.resultItem h3 {
	font-size: 14px;
	margin-bottom: 2px;
	margin-top: 0px;
	font-weight: bold;
	color: #333;
}


.resultPreview {
	float: left;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 11px;
}
.resultActions {
	float: right;
	padding-top: 2px;
	padding-right: 11px;
	padding-bottom: 2px;
	text-align: right;
}

.resultShelf p {
	margin-top: 0px;
	margin-bottom: 4px;
}


.panelTop {
	background: url(../images/profiles/panel_top.png) repeat-x;
	width: 100%;
}
.panelHead {
	background: url(../images/profiles/panel_bg.png) repeat-x;
	width: 100%;
	font-weight:bold;
}
.usageContent {
	width: 100%;
	font-size: 13px;
	background: #FFF;
	padding-left: 1px;
	padding-right: 1px;
}
.usageShelfType {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 11px;
	width: 20%;
}
.usageShelfLocation {
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 11px;
	width: 50%;
}
.usageShelfUpdated {
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 11px;
	width: 30%;
}



.usageTypeCell {
	vertical-align: middle;
	padding-top: 7px;
	padding-bottom: 7px;
	padding-left: 11px;
	border-top: 1px solid #D7DAE8;
}
.usageTypeCellFirst {
	vertical-align: middle;
	padding-top: 7px;
	padding-bottom: 7px;
	padding-left: 11px;
}
.usageLocationCell {
	vertical-align: middle;
	padding-top: 7px;
	padding-bottom: 7px;
	padding-left: 11px;
	width: 43%;
	border-top: 1px solid #D7DAE8;
}
.usageLocationCellFirst {
	vertical-align: middle;
	padding-top: 7px;
	padding-bottom: 7px;
	padding-left: 11px;
}
.usageUpdatedCell {
	vertical-align: middle;
	padding-top: 7px;
	padding-bottom: 7px;
	padding-left: 11px;
	width: 43%;
	border-top: 1px solid #D7DAE8;
}
.usageUpdatedCellFirst {
	vertical-align: middle;
	padding-top: 7px;
	padding-bottom: 7px;
	padding-left: 11px;
}

.dashDivider, .dashDividerLabelBlue, .dashDividerTotalBlue, .dashDividerQuestion, .dashDividerAnswers, .dashDividerProfiles, .dashDividerReports {
	font-size: 13px;
	color: #333;
	padding: 8px 5px 8px 10px;
	vertical-align: top;
	background: #EAF6FB url(../images/profiles/form_label_bg.png) repeat-x;
	border-bottom: 1px solid #FFF;
	font-weight: bold;
	border-top: 1px solid #FFF;
}
.dashDividerLabelBlue {
	border-bottom: 2px solid #FFF;
	width: 90%;
	border-top: 2px solid #FFF;
}
.dashDividerTotalBlue {
	padding: 8px;
	width: 5%;
	border-bottom: 2px solid #FFF;
	text-align: center;
	border-top: 2px solid #FFF;
}
.dashDividerQuestion {
	width: 30%;
}
.dashDividerAnswers {
	width: 18%;
}
.dashDividerProfiles {
	width: 15%;
}
.dashDividerReports {
	width: 20%;
}

.dashItem {
	padding-left: 10px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-top: 1px solid #D7DAE8;
}
.dashItemsTD {
	padding-left: 10px;
	padding-top: 4px;
	padding-bottom: 4px;
	text-align:left;
	border-bottom:1px solid #DADBDE;
}
.dashItemsIcons a {
	padding:4px;
}
.profiles_no {
	display:inline;
	margin-top:-10px;
	border:solid 1px red;
}
.profileNo {
	float:left;
	width:20px;
	height:20px;
	padding:1px 0px 0px 4px;
}

.profileNo a {
	text-decoration: none;
}
.profileNo a:link, .profileNo a:visited {
	color: #0066D4;
}
.profileNo a:hover, .profileNo a:active {
	color: #099;
}

.dashItemFirst {
	padding-left: 10px;
	padding-top: 2px;
	padding-bottom: 4px;
}
.dashTotal {
	text-align: center;
	border-top: 1px solid #D7DAE8;
}
.dashTotalFirst {
	text-align: center;
}
.libraryItem {
	padding-left: 10px;
	padding-top: 8px;
	padding-bottom: 8px;
	width: 30%;
	border-top: 1px solid #D7DAE8;
}
.libraryItemFirst {
	padding-left: 10px;
	padding-top: 8px;
	padding-bottom: 8px;
	width: 30%;
}

.libraryCount {
	text-align: center;
	width: 20%;
	border-top: 1px solid #D7DAE8;
}
.libraryCountFirst {
	text-align: center;
	width: 20%;
}

.libraryIcon {
	text-align: center;
	width: 5%;
	border-top: 1px solid #D7DAE8;
	padding-right: 8px;
}
.libraryIconFirst {
	text-align: center;
	width: 5%;
	padding-right: 8px;
}
.libraryShelfCol1 {
	width: 30%;
}
.libraryShelfCol234 {
	text-align: center;
	width: 20%;
	padding-bottom: 6px;
	padding-top: 2px;
}
.libraryShelfCol56 {
	width: 5%;
}
.shelfEmpty {
	height: 24px;
	padding: 0px;
}
.clear_div {
	clear: both;
}



.profile_setup_table td {
	padding:2px 0px 5px 0px;	
}
.profile_setup_table form,
.profile_setup_table label,
.profile_setup_table input,
.profile_setup_table textarea {
	margin:0px;
	padding:0px;
	width:230px;
	font-size:13px;
}
.profile_setup_table select {
	margin:0px;
	padding:0px;
	width:234px;
	font-size:13px;
}
.purple_cell {
	background-color:#E8E9EE;
	border-left:1px solid #fff;
	border-right:1px solid #fff;
}
.purple_cell_drag {
	background-color:#E8E9EE;
	font-size:13px;
	padding:10px 0px 10px 0px;
	border-left:1px solid #fff;
	border-right:1px solid #fff;
}
.dragItemsTable {
	background-color:#fff;
	font-size:12px;
	padding:5px 0px 5px 0px;
}
.dragItemsTable ul{
	margin:0;
	padding:0;
	list-style-type:none;
	display:block;
	color:#000;
	font-size:11px;
}
.dragItemsTable li{
	margin:0;
	padding:0;
	display:block;
	list-style-type:none;
	border:1px solid #B7BBD5;
	padding:6px 10px 6px 10px;
	margin:5px 0px 5px 0px;
	color:#000;
	cursor:pointer;
}
.dragItems_createNew {
	background-color:#fff;
	font-size:12px;
	padding:0px 0px 0px 0px;
}
.dragItems_createNew ul{
	margin:0;
	padding:0;
	list-style-type:none;
	display:block;
	color:#000;
	font-size:11px;
}
.dragItems_createNew li{
	margin:0;
	padding:0;
	display:block;
	list-style-type:none;
	background:url(../images/profiles/cms_profiles_icon_add.gif) no-repeat;
	background-position:3px 4px;
	background-color:#E6F5EB;
	border:1px solid #A5DAB6;
	padding:6px 10px 6px 28px;
	margin:3px 0px 3px 0px;
	color:#000;
	cursor:pointer;
}
.dragItems_save {
	background-color:#fff;
	font-size:12px;
	padding:0px 0px 0px 0px;
}
.dragItems_save ul{
	margin:0;
	padding:0;
	list-style-type:none;
	display:block;
	color:#000;
	font-size:11px;
}
.dragItems_save li{
	margin:0;
	padding:0;
	display:block;
	list-style-type:none;
	background:url(../images/profiles/cms_profiles_icon_profile.gif) no-repeat;
	background-position:3px 4px;
	background-color:#F4F2F7;
	border:1px solid #B7BBD5;
	padding:6px 10px 6px 28px;
	margin:3px 0px 3px 0px;
	color:#000;
	cursor:pointer;
}

.dragItem {
	float:left;
	width:248px;
	text-align:left;
	display:block;
}
.dragItemTop {
	float:left;
	width:100%;
	border:0px;
	display:block;
}
.dragItemContent {
	float:left;
	width:230px;
	background-color:#fff;
	color:#000;
	border-left:1px solid #B8BCD5;
	border-right:1px solid #B8BCD5;
	padding:2px 8px 2px 8px;
	display:block;
}
.dragItemContentGreen {
	float:left;
	width:230px;
	font-style:italic;
	background-color:#E6F5EB;
	color:#000;
	border-left:1px solid #9BD6AE;
	border-right:1px solid #9BD6AE;
	padding:2px 8px 2px 8px;
	display:block;
}
.dragItemBase {
	float:left;
	width:100%;
	border:0px;
	padding-bottom:3px;
	display:block;
}
.dragItemA {
	display:block;
	text-decoration:none;
	color:#000;
	cursor:pointer;
}
.clearBoth {
	clear:both;
}

.libraryBuildPurple {
	padding:9px;
	border-bottom:1px solid #fff;
}
.libraryBuildH1 {
	background:url(../images/profiles/library_panel_question_gradiet.png) repeat-x;
	height:32px;
	border-bottom:1px solid #E5E5E5;
	padding:0px 10px 0px 11px;
	font-size:13px;
	font-weight:bold;
}
.libraryBuildH1Copy {
	padding-top:7px;
}
.libraryBuildH2_container {
	background:url(../images/profiles/library_panel_question_gradiet.png) repeat-x;
	border-bottom:1px solid #E5E5E5;
}
.libraryBuildH2 {
	float:left;
	height:26px;
	font-size:13px;
	font-weight:bold;
	padding:6px 10px 0px 15px;
}
.libraryBuildH2_spacer {
	float:left;
	width:55px;
	height:32px;
	background-color:#fff;
}
.libraryBuildList {
	height:32px;
	border-bottom:1px solid #E5E5E5;
	padding:0px 10px 0px 55px;
	font-size:13px;
}
.libraryBuildH2List {
	height:32px;
	border-bottom:1px solid #E5E5E5;
	padding:0px 10px 0px 93px;
	font-size:13px;	
}
.libraryBuildH1 img {
	padding:5px 8px 0px 0px;
}
.libraryPreview {
	text-align:middle;
	background-color:#F0F2F7;
}
.libraryPanelBottom {
	background: url(../images/profiles/library_panel_bottom_bg.png) repeat-x;
	width: 100%;
}
.librarySearchProfileH1 {
	border-bottom:1px solid #DADBDE;
	/*background:url(../images/profiles/library_panel_question_gradiet.png) repeat-x; */
	background: url(../images/profiles/profiles_list_bg.png) repeat-x;
	height:30px;
	padding:0px 10px 0px 11px;
	font-size:13px;
	font-weight:bold;
}
.librarySearchProfileH1_icons {
	border-bottom:1px solid #DADBDE;
	/* background:url(../images/profiles/library_panel_question_gradiet.png) repeat-x;
	height:35px; */
	background: url(../images/profiles/profiles_list_bg.png) repeat-x;
	height:30px;
}
.librarySearchProfile {
	border-bottom:1px solid #DADBDE;
	background-color:#F3F4F7;
	height:32px;
	font-size:13px;
	font-weight:100;
	padding:4px 0px 4px 10px;
	text-align:left;

}
.librarySearchProfileLeft {
	border-bottom:1px solid #DADBDE;
	padding-left:27px;
	background-color:#F3F4F7;
	height:32px;
	font-size:13px;
	font-weight:100;
}
.librarySearchProfile_icons {
	border-bottom:1px solid #DADBDE;
	height:35px;
	background-color:#F3F4F7;
}

/** LIGHTBOX **/
#runwayLBMain{
background-color:#FFFFFF;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color:#333;
}

#runwayLBMain table td {
padding:3px 0px;
}

.runwayLBBar {
background-image:url(../images/profiles/lb_topRep.jpg);
background-repeat:repeat-x;
height:29px;
}

.runwayLBBorderBttm{
border-bottom:1px solid #B7BBD5;
font-size:0px;
background-color:#D0D3E3;
padding:2px 0px 2px 0px
}

.runwayLBBorderBttm a img{
padding:8px 0px;
}

.runwayLBBorderRight{
border-right:1px solid #B7BBD5;
font-size:0px;
}

.runwayLBBorderLeft{
border-left:1px solid #B7BBD5;
font-size:0px;
}

.runwayLBCornerRight{
border-bottom:1px solid #B7BBD5;
border-right:1px solid #B7BBD5;
background-color:#D0D3E3;
font-size:0px;
}

.runwayLBCornerLeft{
border-bottom:1px solid #B7BBD5;
border-left:1px solid #B7BBD5;
background-color:#D0D3E3;
font-size:0px;
}

.runwayLBCorner {
font-size:0px;
width:2px;
padding:0px;
margin:0px;
}

#runwayLBTitle{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:13px;
color:#333333;
padding:0px 0px 0px 10px;
}

#runwayLBContent{
padding:10px 0px 5px 0px;
}

#runwayLBContentScroll{
overflow:auto;
height:500px;
}

.runwayLBPlainShadowBox {
background-image:url(../images/profiles/lb_plainShadow.jpg);
background-repeat:repeat-x;
height:4px;
}

.runwayLBDarkShadowBox {
height:30px;
background-image:url(../images/profiles/lb_darkShadow.jpg);
background-repeat:repeat-x;
background-color:#E8E9EE;
padding:8px 0px 0px 0px;
border-bottom:1px solid #CCCCCC;
}

/*similar style may be already included?*/
.clearBoth {
clear:both;
font-size:0px;
}
/** END LIGHTBOX **/

#questionBoxTop {
padding:8px 15px 3px 11px;
}

.questionField {
width:100%;
}

#runwayLBMain table .LBProfileQuestionHeadings {
height:30px;
background:url(../images/profiles/blueGradRep.jpg) repeat-x;
padding:0px 10px;
font-weight:bold;
border-bottom:none;
}

.profileQuestionOrder {
padding:0px;
margin:0px;
}

.profileQuestionOrder li {
list-style:none;
padding:2px;
margin:0px;
font-size:0px;
}

#runwayLBMain table .profileQuestionValueField {
width:30px;
padding:0px 10px;
}

#runwayLBMain table .profileQuestionAnswerField {
padding:0px 10px;
}

#profileQuestionMain td, #profileQuestionMain2 td {
border-bottom:1px solid #E5E5E5;
}

#runwayLBMain table .profileQuestionDisplay {
padding:5px 10px;
}

#runwayLBMain table .profileQuestionAddAnswer {
padding:5px 10px 15px 10px;
}

.profile_pagination_shell {
	background-color:#E4E6E9;
	height:32px;
}
.profile_pagination_table {
	font-size:14px;
	color:#000;
}
.profile_pagination_table ul, .profile_pagination_table li {
	list-style-type:none;
	display:block;
	margin:0;
	padding:0;
}
.profile_pagination_inactive {
	color:#AAA;
}
.popup_saveProfile_table {
	font-size:12px;
}
.popup_saveProfile_table td {
	padding:10px;
}
.popup_saveProfile_table form,
.popup_saveProfile_table label,
.popup_saveProfile_table input,
.popup_saveProfile_table textarea,
.popup_saveProfile_table select {
	margin:0;
	padding:0;
	font-size:12px;
}
.popup_saveProfile_table select {
	width:200px;
}
.tickbox_table {
	font-size:10px;
	text-align:left;
}

/* news css styles for reports added by Drewe */
.sidePanelSelectedReports {
	background: #FFF;
	width: 100%;
	padding: 1px 0px 0px 0px;
	font-size: 13px;
}

.sidePanelSelectedReports ul {
padding:0px;
margin:0px;
}

.sidePanelSelectedReports p {
float:left;
margin:0px;
}

.sidePanelSelectedReports ul li {
list-style:none;
border-bottom:1px solid #E5E5E5;
padding:8px 0px 8px 10px;
height:17px;
clear:both;
}

.sidePanelSelectedReports ul li ul{
float:left;
padding:0px 10px 0px 0px;
}

.sidePanelSelectedReports ul li li{
border:none;
padding:0px;
height:12px;
}

.itemIcon {
float:left;
padding:0px 10px 0px 0px;
}

.rightArrowEdge {
float:right;
width:15px;
margin:0px 10px 0px 0px;
}

#quickSearch {
width:300px;
float:left;
margin:0px;
padding:2px 0px 0px 0px;
line-height:24px;
}

#quickSearch img {
vertical-align:middle;
padding:0px 0px 2px 0px;
}

.filterMenu {
margin:0px;
display:inline;
float:right;
font-size:15px;
padding:5px 0px 0px 0px;
}

.filterMenuItem {
list-style:none;
display:inline;
margin:0px 20px 0px 0px;
}

.sideBarOptions {
	background-color:#E8E9EE;
	font-size:13px;
	padding:10px 0px 10px 0px;
	border-left:1px solid #fff;
	border-right:1px solid #fff;
	padding:6px 0px 7px 10px;
}

tr.shareStyle {
	background: #EAF6FB url(../images/profiles/form_label_bg.png) repeat-x;	
	font-family: Arial, Helvetica, sans-serif;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom:1px solid #DADBDE;
	font-size:14px;
	font-weight:bold;
}

/* END css added by Drewe */