body	{
	font-family:Arial, Helvetica, sans-serif;
}

.chromestyle{
	width: 19px;
	height:19px;
	float:left;
}

.chromestyle:after{ /*Add margin between menu and rest of content in Firefox*/
	content: "."; 
	display: block; 
	height: 0; 
	clear: both; 
	visibility: hidden;
}

.chromestyle ul{
	width: 400px;
	padding: 0;
	margin: 0;
	text-align: left; /*set value to "left", "center", or "right"*/
}

.chromestyle ul li{
	display: inline;
}

/* text menu link style */

.chromestyle ul li a{
	color: #494949;
	padding: 0px 0px;
	margin: 0;
	text-decoration: none;
}

.chromestyle ul li a:hover, .chromestyle ul li a.selected{ /*script dynamically adds a class of "selected" to the current active menu item*/
	/*background:#937262; THEME CHANGE HERE*/
}

/* ######### Style for Drop Down Menu ######### */

.dropmenudiv{
	position:absolute;
	top: 0; left: 0;
	/*border: 1px solid #BBB; /*THEME CHANGE HERE*/
	border-bottom:2px solid #ccc;
	border-right:2px solid #ccc;
	font:normal 12px Arial;
	line-height:18px;
	z-index:100;
	background-color: white;
	width: 150px;
	visibility: hidden;
	filter: progid:DXImageTransform.Microsoft.Shadow(color=#CACACA,direction=135,strength=4); /*Add Shadow in IE. Remove if desired*/
}


.dropmenudiv a{
	width: auto;
	display: block;
	text-indent: 5px;
	/*border-bottom: 1px solid #BBB; THEME CHANGE HERE*/
	padding: 2px 0;
	text-decoration: none;
	color: black;
}

* html .dropmenudiv a{ /*IE only hack*/
	width: 100%;
}

.dropmenudiv a:hover{ /*THEME CHANGE HERE*/
	background-color: #F0F0F0!important;
	color:#000;
}

.grey	{
	background:#dddeeb;
}

.dropmenudiv #companiesLink	{
	background:#6DCE3C;
	border-bottom:1px solid #248500;
	border-left:1px solid #248500;
	border-right:1px solid #248500;
	border-top:1px solid #248500;
}

.dropmenudiv #contactsLink	{
	background:#18A4D5;
	border-bottom:1px solid #005B8C;
	border-left:1px solid #005B8C;
	border-right:1px solid #005B8C;
}

.dropmenudiv #notesLink	{
	background:#9471FF;
	border-bottom:1px solid #4B28B6;
	border-left:1px solid #4B28B6;
	border-right:1px solid #4B28B6;
}

.dropmenudiv #responsesLink	{
	background:#E07407;
	border-bottom:1px solid #972B00;
	border-left:1px solid #972B00;
	border-right:1px solid #972B00;
}

.dropmenudiv #leadsLink	{
	background:#E5B934;
	border-bottom:1px solid #9C7000;
	border-left:1px solid #9C7000;
	border-right:1px solid #9C7000;
}

.dropmenudiv #quotesLink	{
	background:#37B5B2;
	border-bottom:1px solid #006C69;
	border-left:1px solid #006C69;
	border-right:1px solid #006C69;
}

.dropmenudiv #documentsLink	{
	background:#64E3C6;
	border-bottom:1px solid #1B9A7D;
	border-left:1px solid #1B9A7D;
	border-right:1px solid #1B9A7D;
}

.dropmenudiv #profiles	{
	background:#CC6ACD;
	border-bottom:1px solid #832184;
	border-left:1px solid #832184;
	border-right:1px solid #832184;
}

