html,body {
padding: 0px 0px 0px 0px;
margin: 0px 0px 0px 0px;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:13px;
}

body {
height: 100%;
}

#runwayMapsLBMain{
background-color:#FFFFFF;
height: 100%;
}

.runwayMapsLBBar {
background-image:url(../images/lb_topRep.jpg);
background-repeat:repeat-x;
}

.runwayMapsBorderBttm{
border-bottom:1px solid #B7BBD5;
font-size:0px;
}

.runwayMapsBorderRight{
border-right:1px solid #B7BBD5;
}

.runwayMapsBorderLeft{
border-left:1px solid #B7BBD5;
}

.runwayMapsLBCorner{

}

#runwayMapsLBTitle{
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 13px;
color: #333333;
}

#runwayMapsLBContent{
padding:10px 0px 5px 0px
}

.optionContent{
}

.reportcount{
text-align: center;
}