BODY {
	background-color: #EDEFF1;
	font-size: 10px;
	font-family: Arial, Helvetica, sans-serif;
	color: #444444;
	margin: 0px;
}

.shadowbar {
	background-image: url(../images/shadowbar_bg.gif);
	text-align: left;
}

.itemlists {
	text-align: right;
	color: #707070;
	padding-right: 86px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.emailrowdark {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	text-align: left;
	line-height: 20px;
	background-color: #c6d1dc;
}

.emailrowlight {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	text-align: left;
	line-height: 20px;
	background-color: #d9e0e8;
}

.emailrowdark {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	text-align: left;
	line-height: 20px;
	background-color: #c6d1dc;
}

.emailrowlight {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	text-align: left;
	line-height: 20px;
	background-color: #d9e0e8;
}
.addressinfotitles {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align: right;
	color: #FFFFFF;
	background-color: #636c7f;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-top-color: #FFFFFF;
	border-right-color: #FFFFFF;
	border-bottom-color: #FFFFFF;
	border-left-color: #FFFFFF;
	font-weight: bold;
	text-align: right;
	height: 25px;
}
.addressinfo {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #000000;
	background-color: #C6D1DC;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-top-color: #FFFFFF;
	border-right-color: #FFFFFF;
	border-bottom-color: #FFFFFF;
	border-left-color: #FFFFFF;
	vertical-align: middle;
	height: 25px;
}
.addressinfoedit {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #000000;
	background-color: #C6D1DC;
	vertical-align: middle;
	height: 25px;
}
.addressinfoeditbottom {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #000000;
	background-color: #C6D1DC;
	vertical-align: bottom;
	height: 25px;
}

.bottomBorder {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-bottom-style: solid;
	border-top-color: #636C7F;
	border-right-color: #636C7F;
	border-bottom-color: #636C7F;
	border-left-color: #636C7F;
}
.emailbody {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	background-color: #EDEFF1;
	text-align: left;
	vertical-align: top;
	border: #666666;
}
.addressfield {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.bodyfield {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.emailbar {
	background: url(../images/inbox_titlebar_bg.gif);
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
}
.searchfieldfullwidth {
	width: 100%;
}
.searchfieldautowidth {
	width: 95%;
}
.searchfieldshort {
	width: 120px;
}
.searchfieldautohalfwidth {
	width: 40%;
}
.listdetailfield {
	font-size: 12px;
	font-weight: bold;
}
.boxTitleDark {background-image:   url(../images/interface/box_title2_dark.gif); font-size: 12px; font-weight: normal; vertical-align: middle; height: 22px; color: #FFFFFF;}
a.closewin {color: #EEEEEE}
a:hover.closewin {color: #FFFFFF}
a:visited.closewin {color: #EEEEEE}
