@charset "utf-8";
/* CSS Document */

/* this png fix is probably already included and not needed */
/*img, div, input { behavior: url("iepngfix.htc") }*/
/* end png fix */

body {
background-color:#666666;
}

#runwayLBMain{
background-color:#FFFFFF;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color:#333;
}

#runwayLBMain table td {
padding:3px 0px;
}

.runwayLBBar {
background-image:url(../images/lb_topRep.jpg);
background-repeat:repeat-x;
height:29px;
}

.runwayLBBorderBttm{
border-bottom:1px solid #B7BBD5;
font-size:0px;
background-color:#D0D3E3;
padding:2px 0px 2px 0px
}

.runwayLBBorderBttm a img{
padding:8px 0px;
}

.runwayLBBorderRight{
border-right:1px solid #B7BBD5;
font-size:0px;
}

.runwayLBBorderLeft{
border-left:1px solid #B7BBD5;
font-size:0px;
}

.runwayLBCornerRight{
border-bottom:1px solid #B7BBD5;
border-right:1px solid #B7BBD5;
background-color:#D0D3E3;
font-size:0px;
}

.runwayLBCornerLeft{
border-bottom:1px solid #B7BBD5;
border-left:1px solid #B7BBD5;
background-color:#D0D3E3;
font-size:0px;
}

.runwayLBCorner {
font-size:0px;
width:2px;
padding:0px;
margin:0px;
}

#runwayLBTitle{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:13px;
color:#333333;
padding:0px 0px 0px 10px;
}

#runwayLBContent{
padding:10px 0px 5px 0px;
}

#runwayLBContentScroll{
overflow:auto;
overflow-x:hidden;
height:412px;
width:600px;
}

.runwayLBPlainShadowBox {
background-image:url(../images/lb_plainShadow.jpg);
background-repeat:repeat-x;
height:4px;
}

/*similar style may be already included?*/
.clearBoth {
clear:both;
font-size:0px;
}

/**************** Note Preview CSS ****************************/
.runwayLBDarkShadowBox {
background-image:url(../images/lb_darkShadow.jpg);
background-repeat:repeat-x;
background-color:#E8E9EE;
padding:5px 0px;
border-bottom:1px solid #CCCCCC;
}

#runwayNotePreviewNavRight {
float:right;
text-align:right;
width:50%;
}

#runwayNotePreviewNavRight a {
padding:2px 10px 2px 0px;
color:#333333;
}

#runwayNotePreviewNavRight span{
padding:2px 10px 2px 0px;
color:#333333;
}

#runwayNotePreviewNavRight a:hover {
text-decoration:none;
}

#runwayNotePreviewNavLeft {
float:left;
text-align:left;
width:50%;
}

#runwayNotePreviewNavLeft a {
padding:2px 0px 2px 10px;
color:#333333;
}

#runwayNotePreviewNavLeft a:hover {
text-decoration:none;
}

.runwayLBLightBox {
background-color:#F7F7F7;
border-bottom:1px solid #DFDFDF;
padding:2px 0px;
font-size:12px;
font-family:Arial, Helvetica, sans-serif;
color:#333333;
}

.runwayLBLightBox span {
font-size:12px;
font-family:Arial, Helvetica, sans-serif;
color:#333333;
}

.runwayNotePreviewContent{
padding:10px 20px 10px 10px;
}

.runwayNotePreviewContent p{
color:#666666;
line-height:130%;
}

.runwayNotePreviewContent h3{
font-size:10px;
text-align:right;
font-weight:normal;
margin:0px;
}

.runwayNotePreviewContent h3 span{
color:#666666;
}

.runwayNotePreviewContent h1{
font-size:16px;
margin:0px;
}

.runwayNotePreviewInfoHead span{
padding:0px 5px 0px 0px;
color:#666666;
}
