
table { font-family: Arial, Helvetica, sans-serif; }

a {color: #000099}
a:hover {color: #FF0000}
a:visited {color: #660099}
a.linkActions {font-size: 12px;}
a:visited.linkActions {color: #000099}

.treeRowSelector:hover {background-color:#EDEFF1; }

.detailview {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 18px;
	font-weight: normal;
	color: #555555;
}

.detailtitle {
	font-size: 16px;
	font-weight: bold;
}

.bodyCell {padding-right: 15px; padding-left: 15px;}
.bodyMargin {width: 10px;}

.cellPaddingRight {padding-right: 15px; }

.popupTitleCell {padding-right: 15px; padding-left: 15px;}
.popupListCellActions, .popupListCell, .popupListCellAttach, .popupListCellBasic {
	padding-right: 15px; 
	padding-left: 15px;
	position:static ; 
	background-color:#ffffff; 
	overflow:auto;
}
.popupListCellActions { height: 350px ; }
.popupListCellAttach { height: 300px ; }
.popupListCell { height: 380px ; }
.popupContent { margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; }

.boxListTop {background-image:   url(../images/interface/darkdivider.gif); width: 10px; height: 5px;}
.boxListBottom {background-image:   url(../images/interface/darkdivider.gif); width: 10px; height: 5px;}

.boxColumnTitleBG {font-size: 11px; color: #666666; height: 16px; padding-right: 5px; }
.boxActionsBG {background-image:  url(../images/interface/box_background_actions.gif); background-repeat: repeat-x; font-size: 12px; color: #333333; height: 30px; padding-right: 20px; }

.boxBackground, .boxwithnavBackground, .boxBackgroundTable, .boxBackgroundActions, .boxBackgroundTableActions, .boxBackgroundForm {background-color: #FFFFFF; font-size: 11px; border-right-width: 1px; border-left-width: 1px; border-right-style: solid; border-left-style: solid; border-right-color: #999999; border-left-color: #999999; }
.boxBackground {padding-top: 5px;}
.boxBackgroundTable {background-image:  url(../images/interface/box_background_table.gif);background-repeat: repeat-x;}
.boxBackgroundActions {background-image:  url(../images/interface/box_background_actions.gif); background-repeat: repeat-x; }
.boxBackgroundTableActions {background-image:  url(../images/interface/box_background_table_actions.gif); background-repeat: repeat-x;}
.boxBackgroundForm {background-color: #D8DCE5; padding-top: 5px; }
.boxBackgroundPopupTable {background-image:  url(../images/interface/box_background_table.gif);background-repeat: repeat-x; background-color: #FFFFFF;}
.boxBackgroundPopupTableActions {background-image:  url(../images/interface/box_background_table_actions.gif); background-repeat: repeat-x;}
.boxwithnavBackground {border-left-width: 0px; border-right-width: 1px; border-right-color: #999999; height: 100%;}

.boxTitleDark {background-image:   url(../images/interface/box_title2_dark.gif); font-size: 12px; font-weight: normal; vertical-align: middle; height: 22px; color: #FFFFFF;}


.textSmall {font-size: 10px;}
.textMedium {font-size: 11px;}
.textLarge {font-size: 12px;}
.textListRowSmallPlain {font-size: 10px; padding-top: 3px; padding-bottom: 3px; text-align: left;}
.textListRowSmallTitle {font-size: 11px; font-weight: bold; color: #666666; padding-top: 3px; padding-bottom: 3px;}
.textListRowMediumPlain {font-size: 14px; padding-top: 4px; padding-bottom: 4px; white-space:normal;}
.textListRowMediumPlain small{
	font-size: 10px;
}
.textListRowMediumTitle {font-size: 11px; font-weight: bold; color: #666666; padding-top: 4px; padding-bottom: 4px;}
.textListRowMediumBold {font-size: 11px; font-weight: bold; color: #666666; padding-top: 4px; padding-bottom: 4px;}
.textListRowMediumRed, .textListRowMedium, .textListRowLarge, .textListRowMediumBold, .textListRowMediumDivider{ border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #999999; height: 25px; }
.textListRowMediumRed, .textListRowMedium { font-size: 11px; padding-right: 5px; text-align: left}
.textListRowMediumRed {color: red;}
.textListRowMediumRed a {color: red;}
.textListRowMediumRed a:visited {color: #BB0000;}
.textListRowMediumDivider { font-size: 11px; padding-right: 5px; background-color: #EDEFF1; font-weight: bold;  }
.textListRowLarge { font-size: 12px; }
.textFormRowSmall, .textFormRowMedium, .textFormRowLarge  { border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #FFFFFF; color: #666666; padding-top: 3px; padding-bottom: 3px;}
.textFormRowMedium { font-size: 11px; font-weight: bold;}
.textFormRowLarge { font-size: 12px; font-weight: bold;}
.textFormRowSmall { font-size: 11px;}

.textVersion {font-size: 11px; color: gray; background-color: #FFFFFF;}
.titleSideBar {font-size: 12px; height: 20px; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #666666;}
.titlePage {font-size: 16px; font-weight: bold; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #666666; padding-bottom: 10px;}

.headerTabPanelBG {background-image: url(../images/interface/tabPanel_bg.gif); background-repeat: repeat-x;}

.formFieldFull { width:100%;}
.formFieldHalf{ width:50%;}
.formSideBarFieldWidth { width: 140px; }
.formFieldWidthFull { width: 100%; }
.formFieldLogin { 
	width: 220px; 
	border:1px solid #CCCCCC;
	margin:3px 0px 3px 3px;
}
.formField200px { width: 200px; }
.formField160px { width: 160px; }
.formField80px { width: 80px; }

.shadowbar { background-image: url(../images/interface/shadowbar_bg.gif);}.paddedCell {
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
}

.hide { display:none; }
.actuator {  padding-left: 18px; background-repeat: no-repeat;}
.staticpopuprow {  position:relative; }

.shadowtext {
	font-size: 12px;
	color: #333333;
	text-decoration: none;
	vertical-align: -1%;
}

.shadeBar {background-image: url(../images/tabui/titleshade_bg.gif);}

.dividerGrey, .dividerLightGrey {border-top-width: 1px; border-top-style: solid; border-top-color: #999999;}
.dividerLightGrey {border-top-color: #CCCCCC;}

.dividerGreyThink, .dividerLightGreyThick {border-top-width: 2px; border-top-style: solid; border-top-color: #999999;}
.dividerLightGreyThick {border-top-color: #CCCCCC;}

.error {font-size: 11px; color: red;}
.mandatory {font-size: 14px; color: red; font-weight: bold;}

.quicksearch {
    border: 1px solid #CC2244;
}

#territories-container #map {
    width: 100%;
    height: 800px;
}

#territories-container h3 {
    font-size: 1.3em;
    font-weight: bold;
    margin-bottom: 3px;
}

#territories-container #side-bar {
    width: 250px;
    vertical-align: top;
}

#territories-container td {
    height: 41px;
    border-bottom: 1px solid #D7DAE8;    
}

#territories-container #main-content {
    border: 1px solid #667788;
    padding: 0;
}

#territories-container tr.listrowstyle {
    background: #EEEEEE;
}

#territories-container tr.listrowstyle:hover {
    background: white;
}

#select-state-dialog h3 {
    font-size: 1em;
    font-weight: bold;
    padding-bottom: 5px;
}

#selected-suburbs td {
    padding: 5px;
}

.ui-tabs .ui-tabs-hide {
     display: none;
}
/* styles for report data tables. */
.chartData td { 
	text-align: center;
	padding: 2px;
}
.chartData td.detailtitle { 
	text-align: left;
}
.chartData td.link { 
	text-align: right;
}
.chartData td.info { 
	padding: 0; 
}
.chartData td.total { 
	background-color: #F0F0F0;
}
.chartData td.first { 
	text-align: left;
}