@charset "utf-8";
/* CSS Document created by Lachlan Taylor 20/7/08 */

/* Global CSS Reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

/* remember to define focus styles! */
:focus {
	outline:0;
}

* :focus {
	outline:0; 
}

p { 
	padding-bottom:11px; 
	font-family:Verdana, Helvetica, Arial, sans-serif; 
	font-size:13px; 
	line-height:19px; 
} 

body {
	font-size:13px;
	font-family:Arial, Helvetica, sans-serif;
	color:#333333;
	margin:0;
	padding:0;
	background:#3F4129 url(../images/background.jpg) top center no-repeat;
}

#hc_logo	{
	width:143px;
	padding:10px 0 0 30px;
	float:left;
}

#dfc_logo	{
	 float:right; 
	 padding:5px 20px 0 0;
}

/* IE6 PNG FIX */
img, div, td, li, table {
	behavior: url(iepngfix.htc);
	behavior: url(iepngfixbg.htc);
}

.content	{
	background-color:#D1D3AE;
	background:#D1D3AE url(../images/content_bg.jpg) top center no-repeat;
	padding:15px 40px 40px 40px;
	min-height:590px;
}

h1 { 
	margin:12px 0 7px 0; 
	padding-bottom:5px;
	font-family:Verdana, Arial, Helvetica, sans-serif; 
	font-size:14px; 
	font-weight:normal; 
	color:#333333; 
	display:block; 
}

.hidden	{
	display:none;
}

/*- Menu Tabs--------------------------- */ 

#tabs {
	float:left;
	width:100%;
	background:#BBD9EE;
	font-size:93%;
	line-height:normal;
	background:url(../images/menu/navbar_bg.jpg) top left repeat-x;
	font-family:"Myriad", "Myriad Pro", Verdana, Arial, Helvetica, sans-serif;
	font-size:14px;
	height:31px;
}
#tabs ul {
	margin:0;
	padding:0px 10px 0 15px;
	list-style:none;
  }
#tabs li {
	display:inline;
	margin:0;
	padding:0;
}
#tabs a {
	float:left;
	background:url("tableft.gif") no-repeat left top;
	margin:0;
	padding:0 5px 0 5px;
	text-decoration:none;
}
#tabs a span {
	float:left;
	display:block;
	background:url("tabright.gif") no-repeat right top;
	padding:6px 10px 7px 10px;
	color:#000000;
}

/* Drop down menu */

.menu .options {
	margin-right:1px;
	margin-bottom:1px;
	background-color:#A5A96B;
}
.menu a {
	color:#ffffff;
	display:block;
	padding:4px 10px;
	text-decoration:none;
	background-color:#a5a96b;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
}
.menu a:hover {
	background-color:#737742;
	color:#ffffff;
}
 
/* Commented Backslash Hack hides rule from IE5-Mac \*/
#tabs a span {float:none;}
/* End IE5-Mac hack */

#tabs a:hover {
	background:url(../images/menu/navbar_over.png) bottom center no-repeat;
}

/* Breadcrumb */

.breadcrumb	{
	background:url("../images/menu/breadcrumb_bg.jpg") top left repeat-x;
	height:25px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	padding:0px 0 0 30px;
	color:#104110;
}

.breadcrumb a	{
	text-decoration:none;
	color:#104110;
}

.breadcrumb a:hover	{
	text-decoration:underline;
}

.breadcrumb_active	{
	color:#333333;
}

.breadcrumb_inner	{
	padding:6px 0 0 0;
}

/* Footer */

.footer	{
	font-size:10px;
	text-align:center;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#CED2AE;
	line-height:190%;
	/*background:url(images/footer_shad.png);
	background-position:top center;
	background-repeat:no-repeat;*/
	padding:0 0 0 0;
}

.footer a	{
	text-decoration:none;
	color:#CED2AE;
}

.footer img	{
	text-align:center;
}

.footer a:hover	{
	text-decoration:underline;
}

.footer ul
{
	width:100%;
	display:inline;
	list-style:none;
	padding-top:20px;
}
.footer ul li
{
	display:inline;
	list-style:none;
	padding:5px;
} 

/* Image shadows */

.shad68{
	background:url(../images/shad_68.png) top left no-repeat;
	height:42px;
	width:76px;
}

.shad68 img	{
	width:68px;
	height:34px;
	padding:4px 0 0 4px;
}

.shad120{
	background:url(../images/shad_120.png) top left no-repeat;
	height:106px;
	width:126px;
}

.shad120 img	{
	width:120px;
	height:100px;
	padding:2px 0 0 2px;
}

.shad376{
	background:url(../images/shad_376.png) top left no-repeat;
	height:262px;
	width:384px;
}

.shad376 img	{
	width:376px;
	height:254px;
	padding:3px 0 0 3px;
}

.shad222{
	background:url(../images/shad_222.png) top left no-repeat;
	height:120px;
	width:228px;
}

.shad222 img	{
	width:220px;
	height:112px;
	padding:4px 0 0 4px;
}

.shad476{
	background:url(../images/shad_476.png) top left no-repeat;
	width:484px;
	height:255px;
}

.shad476 img	{
	width:476px;
	height:247px;
	padding:3px 0 0 3px;
}

.shad193{
	background:url(../images/shad_193.png) top left no-repeat;
	width:201px;
	height:133px;
}

.shad193 img	{
	width:193px;
	height:125px;
	padding:4px 0 0 4px;
}