BODY
{
	color: black;
	font-family: Arial,Helvetica,Geneva,Swiss,SunSans-Regular;
}
A:link
{
	color: #000000;
	text-decoration: none;
}
A:active
{
	color: #2222DD;
	text-decoration: underline;
}
A:visited
{
	color: #000000;
	text-decoration: none;	
}
LEGEND
{
	color: #555555;
}
TABLE.navTable
{
	background: #FFFFFF;
	border-style: inset;
	border-width: 1;
}
TABLE.calendar
{
	background: #FFFFFF;
	border-style: inset;
	border-width: 1;
}

TD.navCell
{
	color: #555555;
	background: #EEEEEE;
	border-style: outset;
	border-width: 1;
	text-align: center;
}
TD.weekHeader
{
	color: #444444;
	background: #EFEFEF;
	border-style: outset;
	border-width: 1;
	text-align: left;
}
TD.weekendHeader
{
	color: #777777;
	background: #EFEFEF;
	border-style: outset;
	border-width: 1;
	text-align: left;
}
.blank
{
	color: #BBBBBB;
}
.weekend
{
	color: #555555;
}

a.status:link {color: #000000; text-decoration: none; font-family:Arial, Helvetica, sans-serif;}
a.status:visited {color: #000000; text-decoration: none; font-family:Arial, Helvetica, sans-serif;}
a.status:hover {color: #ffcc00; text-decoration: underline; font-family:Arial, Helvetica, sans-serif;}

/******************************************************************************/

/* CALENDAR                                                                   */

/******************************************************************************/

/* Calendar styles */

.calendarHomeContainer              { margin:0px 10px 15px 10px; } /*width:267px;*/

.calendarHomeContainer table        { width:100%; padding:0; margin:0; border:none; }

td.calendarHome_content             { }

/* Calendar shadows */

td.calendarHome_shadow_tl,
td.calendarHome_shadow_l,
td.calendarHome_shadow_br           { width:4px; }

td.calendarHome_shadow_tr,
td.calendarHome_shadow_r,
td.calendarHome_shadow_br           { width:6px; }

td.calendarHome_shadow_bl,
tr.calendarHome_shadow_b,
td.calendarHome_shadow_br           { height:6px; }

td.calendarHome_shadow_tl,
tr.calendarHome_shadow_t,
td.calendarHome_shadow_tr           { height:4px; }

td.calendarHome_shadow_tl           { background:url(../images/calendar/calendar_home_tl.gif) top no-repeat; }
td.calendarHome_shadow_tr           { background:url(../images/calendar/calendar_home_tr.gif) top no-repeat; }
td.calendarHome_shadow_l            { background:url(../images/calendar/calendar_home_l_bg.gif) top repeat-y; }
td.calendarHome_shadow_r            { background:url(../images/calendar/calendar_home_r_bg.gif) top repeat-y; }
td.calendarHome_shadow_bl           { background:url(../images/calendar/calendar_home_bl.gif) top no-repeat; }
td.calendarHome_shadow_br           { background:url(../images/calendar/calendar_home_br.gif) top no-repeat; }
tr.calendarHome_shadow_t            { background:url(../images/calendar/calendar_home_t_bg.gif) top repeat-x; }
tr.calendarHome_shadow_b            { background:url(../images/calendar/calendar_home_b_bg.gif) top repeat-x; }


/* Month */

td.calendarHome_month_l,
td.calendarHome_month_r             { width:39px; }

td.calendarHome_month_l,
td.calendarHome_month_r,
tr.calendarHome_month_bg            { height:28px; }

tr.calendarHome_month_bg            { background:url(../images/calendar/calendar_month_bg.jpg) left repeat-x; border-right:1px solid #A7A6A5; font-size:12px; font-weight:bold; text-align:center; }

/* DOW */

table.calendarHome_dow_bg           { width:100%; height:19px; background:url(../images/calendar/calendar_dow_bg.jpg) left repeat-x; border:none; }
table.calendarHome_dow_bg td        { width:14%; padding:0.2em; background:url(../images/calendar/calendar_dow_divide.jpg) top left no-repeat; font-size:10px; text-align:center; font-weight:bold; }
td.calendarHome_dow_sun             { width:15%; background:url(../images/calendar/calendar_dow_sun.jpg) top left no-repeat; border-left:1px solid #A7A6A5; }
td.calendarHome_dow_sat             { width:15%; background:url(../images/calendar/calendar_dow_sat.jpg) top right no-repeat; border-right:1px solid #A7A6A5; }
td.calendarHome_dow                 { background:url(../images/calendar/calendar_dow_divide.jpg) top left no-repeat; }

/* DOM */

table.calendarHome_dom              { width:100%; border:1px solid #817967; border-right:none; border-bottom:none; background:#F4F5F7; color:#525B70; text-align:center;}
table.calendarHome_dom td           { width:14%; height:1.6em; border-right:1px solid #817967; border-bottom:1px solid #817967; text-align:center; vertical-align:top; font-size:9px; }
table.calendarHome_dom h1           { margin:0 0 0 0.2em; padding:0; font:10px Verdana, Arial, Helvetica, sans-serif; font-weight:normal; border:0; }
table.calendarHome_dom h2           { margin:0 0 0 0.2em; padding:0; font:12px Verdana, Arial, Helvetica, sans-serif; font-weight:bold; border: 0; }
table.calendarHome_dom h3           { margin:0 0 0 0.2em; padding:0; font:10px Verdana, Arial, Helvetica, sans-serif; font-weight:normal; border:0; color:#928A76; }
table.calendarHome_dom a            { width:100%; height:100%; display:block; text-decoration:none; }
td.calendarHome_dom_ends            { width:15%; background:#E0E2E4; }

/* Styles for selected week */

tr.calendarHome_thisweek            { background:#BFDFFF; color:#000; }
.calendarHome_thisweek a            { color:#000; }
td.calendarHome_thisweek_ends       { width:15%; background:#fff; }
td.calendarHome_appt                { background:#FAC5C8; }
td.calendarHome_selectDay           { background:#D2DCD9; }
table.calendarHome_dom a:hover      { background:#EDECDF; }
td.calendarHome_link_l              { text-align:left; padding:5px 0 0 5px; }
td.calendarHome_link_r              { text-align:right; padding:5px 8px 0 0; }

/* Calendar Cell Highlighting */

td.dayCell                          { background:#FFFFFF; } /* FFFFFF: white */
td.dayCell:hover                    { background:#EDECDF; } /* EDECDF: light yellow */
td.dayCellBlue                      { background:#BFDFFF; } /* BFDFFF: light blue */
td.dayCellBlue:hover                { background:#EDECDF; }
td.dayCellToday                     { background:#000000; } /* 000000: black */
td.dayCellToday a                   { background:#FFFFFF; }
td.dayCellToday a:hover             { background:#EDECDF; }
td.dayCellBlueToday                 { background:#000000; }
td.dayCellBlueToday a               { background:#BFDFFF; }
td.dayCellBlueToday a:hover         { background:#EDECDF; }

.dayheadercell		                  { border-right:3px double #666; border-bottom:1px solid #000; font-size:10px; color:#525B70; text-align:center; font-weight:bold; background:url(../images/calendar/calendar_month_bg.jpg) left repeat-x; }

.dayheadercellNoBorderR             { border-bottom:1px solid #000; font-size:10px; color:#525B70; text-align:center; font-weight:bold; background:url(../images/calendar/calendar_month_bg.jpg) left repeat-x; }

.celltitle			                  { height:28px; font-size:10px; font-weight:bold; border-right:3px double #666; border-bottom:1px solid #000; color:#525B70; text-align:center; background:url(../images/calendar/calendar_month_bg.jpg) top left repeat-x; }

td.borderhighlight a                { display: inline; vertical-align: middle; }
div.monthdaycellNoBorderR div a,
td.monthdaycell div a               { display: inline; vertical-align: middle; }

/******************************************************************************/

/* CALENDAR                                                                   */

/******************************************************************************/
BODY {
	font-size: 10px;
	margin: 0px, 20px, 20px, 20px;
	background-color: #FFFFFF;
}
TABLE {
	font-size: 10px;
	
}
.shadowsbar {
	background-image: url(../images/shadowbar_bg.gif);
	text-align: left;
}
.topbar {
	background-image: url(../images/navigation/master/control1st_bg.gif);
}
.calendarCell {
	background-color: #FFFFFF;
	color: #000000;
	border-top: none;
	border-right: 3px double #666666;
	border-bottom: 3px double #666666;
	border-left: none;
}
.monthcalendar {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	background-color: #FFFFFF;
	text-align: center;
	line-height: 18px;
}
.bordertl {
	border-top-width: 1px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	background-color: #FFFFFF;
	text-align: center;
	border-top-color: #000000;
}
.borderbr, .borderbrdark, .borderbrNiM, .borderbrdarkNiM, .borderhighlightNiM,
	.overlapappNiM, .borderhighlight, .overlapapp, .unacknowledgedapp, .overlapappwin, 
		.appwin, .reminderwin, .overlapreminderwin, .tomorrowCells {
	border-top-width: 0px;
	border-right-width: 2px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: groove;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #D9D9D9;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	height: 17px;
	background-color: #FFFFFF;
	border-bottom-color: #BFBFBF;
	text-align: left;
	vertical-align: top;

}

.tomorrowCells {
	background-color: #dcdcdc;
}

.borderbrNiM {
	background-color: #D4D4DD;
}
.borderbrdarkNiM {
	background-color: #C4C4CF;
}
.borderhighlightNiM {
	background-color: #BBCCEE;
}
.overlapappNiM {
	background-color: #EEBBCC;
}
.borderhighlight {
	background-color: #E0EFFF;
}
.overlapapp {
	background-color: #ffBBCC;
}
.overlapappwin, .appwin {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 0px;
	border-left-width: 1px;
	border-left-style: solid;
	border-right-style: solid;
	border-top-color: #BFBF5F;	
	border-right-color: #BFBF5F;	
	border-left-color: #BFBF5F;		
	background-color: #ECD8A3;
	display: none;
	position: absolute;
	overflow: hidden;
}
.appwin {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 0px;
	border-left-width: 1px;
	border-left-style: solid;
	border-right-style: solid;
	border-top-color: #AFBFEF;	
	border-right-color: #AFBFEF;	
	border-left-color: #AFBFEF;		
	background-color: #E0EFFF;
}
.overlapreminderwin, .reminderwin {
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-left-style: solid;
	border-right-style: solid;
	border-right-color: #666666;	
	border-left-color: #BFBFBF;	
	background-color: #AFD4F1;
	display: none;
	position: absolute;
	overflow: hidden;
}
.reminderwin {
	background-color: #66CC00;
}
.unacknowledgedapp {
	background-color: #C0D0F0;
}
.dayheadercell {
	border-top-width: 0px;
	border-right-width: 3px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: double;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #666666;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 20px;
	border-bottom-color: #000000;
	color: #FFFFFF;
	text-align: center;
	font-weight: bold;
	background-image: url(../images/calendar_title_bg.gif);
}
.companyheadercell, .noteheadercell, .contactheadercell{
	border-top-width: 0px;
	border-right-width: 3px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: double;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #666666;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 20px;
	border-bottom-color: #000000;
	color: #FFFFFF;
	text-align: center;
	font-weight: bold;
}
.companyheadercell {
	background-image: url(../images/companies_titlebar_bg.gif);
}
.noteheadercell {
	background-image: url(../images/notes_titlebar_bg.gif);
}
.contactheadercell {
	background-image: url(../images/contacts_titlebar_bg.gif);
}
.daycell {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-align: center;
}

.weekendcell{
	color: #888888;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-align: center;
}
.daycellbold {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
}
.weekendcellbold{
	color: #888888;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
}

span.weekendcell a:link{
	color: #888888;
}

.cellbold{
	border-style: solid;
	border-width: 1;
	border-color: #8282A8;
	background-color:#B5BAD1;
}
.cellboldhighlight{
	border-style: solid;
	border-width: 1;
	border-color: #8282A8;
	background-color: #B5BAD1;
	font-weight: bold;
}
.cellhighlight{
	font-weight: bold;
}
.dayinnercell {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 20px;
	color: #FFFFFF;
	font-weight: bold;
	background-image: url(../images/calendar_title_bg.gif);
}

.titleinnercell {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 20px;
	color: #FFFFFF;
	font-weight: bold;
	background-image: url(../images/todolist_title_bg.gif);
}
.whitelinks {
	color: #FFFFFF;
}
.timecell, .timecell_dp {
	border-top-style: none;
	border-top-width: 0px;	
	border-bottom: 1px solid #FEFEFE;	
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	height: 45px;
	background-color: #F6F3EC;
}

.timecell_dp_offline_hours {
	border-top-style: none;
	border-top-width: 0px;	
	border-bottom: 1px solid #FEFEFE;	
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	height: 25px;
	background-color: #C9CDE6;
	width: 10%;
}

.timecell_dp {	
	width: 10%;
	border-bottom: 1px solid #FEFEFE;
	height: 25px;
}

.cornercell {
	border-top-style: none;
	border-top-width: 0px;
	border-right: 3px double #666666;
	border-bottom: 1px solid #999999;
	border-left: 1px solid #666666;
	background-color: #DBDBE6;
}
.todolistcell {
	border-top-style: none;
	border-left-style: none;
	border-top-width: 0px;
	border-left-width: 0px;	
	border-right: 3px double #666666;
	border-bottom: 1px solid #CCCCCC;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	height: 26px;
	text-align: left;
	background-color: #FFFFFF;
}
.followuplistcell {
	border-top-style: none;
	border-left-style: none;
	border-top-width: 0px;
	border-left-width: 0px;	
	border-right: 3px double #666666;
	border-bottom: 1px solid #CCCCCC;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	height: 19px;
	text-align: left;
	background-color: #FFFFFF;
}
.celltitle {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	border-right-width: 3px;
	border-bottom-width: 2px;
	border-right-style: double;
	border-bottom-style: double;
	border-right-color: #666666;
	border-bottom-color: #333333;
	color: #FFFFFF;
	text-align: center;
	height: 20px;
	background-image: url(../images/todolist_title_bg.gif);
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #666666;
}
.monthdaycell, .monthdaytophalfcell, .monthdaytophalfcell, .monthdaybottomhalfcell, 
.monthdaycellgrey, .monthdaytophalfcellgrey, .monthdaybottomhalfcellgrey{
    padding: 0px 0px 0px 0px;
	border-top-style: none;
	border-left-style: none;   
	border-top-width: 0px;
	border-left-width: 0px;	
	border-right: 3px double #666666;
	border-bottom: 1px solid #CCCCCC;
	font-family: Arial, Helvetica, sans-serif;	
	font-size: 10px;
	line-height: 18px;
	text-align: left;
	vertical-align: top;		 
}
.monthdaycell {
	background-color: #FFFFFF;
	height: 114px;
}
.monthdaytophalfcell {
	background-color: #FFFFFF;
	height: 50%;
}
.monthdaybottomhalfcell {
	background-color: #FFFFFF;
	height: 49%;
}
.monthdaycellgrey {
	background-color: #EEEEEE;
	height: 114px;
}
.monthdaytophalfcellgrey {
	background-color: #EEEEEE;
	height: 50%;
}
.monthdaybottomhalfcellgrey {
	background-color: #EEEEEE;
	height: 49%;
}
.monthday {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 18px;
	text-align: right;
}
.weekhighlight {
	background-color: #F0F0F8;
}


.graphContactsTitle {
	font-size: 11px; 
	color: #666666; 
	height: 16px; 
	padding-top: 1px;
	padding-right: 2px;
	padding-bottom: 1px;
	padding-left: 2px;
	position:relative;
	top:2px;
}

.linebar
{
color:#FF0000;
width:400px; 
height:13px; 
font-size:1px; 
line-height:0;
position:relative;
margin-left: 2px;
margin-right: 2px;
}

/* recent activity */

.recent_activity	{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#333333;
	text-align:left;
	height: 300px;
}

.recent_activity ul	{
	list-style:none;
	margin:0;
	padding:0;
}

.recent_activity li	{
	padding:3px 0px 3px 6px;
	border-bottom:1px solid #d8d8d8;
}

.recent_activity li img	{
	padding-right:5px;
}

/* inbox activity */

.inbox_activity	{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#333333;
	text-align:left;
	height: 300px;
}

.inbox_activity ul	{
	list-style:none;
	margin:0;
	padding:0;
}

.inbox_activity li	{
	padding:3px 0px 3px 6px;
	border-bottom:1px solid #d8d8d8;
}

.inbox_activity li img	{
	padding-right:0px;
	height: 9px;
	list-style-type: none;
}

/* previous next table */

.prev_next	{
	width:200px;
	margin-left:auto;
	margin-right:auto;
	text-align: center;

}

.page_no	{
	font-size:14px;
	color:#333333;
	width:70px;
	text-align: center;
	font-family:"Myriad", "Myriad Pro", Verdana, Arial, Helvetica, sans-serif;
}


/* contacts graph */

.contacts_graph	{
 width:223px;
 }
 
 a.dayPlannerStatus:hover {
 color:#C5C5C5;
 font-family:Arial,Helvetica,sans-serif;
}

.dayheadercellCalendar {
	border-top-width: 0px;
	border-right-width: 3px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: double;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #666666;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 20px;
	border-bottom-color: #000000;
	color: #FFFFFF;
	text-align: center;
	font-weight: bold;
	background-image: url(../images/calendar_title_bg.gif);
}

