@charset "utf-8";
/* CSS Document */

/* this png fix is probably already included and not needed */
img, div, input { behavior: url("iepngfix.htc") }
/* end png fix */

body {
background-color:#666666;
}

#runwayMapsLBMain{
background-color:#FFFFFF;
}

.runwayMapsLBBar {
background-image:url(../images/lb_topRep.jpg);
background-repeat:repeat-x;
}

.runwayMapsBorderBttm{
border-bottom:1px solid #B7BBD5;
font-size:0px;
}

.runwayMapsBorderRight{
border-right:1px solid #B7BBD5;
}

.runwayMapsBorderLeft{
border-left:1px solid #B7BBD5;
}

.runwayMapsLBCorner{
background-color:#666666;
}

#runwayMapsLBTitle{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:13px;
color:#333333;
}

#runwayMapsLBContent{
padding:10px 0px 5px 0px
}