BODY {
	background-color: #FFFFFF;
	font-size: 10px;
	font-family: Arial, Helvetica, sans-serif;
	color: #444444;
	margin: 20px;
}
BODY.popup {
	background-color: #EDEFF1;
	font-size: 10px;
	font-family: Arial, Helvetica, sans-serif;
	color: #444444;
	margin: 20px;
}
.titlebar {
  background-color: #336699;
}

.footer {
	background-color: #CCCCCC;
}

.title_type {
	font-size: 12px;
	font-weight: bold;
	color: #006699;
}

.title_actions_type {
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
}


.display_panel {
	font-size: 12px;
	background-color: #EFF0F2;
	border: none;
}

.inset_actions_table {
    font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	line-height: 10px;
	color: #000000;
	background-color: #FFFFFF;
}

.inset_news_table {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 10px;
	color: #000000;
	background-color: #E1E3E8;
	margin: 0px;
	padding: 0px;
}

.inset_standard_table {
    font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	line-height: 12px;
	color: #000000;
	background-color: #E1E3E8;
}

.shadowbar {
	background-image: url(../images/shadowbar_bg.gif);
}

.bottombar {
	background-image: url(../images/footer_center.gif);
}

.companybar {
	background-image: url(../images/companies_titlebar_bg.gif);
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
}
.companybar a {color: #FFFFFF;}

.contactbar {
	background-image: url(../images/contacts_titlebar_bg.gif);
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
}
.contactbar a {color: #FFFFFF;}

.notebar {
	background-image: url(../images/notes_titlebar_bg.gif);
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
}
.notebar a {color: #FFFFFF;}

.responsebar {
	background-image: url(../images/responses_titlebar_bg.gif);
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
}
.responsebar a {color: #FFFFFF;}

.documentbar {
	background-image: url(../images/documents_titlebar_bg.gif);
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
}

.orderbar {
	background: url(../images/orders_titlebar_bg.gif);
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
}
.orderbar a {color: #FFFFFF;}

.profilesbar {
	background: url(../images/profiles_titlebar_bg.gif);
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
}

.opportunitybar {
	background-image: url(../images/opportunities_titlebar_bg.gif);
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
}
.opportunitybar a {color: #FFFFFF;}


.adminbar, .cmsbar, propertybar {
	background-color: #9CA0C5;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
}
.cmsbar {
	background-color: #7D9EC8;
}
.propertybar {
	background-color: #FCC28F;
}
.adminbar a {color: #FFFFFF;}



.inboxbar {
	background-image: url(../images/inbox_titlebar_bg.gif);
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
}

.emailshadow {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	background-image: url(../images/inbox_shadow_bg.gif);
	font-weight: bold;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #666666;
}

.emailrowdark {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	text-align: left;
	line-height: 20px;
	background-color: #c6d1dc;
}

.emailrowlight {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	text-align: left;
	line-height: 20px;
	background-color: #d9e0e8;
}

.bodytypestyle {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align: left;
	vertical-align: top;
}

.listrowstyle {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 20px;
	color: #000000;
	padding: 0px 1px 0px 1px;
	line-height: 200%;
}

.listrowtitlestyle {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	line-height: 20px;
	color: #333333;
	padding: 0px 1px 0px 1px;
}
.tightlistrowstyle {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	padding: 1px 1px 1px 1px;
}

.tightlistrowtitlestyle {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #333333;
	padding: 1px 1px 1px 1px;
}
.detailview {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 18px;
	font-weight: normal;
	color: #555555;
	text-align: left;
}
div.detailview table {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 18px;
	font-weight: normal;
	color: #555555;
}
div.detailview p {
	font-size: 12px;
	font-weight: bold;
}

#logindiv{
	color:#333333;
}

.loginfields {
	width:429;
	border:none;
	border-collapse:collapse;	
}

.login_top_shade {
	background:url(../images/login/top_shadow.jpg);
    height: 8px;
}

.login_l_shade {
	background:url(../images/login/left_shadow.jpg) top right repeat-y;
	width:1px;
}

.login_r_shade {
	background:url(../images/login/right_shadow.jpg) top left repeat-y;
	width:3px;
}

.login_background {
	background:url(../images/login/background_repeat.jpg) top left repeat-x;
	border:none;
	padding: 30px 0px 10px 0px;
	width:421px;
}

#retrievePasswordLink{
text-align:right;
font-size:11px;
height:69px;
padding:10px 20px 10px 10px;
background-image:url(../specific/images/login/login_support_number_bottom.jpg);
background-repeat:no-repeat;
}

.retrievePassword{
text-align:right;
font-size:11px;
height:69px;
/*padding:10px 20px 10px 10px;*/
background-repeat:no-repeat;
}

.retrievePasswordForm{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#333333;
	text-align:left;
}

#loginmain {
	width:429px;
	margin:0px auto;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#333333;
}


.loginbox td {
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 14px;
}
.warning
{
	color: #FF4444;
}
.filer
{
	width: auto;
}
.listrowtitlestyle {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	line-height: 20px;
	color: #333333;
}
.detailfield {
	font-size: 12px;
	font-weight: bold;
}
.listdetailfield {
	font-size: 11px;
	font-weight: bold;
	text-align:left;
}
.detailtitle {
	font-size: 16px;
	font-weight: bold;
	text-align:left;
}
.detailsmall {
	font-size: 10px;
}
.searchfieldautowidth {
	width: 95%;
}

.searchFieldCombo {
	height: 22px;
}

input.matchable {
	background: #FEFFCE;
    border: 1px solid #F9CBA9;
    padding: 2px;
}

input.matchable:hover {
    border: 1px solid #FFAC4F;
}

select.matchable {
	background: #FEFFCE;
    border: 1px solid #F9CBA9;
    height: 21px;
}

select.matchable:hover {
    border: 1px solid #FFAC4F;
}

.searchfieldautowidthM {
	width: 85%;
}
.searchfieldshort {
	width: 120px;
}
.searchfieldstatic240 {
	width: 240px;
}
.searchfieldautohalfwidth {
	width: 40%;
}
.searchfieldautothird {
	width: 35%;
}
.searchfieldautotwothirds {
	width: 60%;
}
.homepanelstandard {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	background-color: #E1E3E8;
	line-height: 20px;
}
.homepaneltitlestandard {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #333333;
	background-image: url(../images/panel_top.gif);
}

.homepanelactions {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	background-color: #FFFFFF;
	line-height: 24px;
}
.homepaneltitleactions {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	background-image: url(../images/panel_top_red.gif);
}
.homenews {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.actionsnavbgtop {
	background-image: url(../images/actions_nav_bg_top.gif);
}
.actionsnavbgbottom {
	background-image: url(../images/actions_nav_bg_bottom.gif);
}
.paging {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
}
.sidenavbg {
	background-image: url(../images/sidenav_bg.gif);
	background-repeat: repeat-y;
	background-position: right;
	background-color: #d2dded;
}
.sidenavbuttonend {
	height: 25px;
	width: 25px;
	background-color: #d7e0ed;
	background-image: url(../images/sidenav_button_bg.gif);
	background-repeat: no-repeat;
	background-position: right;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #FFFFFF;
	border-bottom-color: #AEB5BE;
	font-size: 12px;
	color: #003366;
	padding-left: 20px;
}
.sidenavbutton {
	height: 25px;
	background-color: #d7e0ed;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #FFFFFF;
	border-bottom-color: #AEB5BE;
	font-size: 12px;
	color: #003366;
	padding-left: 20px;
}
.cmstab {
	background-image: url(../images/cms_subsection_bg2.gif);
}

.topbarpath {
	font-size: 13px;
	font-weight: bold;
	color: #003366;
}
.listsidetitle {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
    padding-left: 5px;
}
.instructiontext {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #666666;
}
.listrowhighlight {
	background-color: #d5dadf;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	
}


.mandatory
{
   color: red;
}
.pageerror
{
   padding: 10px 10px 10px 10px;
   background-color: #EDEFF1;
   color: red;
}



