body {
	font-family: Arial, Helvetica, sans-serif;
}
a {
	color: #000000;
	font-size: 10px;
	text-decoration: none;
}
a:hover {color: #000000}
a:visited {color: #000000}

.daycell {
	font-size: 11px;
	text-align: right;
	vertical-align: middle;
	font-weight: bold;
	padding-bottom: 2px;
	padding-top: 2px;
	width: 20px;
	height: 20px;  
} 

.weekendcell {
	font-size: 11px;
	text-align: right;
	vertical-align: middle;
	font-weight: normal;
	padding-bottom: 2px;
	padding-top: 2px;
	width: 20px;
	height: 20px;  
}
.calendarDayTitleCell {
	font-size: 11px;
	font-weight: bold;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
	text-align: right;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-right: 0px;
}
.calendarTitleCell {
	font-size: 12px;
	text-align: center;
	padding-top: 3px;
	padding-bottom: 3px;
}
.dateTitle {
	font-size: 20px;
	font-weight: bolder;
	color: #FFFFFF;
	background-color: #000000;
	padding: 5px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
}
.headerTable {
	border: 1px solid #000000;
	padding: 2px;
}
.headerCell {
	background-color: #000000;
	padding: 2px 5px;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
}
.dayTitle {
	font-size: 25px;
	font-weight: normal;
}
.dayViewCell {
	padding-right: 15px;
}
.dayViewTable {
	border: 1px solid #000000;
}
.taskTable {
	border: 1px solid #000000;
	margin-bottom: 10px;
}
.timeCell {
	font-size: 11px;
	font-weight: bold;
	background-color: #CCCCCC;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
	color: #000000;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #000000;
}
.borderhighlight, .overlapapp, .overlapappwin, .appwin{
	background-color: #EEEEEE;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
	padding-right: 15px;
	padding-left: 15px;
	border-right-width: 3px;
	border-left-width: 3px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #000000;
	border-left-color: #000000;
}
.overlapapp {
	border-right-width: 6px;
	border-left-width: 6px;
}
.overlapappwin, .appwin {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-top-color: #EFEFEF;
	border-bottom-color: #EFEFEF;	
	border-left-width: 1px;
	border-left-style: solid;
	border-right-style: solid;
	border-right-color: #666666;	
	border-left-color: #BFBFBF;	
	background-color: #FFEFEF;
	padding-left: 1px;	
	padding-right: 0px;	
	display: none;
	position: absolute;
	overflow: hidden;
}
.appwin {
	background-color: #FAFAFA;
}
.wbg {
	background-color: #FFFFFF;
}
.borderbr, .borderbrdark, .containerCell{
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
	font-size: 10px;
	padding-right: 5px;
	padding-left: 5px;
}
.containerCell {
	padding-right: 0px;
	padding-left: 0px;
}
.todolistcell {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #999999;
	padding: 5px;
}
.appointmentTextCell {
	font-size: 10px;
	vertical-align: top;
}
.appointmentTitleCell {
	font-size: 11px;
	font-weight: bold;
	vertical-align: top;
}
.monthdaycell, .monthdaytophalfcell, .monthdaytophalfcell, .monthdaybottomhalfcell, 
.monthdaycellgrey, .monthdaytophalfcellgrey, .monthdaybottomhalfcellgrey{
    padding: 0px 0px 0px 0px;
	border-top-style: none;
	border-left-style: none;   
	border-top-width: 0px;
	border-left-width: 0px;	
	border-right: 3px double #666666;
	border-bottom: 1px solid #CCCCCC;
	font-family: Arial, Helvetica, sans-serif;	
	font-size: 10px;
	line-height: 18px;
	text-align: left;
	vertical-align: top;		 
}
.monthdaycell {
	background-color: #FFFFFF;
	height: 114px;
}
.monthdaytophalfcell {
	background-color: #FFFFFF;
	height: 50%;
}
.monthdaybottomhalfcell {
	background-color: #FFFFFF;
	height: 49%;
}
.monthdaycellgrey {
	background-color: #EFEFEF;
	height: 114px;
}
.monthdaytophalfcellgrey {
	background-color: #EFEFEF;
	height: 50%;
}
.monthdaybottomhalfcellgrey {
	background-color: #EFEFEF;
	height: 49%;
}
.monthday {
	white-space: no-wrap;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 18px;
	text-align: right;
}
.bordertl {
	border-top-width: 1px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	background-color: #FFFFFF;
	text-align: center;
	border-top-color: #000000;
}
.dayinnercell {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 20px;
	color: #FFFFFF;
	background-color: #000000;	
	font-weight: bold;
}