
.listbuttons {
	padding: 0;
	vertical-align: bottom;
	border: none;
}
.searchhistorycell, .searchhistoryactivecell, .chartactivecell {
	padding-left: 10px;
	padding-right: 5px;
	font-family: Arial, Helvetica, sans-serif;
	vertical-align: bottom;	
	border: none;
}
.searchhistorycell {
	background: white;
}
.chartactivecell {
	background: #EDEFF1;
}
.searchhistorybuttons {
	border: none;
	text-align: right;
	white-space: nowrap;
}
.countfont {
	font-size: 16px;
}
.chartarea {
	padding: 0;
	margin: 0;
	text-align: center;
	border: none;
}