/*

   This style sheet is being used to rationalize styles.
   
   The idea is that we eventually remove inline styles and define a set of
   styles which cascade correctly to allow substitution on style sheets
   to change interface elements. Early days yet...

*/


body {
	background-color: #FFFFFF;
	font-size: 10px;
	font-family: Arial, Helvetica, sans-serif;
	color: #444444;
	padding: 0; 
	margin: 0; 
}

/* Fix IE6 Form Default */ 
form { display: inline; }

#maintable { 
	padding: 20px 20px 20px 20px; 
} 


#alert  { 
	font: message-box; 
} 

#alert a, #alert a:link, #alert a:visited, #alert a:active {
	display: block;
	color: #000;
	width:100%;
	background: #FFFFE1;
	border-bottom: .16em outset;
	text-decoration: none;
	cursor: default;
}

#alert a:hover {
	color: #FFF;
	background: #3169B6; 
}

#alert p{

	margin:0px;
	padding: .45em 0em .45em 22px;
	font-size:11px;
}


/*div.mainNavigationBar table {
	background-image: url(../images/navigation/master/control1st_bg.gif);
}*/

div.functionBar table {
	background-image: url(../images/shadowbar_bg.gif);
}

div.navigationBar td.navshadow {
	background-image: url(../images/navigation/control2nd_bg.gif);
	background-position: top left; 
	background-repeat: repeat-x; 
}

div.navigationBar {
   background-color: #A7AFBA;
}
 
div.navigationBar tr.adminbar {
	background-image: url(../images/admin_titlebar_bg.jpg);
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
}

div.mainContent table {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 18px;
	font-weight: normal;
	color: #555555;
	background-color: #EDEFF1;
}

div.mainContent td.heading {
	font-size: 16px;
	font-weight: bold;
	line-height: 20px;
	color: #333333;
}

div.mainContent td.field100 input {
   width: 100%;
}

div.mainContent td.checkbox table {
   text-align: right;
}


/* TOP STYLE FOR BOX INCLUDE */
.box td.background, .box td.background_table, .box td.background_actions, .box td.background_table_actions, .box td.background_form {
   background-color: #FFFFFF;
}
.boxForm td.background, .boxForm td.background_table, .boxForm td.background_actions, .boxForm td.background_table_actions, .boxForm td.background_form {
   padding-top: 10px;
}
.box td.background, .box td.background_table, .box td.background_actions, .box td.background_table_actions, .box td.background_form,  
.boxForm td.background, .boxForm td.background_table, .boxForm td.background_actions, .boxForm td.background_table_actions, .boxForm td.background_form {
   font-size: 11px; 
   border-right-width: 1px; 
   border-left-width: 1px; 
   border-right-style: solid; 
   border-left-style: solid; 
   border-right-color: #999999; 
   border-left-color: #999999; 
   padding-right: 10px; 
   padding-left: 10px;
}
.box td.background, .box td.background {
   padding-top: 5px; 
}
.box td.background_table, .boxForm td.background_table {
   background-image:  url(../images/interface/box_background_table.gif);
   background-repeat: repeat-x;
}
.box  .boxForm  {
   background-image:  url(../images/interface/box_background_actions.gif); 
   background-repeat: repeat-x;
}
.box td.background_table_actions, .boxForm td.background_table_actions {
   background-image:  url(../images/interface/box_background_table_actions.gif); 
   background-repeat: repeat-x;
}
.box td.background_form, .boxForm td.background_form {
   padding-top: 5px;
}






.box td.top_left, .boxForm td.top_left {
   background-repeat: no-repeat; 
   width: 10px; 
   height: 22px;
   background-image: url(../images/interface/box_title1.gif); 
}
.box td.top_middle, .boxForm td.top_middle {
   font-size: 12px; 
   font-weight: normal; 
   vertical-align: middle; 
   height: 22px; 
   background-image:   url(../images/interface/box_title2.gif); 
}
.box td.top_right, .boxForm td.top_right {
   background-repeat: no-repeat; 
   width: 10px; 
   height: 22px;
   background-image:   url(../images/interface/box_title3.gif); 
}


/* CONTACT TOP STYLE FOR BOX INCLUDE */
.boxContacts td.top_left {
   background-image: url(../images/interface/box_title1_contacts.gif); 
}
.boxContacts td.top_middle {
   background-image:   url(../images/interface/box_title2_contacts.gif); 
   color: #FFFFFF;
}
.boxContacts td.top_right {
   background-image:   url(../images/interface/box_title3_contacts.gif); 
}
/* COMPANY TOP STYLE FOR BOX INCLUDE */
.boxCompanies td.top_left {
   background-image: url(../images/interface/box_title1_companies.gif); 
}
.boxCompanies td.top_middle {
   background-image:   url(../images/interface/box_title2_companies.gif); 
   color: #FFFFFF;
}
.boxCompanies td.top_right {
   background-image:   url(../images/interface/box_title3_companies.gif); 
}
/* NOTE TOP STYLE FOR BOX INCLUDE */
.boxNotes td.top_left {
   background-image: url(../images/interface/box_title1_notes.gif); 
}
.boxNotes td.top_middle {
   background-image:   url(../images/interface/box_title2_notes.gif); 
   color: #FFFFFF;
}
.boxNotes td.top_right {
   background-image:   url(../images/interface/box_title3_notes.gif); 
}
/* RESPONSE TOP STYLE FOR BOX INCLUDE */
.boxResponses td.top_left {
   background-image: url(../images/interface/box_title1_responses.gif); 
}
.boxResponses td.top_middle {
   background-image:   url(../images/interface/box_title2_responses.gif); 
   color: #FFFFFF;
}
.boxResponses td.top_right {
   background-image:   url(../images/interface/box_title3_responses.gif); 
}
/* OPPORTUNITY TOP STYLE FOR BOX INCLUDE */
.boxOpportunities td.top_left {
   background-image: url(../images/interface/box_title1_opportunities.gif); 
}
.boxOpportunities td.top_middle {
   background-image:   url(../images/interface/box_title2_opportunities.gif); 
   color: #FFFFFF;
}
.boxOpportunities td.top_right {
   background-image:   url(../images/interface/box_title3_opportunities.gif); 
}
/* DOCUMENT TOP STYLE FOR BOX INCLUDE */
.boxDocuments td.top_left {
   background-image: url(../images/interface/box_title1_documents.gif); 
}
.boxDocuments td.top_middle {
   background-image:   url(../images/interface/box_title2_documents.gif); 
   color: #FFFFFF;
}
.boxDocuments td.top_right {
   background-image:   url(../images/interface/box_title3_documents.gif); 
}
/* ORDER TOP STYLE FOR BOX INCLUDE */
.boxOrders td.top_left {
   background-image: url(../images/interface/box_title1_orders.gif); 
}
.boxOrders td.top_middle {
   background-image:   url(../images/interface/box_title2_orders.gif); 
   color: #FFFFFF;
}
.boxOrders td.top_right {
   background-image:   url(../images/interface/box_title3_orders.gif); 
}
/* PROFILE TOP STYLE FOR BOX INCLUDE */
.boxProfiles td.top_left {
   background-image: url(../images/interface/box_title1_profiles.gif); 
}
.boxProfiles td.top_middle {
   background-image:   url(../images/interface/box_title2_profiles.gif); 
   color: #FFFFFF;
}
.boxProfiles td.top_right {
   background-image:   url(../images/interface/box_title3_profiles.gif); 
}
/* ADMIN TOP STYLE FOR BOX INCLUDE */
.boxAdmin td.top_left {
   background-image: url(../images/interface/box_title1_admin.gif); 
}
.boxAdmin td.top_middle {
   background-image:   url(../images/interface/box_title2_admin.gif); 
   color: #FFFFFF;
}
.boxAdmin td.top_right {
   background-image:   url(../images/interface/box_title3_admin.gif); 
}
/* DARK TOP STYLE FOR BOX INCLUDE */
.boxDark td.top_left {
   background-image: url(../images/interface/box_title1_dark.gif); 
}
.boxDark td.top_middle {
   background-image:   url(../images/interface/box_title2_dark.gif); 
   color: #FFFFFF;
}
.boxDark td.top_right {
   background-image:   url(../images/interface/box_title3_dark.gif); 
}

/* BOTTOM STYLE FOR BOX INCLUDE */
.box td.bottom_left {
   height: 20px;
   background-image:  url(../images/interface/box_bottom1.gif);
   width: 10px;
   color: #FFFFFF;
}
.box td.bottom_middle {
   background-repeat: repeat-x; 
   height: 20px;
   background-image:  url(../images/interface/box_bottom2.gif);
}
.box td.bottom_right {
   height: 20px;
   background-image:  url(../images/interface/box_bottom3.gif);
   width: 10px;
}

/* BOTTOM STYLE FOR BOX FORM INCLUDE */
.boxForm td.bottom_left {
   height: 20px;
   background-image:  url(../images/interface/box_bottom1_form.gif);
   width: 10px;
}
.boxForm td.bottom_middle {
   background-repeat: repeat-x; 
   height: 20px;
   background-image:  url(../images/interface/box_bottom2_form.gif);
}
.boxForm td.bottom_right {
   height: 20px;
   background-image:  url(../images/interface/box_bottom3_form.gif);
   width: 10px;
}

.boxTitle {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px; 
	color: #505050;
}

/* END BOX STYLES */

.footercenter { 
	background-image:  url(../images/footer_center.gif);
}

#banner_top_logo {text-align:center;}
#banner_top_search {text-align:left;vertical-align:top;background-image:url(../images/navigation/master4/bnnr_top_search.jpg);background-repeat:no-repeat;padding-top:20px;padding-left:20px;}
#banner_top_bg {background-image:url(../images/navigation/master4/bnnr_top_bg.jpg);background-repeat:repeat-x;background-position: 0 0;}
#banner_top_navs {text-align:right;background-image:url(../images/navigation/master4/bnnr_top_bg.jpg);background-repeat:repeat-x;}
#search_field {background-image:url(../images/navigation/master4/bnnr_top_search_shadow.jpg);background-repeat:repeat-x;background-position:0 0;border:1px solid #C3C3C3;font-size:11px;
               height:20px;width:150px;padding:0px;margin:0px;vertical-align:middle;padding-top:3px;padding-left:5px;}

#banner_bottom_nav {margin:0;padding:0;background-image:url(../images/navigation/master4/bnnr_bttm_bg.jpg);background-position:0 0;background-repeat:repeat-x;}
#banner_bottom_shad_left {margin:0;padding:0;background-image:url(../images/navigation/master4/bnnr_bttm_shad_left.jpg);background-position:0 0;background-repeat:repeat-y;}
#banner_bottom_shad_right {margin:0;padding:0;background-image:url(../images/navigation/master4/bnnr_bttm_shad_right.jpg);background-position:0 0;background-repeat:repeat-y;}
#banner_bottom_nav_table {margin:0;padding:0;vertical-align:bottom;text-align:left;}
#banner_bottom_content {margin:0;padding:0;background-image:url(../images/navigation/master4/bnnr_bttm_content_bg.jpg);background-position:0 0;background-repeat:repeat-x;background-color:#E2E2E2;}
#banner_bottom_base {margin:0;padding:0;background-image:url(../images/navigation/master4/bnnr_bttm_base.jpg);background-position:0 0;background-repeat:repeat-x;}