@charset "UTF-8";

/* SpryMenuBarVertical.css - version 0.6 - Spry Pre-Release 1.6.1 */

/* Copyright (c) 2006. Adobe Systems Incorporated. All rights reserved. */

/*******************************************************************************

 LAYOUT INFORMATION: describes box model, positioning, z-order

 *******************************************************************************/

/* The outermost container of the Menu Bar, a fixed width box with no margin or padding */
ul.MenuBarVertical
{
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-size: 13px;
	font-family: Arial, Helvetica, sans-serif;
	cursor: default;
	width: 8em;
}
/* Set the active Menu Bar with this class, currently setting z-index to accomodate IE rendering bug: http://therealcrisp.xs4all.nl/meuk/IE-zindexbug.html */
ul.MenuBarActive
{
	z-index: 1000;
}
/* Menu item containers, position children relative to this container and are same fixed width as parent */
ul.MenuBarVertical li
{
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-size: 100%;
	position: relative;
	text-align: left;
	cursor: pointer;
	width: 20px;
}
/* Submenus should appear slightly overlapping to the right (95%) and up (-5%) with a higher z-index, but they are initially off the left side of the screen (-1000em) */
ul.MenuBarVertical ul
{
	margin: 0 0 0 100%;
	padding: 0;
	list-style-type: none;
	font-size: 100%;
	position: absolute;
	z-index: 1020;
	cursor: default;
	width: 8.2em;
	left: -1000em;
	/*left: 0;*/
	top: 0;
}
/* Submenu that is showing with class designation MenuBarSubmenuVisible, we set left to 0 so it comes onto the screen */
ul.MenuBarVertical ul.MenuBarSubmenuVisible
{
	left: 0;
}
/* Menu item containers are same fixed width as parent */
ul.MenuBarVertical ul li
{
	width: 8.2em;
}

/*******************************************************************************

 DESIGN INFORMATION: describes color scheme, borders, fonts

 *******************************************************************************/

/* Outermost menu container has borders on all sides */
/*ul.MenuBarVertical
{
	border: 1px solid #CCC;
}*/

/* Submenu containers have borders on all sides */
ul.MenuBarVertical ul
{
	border-left: 1px solid #CCC;
	border-right: 1px solid #CCC;
}

li.borderTop
{
	border-top: 2px solid #E9E9E9;
}

li.borderBottom
{
	border-bottom: 1px solid #E9E9E9;
}

/* Menu items are a white block with padding and no text decoration */
ul.MenuBarVertical a
{
	display: block;
	cursor: pointer;
	background-color: #FFFFFF;
	padding: 0.5em 0.75em;
	color: #333;
	text-decoration: none;
	border-bottom: 1px solid #E9E9E9;
}

/*******************************************************************************

 MENU INDICATION: Menu Item Background Colours

 *******************************************************************************/

/* Company - Green Menu Items */
ul.MenuBarVertical li.MenuBarItemGreen a:hover, ul.MenuBarVertical li.MenuBarItemGreen a:focus, ul.MenuBarVertical li.MenuBarItemGreen a.MenuBarItemSubmenuHover, ul.MenuBarVertical li.MenuBarItemGreen a.MenuBarSubmenuVisible
{
	background-color: #6DCE3C;
	color: #FFF;
}

/* Contacts - Blue Menu Items */
ul.MenuBarVertical li.MenuBarItemBlue a:hover, ul.MenuBarVertical li.MenuBarItemBlue a:focus, ul.MenuBarVertical li.MenuBarItemBlue a.MenuBarItemSubmenuHover, ul.MenuBarVertical li.MenuBarItemBlue a.MenuBarSubmenuVisible
{
	background-color: #42B3DB;
	color: #FFF;
}

/* Notes - Purple Menu Items */
ul.MenuBarVertical li.MenuBarItemPurple a:hover, ul.MenuBarVertical li.MenuBarItemPurple a:focus, ul.MenuBarVertical li.MenuBarItemPurple a.MenuBarItemSubmenuHover, ul.MenuBarVertical li.MenuBarItemPurple a.MenuBarSubmenuVisible
{
	background-color: #A587FE;
	color: #FFF;
}

/* Responses - Orange Menu Items */
ul.MenuBarVertical li.MenuBarItemOrange a:hover, ul.MenuBarVertical li.MenuBarItemOrange a:focus, ul.MenuBarVertical li.MenuBarItemOrange a.MenuBarItemSubmenuHover, ul.MenuBarVertical li.MenuBarItemOrange a.MenuBarSubmenuVisible
{
	background-color: #E58E37;
	color: #FFF;
}

/* Pipeline/Opportunity - Yellow Menu Items */
ul.MenuBarVertical li.MenuBarItemYellow a:hover, ul.MenuBarVertical li.MenuBarItemYellow a:focus, ul.MenuBarVertical li.MenuBarItemYellow a.MenuBarItemSubmenuHover, ul.MenuBarVertical li.MenuBarItemYellow a.MenuBarSubmenuVisible
{
	background-color: #E6B934;
	color: #FFF;
}

/* Processes - Pink Menu Items */
ul.MenuBarVertical li.MenuBarItemPink a:hover, ul.MenuBarVertical li.MenuBarItemPink a:focus, ul.MenuBarVertical li.MenuBarItemPink a.MenuBarItemSubmenuHover, ul.MenuBarVertical li.MenuBarItemPink a.MenuBarSubmenuVisible
{
  background-color: #CC6ACD;
  color: #FFF;
}

/* Quotes - AquaMarine Menu Items */
ul.MenuBarVertical li.MenuBarItemAquaMarine a:hover, ul.MenuBarVertical li.MenuBarItemAquaMarine a:focus, ul.MenuBarVertical li.MenuBarItemAquaMarine a.MenuBarItemSubmenuHover, ul.MenuBarVertical li.MenuBarItemAquaMarine a.MenuBarSubmenuVisible
{
	background-color: #36B5B2;
	color: #FFF;
}

/* Documents - Cyan Menu Items */
ul.MenuBarVertical li.MenuBarItemCyan a:hover, ul.MenuBarVertical li.MenuBarItemCyan a:focus, ul.MenuBarVertical li.MenuBarItemCyan a.MenuBarItemSubmenuHover, ul.MenuBarVertical li.MenuBarItemCyan a.MenuBarSubmenuVisible
{
	background-color: #65E3C7;
	color: #FFF;
}
/*******************************************************************************

 SUBMENU INDICATION: styles if there is a submenu under a given menu item

 *******************************************************************************/

/* Menu items that have a submenu have the class designation MenuBarItemSubmenu and are set to use a background image positioned on the far left (95%) and centered vertically (50%) */
ul.MenuBarVertical a#companyLink
{
	background-image: url(../images/navigation/content/quicksearch_bg_companies.png);
	background-repeat: no-repeat;
	background-position: 100% 50%;
}

ul.MenuBarVertical a#contactsLink
{
	background-image: url(../images/navigation/content/quicksearch_bg_contacts.png);
	background-repeat: no-repeat;
	background-position: 100% 50%;
}

ul.MenuBarVertical a#notesLink
{
	background-image: url(../images/navigation/content/quicksearch_bg_notes.png);
	background-repeat: no-repeat;
	background-position: 100% 50%;
}

ul.MenuBarVertical a#responsesLink
{
	background-image: url(../images/navigation/content/quicksearch_bg_responses.png);
	background-repeat: no-repeat;
	background-position: 100% 50%;
}

ul.MenuBarVertical a#leadsLink
{
	background-image: url(../images/navigation/content/quicksearch_bg_pipeline.png);
	background-repeat: no-repeat;
	background-position: 100% 50%;
}

ul.MenuBarVertical a#processesLink
{
  background-image: url(../images/navigation/content/quicksearch_bg_processes.png);
  background-repeat: no-repeat;
  background-position: 100% 50%;
}

ul.MenuBarVertical a#quotesLink
{
	background-image: url(../images/navigation/content/quicksearch_bg_quotes.png);
	background-repeat: no-repeat;
	background-position: 100% 50%;
}

ul.MenuBarVertical a#documentsLink
{
	background-image: url(../images/navigation/content/quicksearch_bg_documents.png);
	background-repeat: no-repeat;
	background-position: 100% 50%;
}

/*******************************************************************************

 BROWSER HACKS: the hacks below should not be changed unless you are an expert

 *******************************************************************************/

/* HACK FOR IE: to make sure the sub menus show above form controls, we underlay each submenu with an iframe */
ul.MenuBarVertical iframe
{
	position: absolute;
	z-index: 1010;
	filter:alpha(opacity:0.1);
}
/* HACK FOR IE: to stabilize appearance of menu items; the slash in float is to keep IE 5.0 from parsing */
@media screen, projection
{
	ul.MenuBarVertical li.MenuBarItemIE
	{
		display: inline;
		f\loat: left;
		background: #FFF;
	}
}
