@charset "utf-8";
/* CSS Document */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label,
legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    /*	vertical-align: middle;
    */
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #333333;
}

a {
    color: #333;
    text-decoration: none;
}

a:hover {
    color: #666;
}

a:visited {
    color: #333;
}

a:focus {
    color: #666;
}

strong {
    font-weight: bold;
}

h4 {
    margin: 5px 0 0 10px;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #333;
    font-weight: bold;
}

.icon_options a:hover  img {
    filter: alpha(opacity = 60);
    opacity: 0.6;
    -moz-opacity: 0.6;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

#summary_table {
    margin: 0 5px;
    /*margin-left:5px;
     margin-right:5px;*/
    padding: 0;
}

#summary_table td {
    margin: 0;
    padding: 0;
}

#summary_table .divider {
    width: 2px;
    background-color: #FF0000;
}

#summary_table .left_edge {
    width: 6px;
    background-color: #000099;
}

#summary_table .right_edge {
    width: 6px;
    background-color: #000099;
}

#summary_table #sum_tl_cor {
    width: 4px;
    height: 45px;
    background: url(../images/sum_tl_cor.jpg) top right no-repeat;
}

#summary_table .sum_top_rep {
    background: url(../images/sum_top_repeat.jpg) top left repeat-x;
    height: 45px;
    margin: 0;
    padding: 0;
    text-align: left;
}

/*#summary_table .sum_top_rep h1	{
	font-family:"Myriad", "Myriad Pro", Verdana, Arial, Helvetica, sans-serif;
	font-size:16px;
	color:#333333;
	padding:12px 0 0 8px;
}*/

#summary_table .sum_top_rep h1 img {
    padding: 15px 0 0 8px;
}

#summary_table #sum_tr_cor {
    width: 9px;
    height: 45px;
    background: url(../images/sum_tr_cor.jpg) top left no-repeat;
}

#summary_table #second_level_tr_edge {
    width: 5px;
    background-color: rgb(233, 234, 237);
    border-right: 1px solid white;
}

#summary_table #second_level_tl_edge {
    width: 5px;
    background-color: rgb(233, 234, 237);
}

/*#summary_table .sum_top_div	{
    background:url(../images/sum_top_repeat.jpg) top left repeat-x;
    height:45px;
}*/

#summary_table .sum_top_div {
    /*	background:url(../images/main_bg.jpg) top left repeat-x;
    */
    background: #000 url(../images/sum_div_rep.jpg) top left repeat-y;
    width: 1px;
}

#summary_table .second_level {
    background-color: #E9EAED;
    height: 24px;
    font: 13px "Myriad", "Myriad Pro", Verdana, Arial, Helvetica, sans-serif;
    color: #333;
    padding: 0 0 0 10px;
    text-align: left;
}

#summary_table .main_bg {
    background: #E0E0E0 url(../images/main_bg.jpg) top left repeat-x;
    padding-top: 20px;
}

.filter_menu {
    height: 18px;
}

#summary_table .r_shad {
    background: url(../images/r_shad.jpg) top left repeat-y;
}

#summary_table .l_shad {
    background: url(../images/l_shad.jpg) top right repeat-y;
}

/* product panel */

.productRow1 {
    padding: 16px;
    overflow: hidden;
    border-bottom: 1px solid #D7DAE8;
}
.productRow2 {
    padding: 16px;
    overflow: hidden;
    background: #F4F4F4;
    border-bottom: 1px solid #D7DAE8;
}
.projectThumb {
    float: left;
}
.projectText {
	font-size: 14px;
    float: left;
    padding-left: 25px;
    padding-right: 25px;
}
.projectText p {
	font-size: 14px;
    margin-top: 0px;
    margin-bottom: 6px;
}
.projectName {
    font-size: 24px;
    font-weight: bold;
}
.productStatusAvailable {
    color: #FF0000;
}
.productActiveY {
    color: #090;
}
.productStatusHold {
    color: #0066FF;
}
.productStatusSold {
    color: #090;
}
.productActiveN {
    color: #FF0000;
}
.projectStatus {
    float: right;
    width: 140px;
}
.projectStatus td {
	font-size: 14px;
    border-bottom: 1px solid #D7DAE8;
    padding: 3px;
}
.statusCount {
    text-align: right;
}
.projectGraph {
    float: right;
    /* width: 120px; */
    padding-left: 20px;
}
.productThumb {
    float: left;
    width: 180px;
}
.productSummary {
    float: right;
    width: 240px;
}
.productSummary td {
    border-bottom: 1px solid #D7DAE8;
    padding: 3px;
}	
.productDetails td {
    border-bottom: 1px solid #D7DAE8;
    padding: 5px;
}
.homeDetailRight td {
    border-bottom: 1px solid #D7DAE8;
    padding: 3px;
}
.productPrice {
    font-size: 20px;
    color: #666;
}
.productDetail {
    padding: 16px;
    overflow: hidden;
}
.productDetail p {
    margin-top: 0px;
    margin-bottom: 6px;
}
.homeDetailLeft {
    float: left;
    width: 400px;
}
.homeDetailRight {
    float: right;
    width: 300px;
}
.homeDetailButtons {
    padding-top: 20px;
    padding-bottom: 20px;
}
.homeDetailButtons img {
    margin-left: 23px;
}
.productDetailText {
    padding-bottom: 15px;
}
.productDetailValue {
    text-align: right;
}
.productDetailsHeading {
    font-size: 18px;
    font-weight: bold;
}
.productActive {
    color: #090;
}


#producpanel_table {
    margin: 0 5px;
    /*margin-left:5px;
     margin-right:5px;*/
    padding: 0;
}

#producpanel_table td {
    margin: 0;
}

#producpanel_table .divider {
    width: 2px;
    background-color: #FF0000;
}

#producpanel_table .left_edge {
    width: 6px;
    background-color: #000099;
}

#producpanel_table .right_edge {
    width: 6px;
    background-color: #000099;
}

#producpanel_table .sum_tl_cor {
    width: 4px;
    height: 45px;
    background: url(../images/sum_tl_cor.jpg) top right no-repeat;
}

#producpanel_table .sum_top_rep {
    background: url(../images/sum_top_repeat.jpg) top left repeat-x;
    height: 45px;
    margin: 0;
    padding: 0;
    text-align: left;
}

#producpanel_table .sum_top_rep h1 img {
    padding: 15px 0 0 8px;
}

#producpanel_table .sum_tr_cor {
    width: 9px;
    height: 45px;
    background: url(../images/sum_tr_cor.jpg) top left no-repeat;
}

#producpanel_table .second_level_tr_edge {
    width: 5px;
    background-color: rgb(233, 234, 237);
    border-right: 1px solid white;
}

#producpanel_table .second_level_tl_edge {
    width: 5px;
    background-color: rgb(233, 234, 237);
}

/*#summary_table .sum_top_div   {
    background:url(../images/sum_top_repeat.jpg) top left repeat-x;
    height:45px;
}*/

#producpanel_table .sum_top_div {
    /*  background:url(../images/main_bg.jpg) top left repeat-x;
    */
    background: #000 url(../images/sum_div_rep.jpg) top left repeat-y;
    width: 1px;
}

#producpanel_table .second_level {
    background-color: #E9EAED;
    height: 24px;
    font: 16px "Myriad", "Myriad Pro", Verdana, Arial, Helvetica, sans-serif;
    color: #333;
    padding: 0 0 0 10px;
    text-align: left;
}

#producpanel_table .main_bg {
    background: #E0E0E0 url(../images/main_bg.jpg) top left repeat-x;
    padding-top: 20px;
}

#producpanel_table .r_shad {
    background: url(../images/r_shad.jpg) top left repeat-y;
}

#producpanel_table .l_shad {
    background: url(../images/l_shad.jpg) top right repeat-y;
}

/* previous next table */

.page_no {
    font-size: 12px;
    color: #333;
    width: 70px;
    text-align: center;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

.prev_next_date {
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.page_no_date {
    font-size: 12px;
    color: #333;
    width: 160px;
    text-align: center;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

.change_day img {
    padding: 10px;
    /*	display:block;
    */
}

.change_day_left img {
    text-align: right;
    padding: 10px;
}

/* calender list */

.calender_list_table {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #333;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.calender_list_table td {
    border-bottom: 1px solid #d8d8d8;
    height: 22px;
    padding-left: 10px;
}

.right {
    text-align: right;
}

/* contacts graph */

.contacts_graph {
    margin-left: auto;
    margin-right: auto;
}

.contacts_graph_tl {
    background: url(../images/contacts_graph_tl.jpg) top right;
    width: 5px;
    height: 24px;
}

.contacts_graph_top {
    background: url(../images/contacts_graph_top_rep.jpg) top left repeat-x;
    height: 24px;

}

.contacts_graph h1 {
    padding: 5px 0 0 5px;
    font-family: "Myriad", "Myriad Pro", Verdana, Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #333;
    font-weight: normal;
    margin: 0;
}

.contacts_graph_tr {
    background: url(../images/contacts_graph_tr.jpg) top left;
    width: 5px;
    height: 24px;
}

.contacts_graph_l {
    background: url(../images/contacts_graph_l.jpg) top right repeat-y;
    width: 5px;
}

.contacts_graph_r {
    background: url(../images/contacts_graph_r.jpg) top left repeat-y;
    width: 5px;
}

.contacts_graph_bl {
    background: url(../images/contacts_graph_bl.jpg) top right no-repeat;
    width: 5px;
    height: 4px;
}

.contacts_graph_bottom {
    background: url(../images/contacts_graph_bot_rep.jpg) top left repeat-x;
    height: 4px;
}

.contacts_graph_br {
    background: url(../images/contacts_graph_br.jpg) top left no-repeat;
    width: 5px;
    height: 4px;
}

.bottom_shad {
    background: url(../images/bottom_shad.jpg) top left repeat-x;
    height: 10px;
}

.bl_shad {
    background: url(../images/bl_shad.jpg) top right no-repeat;
    height: 6px;
    width: 3px;
}

.br_shad {
    background: url(../images/br_shad.jpg) top left no-repeat;
    height: 6px;
    width: 3px;
}

/******************************************************************************/

/* CALENDAR                                                                   */

/******************************************************************************/

/* Calendar styles */

.calendarHomeContainer {
    margin: 0px 10px 15px 10px;
}

/*width:267px;*/

.calendarHomeContainer table {
    width: 100%;
    padding: 0;
    margin: 0;
    border: none;
}

td.calendarHome_content {
}

/* Calendar shadows */

td.calendarHome_shadow_tl,
td.calendarHome_shadow_l,
td.calendarHome_shadow_br {
    width: 4px;
}

td.calendarHome_shadow_tr,
td.calendarHome_shadow_r,
td.calendarHome_shadow_br {
    width: 6px;
}

td.calendarHome_shadow_bl,
tr.calendarHome_shadow_b,
td.calendarHome_shadow_br {
    height: 6px;
}

td.calendarHome_shadow_tl,
tr.calendarHome_shadow_t,
td.calendarHome_shadow_tr {
    height: 4px;
}

td.calendarHome_shadow_tl {
    background: url(../images/calendar/calendar_home_tl.gif) top no-repeat;
}

td.calendarHome_shadow_tr {
    background: url(../images/calendar/calendar_home_tr.gif) top no-repeat;
}

td.calendarHome_shadow_l {
    background: url(../images/calendar/calendar_home_l_bg.gif) top repeat-y;
}

td.calendarHome_shadow_r {
    background: url(../images/calendar/calendar_home_r_bg.gif) top repeat-y;
}

td.calendarHome_shadow_bl {
    background: url(../images/calendar/calendar_home_bl.gif) top no-repeat;
}

td.calendarHome_shadow_br {
    background: url(../images/calendar/calendar_home_br.gif) top no-repeat;
}

tr.calendarHome_shadow_t {
    background: url(../images/calendar/calendar_home_t_bg.gif) top repeat-x;
}

tr.calendarHome_shadow_b {
    background: url(../images/calendar/calendar_home_b_bg.gif) top repeat-x;
}

/* Month */

td.calendarHome_month_l,
td.calendarHome_month_r {
    width: 39px;
}

td.calendarHome_month_l,
td.calendarHome_month_r,
tr.calendarHome_month_bg {
    height: 28px;
}

tr.calendarHome_month_bg {
    background: url(../images/calendar/calendar_month_bg.jpg) left repeat-x;
    border-right: 1px solid #A7A6A5;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}

/* DOW */

table.calendarHome_dow_bg {
    width: 100%;
    height: 19px;
    background: url(../images/calendar/calendar_dow_bg.jpg) left repeat-x;
    border: none;
}

table.calendarHome_dow_bg td {
    width: 14%;
    padding: 0.2em;
    background: url(../images/calendar/calendar_dow_divide.jpg) top left no-repeat;
    font-size: 10px;
    text-align: center;
    font-weight: bold;
}

td.calendarHome_dow_sun {
    width: 15%;
    background: url(../images/calendar/calendar_dow_sun.jpg) top left no-repeat;
    border-left: 1px solid #A7A6A5;
}

td.calendarHome_dow_sat {
    width: 15%;
    background: url(../images/calendar/calendar_dow_sat.jpg) top right no-repeat;
    border-right: 1px solid #A7A6A5;
}

td.calendarHome_dow {
    background: url(../images/calendar/calendar_dow_divide.jpg) top left no-repeat;
}

/* DOM */

table.calendarHome_dom {
    width: 100%;
    border: 1px solid #817967;
    border-right: none;
    border-bottom: none;
    background: #F4F5F7;
    color: #525B70;
    text-align: center;
}

table.calendarHome_dom td {
    width: 14%;
    height: 1.6em;
    border-right: 1px solid #817967;
    border-bottom: 1px solid #817967;
    text-align: center;
    vertical-align: top;
    font-size: 9px;
}

table.calendarHome_dom h1 {
    margin: 0 0 0 0.2em;
    padding: 0;
    font: 10px Verdana, Arial, Helvetica, sans-serif;
    font-weight: normal;
    border: 0;
}

table.calendarHome_dom h2 {
    margin: 0 0 0 0.2em;
    padding: 0;
    font: 12px Verdana, Arial, Helvetica, sans-serif;
    font-weight: bold;
    border: 0;
}

table.calendarHome_dom h3 {
    margin: 0 0 0 0.2em;
    padding: 0;
    font: 10px Verdana, Arial, Helvetica, sans-serif;
    font-weight: normal;
    border: 0;
    color: #928A76;
}

table.calendarHome_dom a {
    width: 100%;
    height: 100%;
    display: block;
    text-decoration: none;
}

td.calendarHome_dom_ends {
    width: 15%;
    background: #E0E2E4;
}

/* Styles for selected week */

tr.calendarHome_thisweek {
    background: #BFDFFF;
    color: #000;
}

.calendarHome_thisweek a {
    color: #000;
}

td.calendarHome_thisweek_ends {
    width: 15%;
    background: #fff;
}

td.calendarHome_appt {
    background: #FAC5C8;
}

td.calendarHome_selectDay {
    background: #D2DCD9;
}

table.calendarHome_dom a:hover {
    background: #EDECDF;
}

td.calendarHome_link_l {
    text-align: left;
    padding: 5px 0 0 5px;
}

td.calendarHome_link_r {
    text-align: right;
    padding: 5px 8px 0 0;
}

/* Calendar Cell Highlighting */

td.dayCell {
    background: #FFFFFF;
}

/* FFFFFF: white */
td.dayCell:hover {
    background: #EDECDF;
}

/* EDECDF: light yellow */
td.dayCellBlue {
    background: #BFDFFF;
}

/* BFDFFF: light blue */
td.dayCellBlue:hover {
    background: #EDECDF;
}

td.dayCellToday {
    background: #000000;
}

/* 000000: black */
td.dayCellToday a {
    background: #FFFFFF;
}

td.dayCellToday a:hover {
    background: #EDECDF;
}

td.dayCellBlueToday {
    background: #000000;
}

td.dayCellBlueToday a {
    background: #BFDFFF;
}

td.dayCellBlueToday a:hover {
    background: #EDECDF;
}

.dayheadercellNoBorderR {
    border-bottom: 1px solid #000;
    font-size: 10px;
    color: #525B70;
    text-align: center;
    font-weight: bold;
    background: url(../images/calendar/calendar_month_bg.jpg) left repeat-x;
}

.celltitle {
    height: 28px;
    font-size: 10px;
    font-weight: bold;
    border-right: 3px double #666;
    border-bottom: 1px solid #000;
    color: #525B70;
    text-align: center;
    background: url(../images/calendar/calendar_month_bg.jpg) top left repeat-x;
}

td.borderhighlight a {
    display: inline;
    vertical-align: middle;
}

div.monthdaycellNoBorderR div a,
td.monthdaycell div a {
    display: inline;
    vertical-align: middle;
}

#banner_top_logo {
    text-align: center;
}

#banner_top_bg {
	background-image: url(../images/bnnr_top_bg.jpg);
    background-repeat: repeat-x;
    background-position: 0 0;
}

#banner_top_navs {
    text-align: right;
    background-image: url(../images/bnnr_top_bg.jpg);
    background-repeat: repeat-x;
    background-position: 0 0;
}

#search_field {
    background-image: url(../images/bnnr_top_search_shadow.jpg);
    background-repeat: repeat-x;
    background-position: 0 0;
    border: 1px solid #C3C3C3;
    font-size: 11px;
    height: 15px;
    width: 150px;
    padding: 0px;
    margin: 0px;
    vertical-align: middle;
    padding-top: 3px;
    padding-left: 5px;
}

#banner_bottom_nav {
    margin: 0;
    padding: 0;
    background-image: url(../images/bnnr_bttm_bg.jpg);
    background-position: 0 0;
    background-repeat: repeat-x;
}

#banner_bottom_shad_left {
    margin: 0;
    padding: 0;
    background-image: url(../images/bnnr_bttm_shad_left.jpg);
    background-position: 0 0;
    background-repeat: repeat-y;
}

#banner_bottom_shad_right {
    margin: 0;
    padding: 0;
    background-image: url(../images/bnnr_bttm_shad_right.jpg);
    background-position: 0 0;
    background-repeat: repeat-y;
}

#banner_bottom_nav_table {
    margin: 0;
    padding: 0;
    vertical-align: bottom;
    text-align: left;
}

#banner_bottom_content {
    margin: 0;
    padding: 0;
    background-image: url(../images/bnnr_bttm_content_bg.jpg);
    background-position: 0 0;
    background-repeat: repeat-x;
    background-color: #E2E2E2;
}

#banner_bottom_base {
    margin: 0;
    padding: 0;
    background-image: url(../images/bnnr_bttm_base.jpg);
    background-position: 0 0;
    background-repeat: repeat-x;
}

#temp {
    border: dotted 1px #999;
}

/* google, whitepages etc icons */
.google {
    float: right;
    width: auto;
}

.google ul {
    margin: 4px 6px 3px 0;
}

.google li {
    display: inline;
    margin: 0;
    padding: 0;
}

/* company name text */
.company_name {
    float: left;
    width: auto;
    padding: 5px 0 0 10px;
    font-size: 18px;
}

.details {
    width: 100%;
    margin: 0;
    padding: 0;
    background: #fff;
}

.details td {
    vertical-align: center;
    color: #333333;
    font-size: 14px;
    padding: 4px;
    white-space: normal;
}

.details_grey {
    width: 100%;
    margin: 0;
    padding: 0;
    background: #F3F3F4;
}

.details_grey td {
    vertical-align: center;
    color: #333333;
    font-size: 12px;
    padding: 4px;
    white-space: normal;
}

.details_grey .details_bold {
    font-weight: bold;
    color: #6f6f6f;
    font-size: 12px;
    padding-left: 12px;
    text-align: left;
}

.details .details_bold {
    font-weight: bold;
    color: #6f6f6f;
    font-size: 12px;
    padding-left: 12px;
    text-align: left;
}

.details .details_bold_head {
    font-weight: bold;
    color: #6f6f6f;
    font-size: 12px;
    padding-left: 12px;
    text-align: left;
    background: url("../images/reporting/library_panel_question_gradiet.png") repeat-x;
    min-height: 32px;
}

.details .details_bold td{
    font-weight: bold;
    color: #6f6f6f;
    font-size: 12px;
    padding-left: 12px;
    text-align: left;
}

.details select.normalSelect {
    height: 21px;
}

td.details_bold_nowrap {
    font-weight: bold;
    color: #6f6f6f;
    padding-left: 12px;
    text-align: left;
    white-space: nowrap;
}

td.details_nowrap {
    font-weight: normal;
	font-size: 12px;
    font-family: Tahoma;
    color: #6f6f6f;
    padding-left: 8px;
    text-align: left;
    white-space: nowrap;
}

.details_left {
    float: left;
    padding-left: 8px;
}

.details_right {
    float: right;
    cursor: pointer;
}

/* details section top left corner */
.details_tl {
    width: 5px;
    height: 30px;
    background: url(../images/tl.jpg) top left no-repeat;
}

/* details section top right corner */
.details_tr {
    width: 5px;
    height: 30px;
    background: url(../images/tr.jpg) top left no-repeat;
}

/* details section top repeat */
.details_t {
    background: url(../images/t_rep.jpg) top left repeat-x;
    height: 30px;
}

.title_text {
    font-family: "Myriad", "Myriad Pro", Verdana, Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #333333;
    padding: 7px 0 0 20px;
}

.details_t a:hover  img {
    filter: alpha(opacity = 60);
    opacity: 0.6;
    -moz-opacity: 0.6;
}

.details_r {
    width: 5px;
    height: 30px;
    background: url(../images/tr.jpg) top right no-repeat;
}

/* details section right repeating shadow */
.details_r_rep {
    background: url(../images/r_rep.jpg) top right repeat-y;
    width: 3px;
}

/* details section left repeating shadow */
.details_l_rep {
    background: url(../images/l_rep.jpg) top left repeat-y;
    width: 3px;

}

/* details section bottom left corner */
.details_bl {
    background: url(../images/bl.jpg) top right no-repeat;
    width: 5px;
    height: 5px;
}

/* details section bottom repeating shadow */
.details_b {
    background: url(../images/b_rep.jpg) top left repeat-x;
}

/* details section bottom right corner */
.details_br {
    background: url(../images/br.jpg) top left no-repeat;
    width: 5px;
    height: 5px;
}

/* details section bottom left corner */
.details_grey_bl {
    background: url(../images/bl_grey.png) top right no-repeat;
    width: 5px;
    height: 5px;
}

/* details section bottom repeating shadow */
.details_grey_b {
    background: url(../images/b_grey.png) top left repeat-x;
}

/* details section bottom right corner */
.details_grey_br {
    background: url(../images/br_grey.png) top left no-repeat;
    width: 5px;
    height: 5px;
}

/* details section bottom left corner */
.details_purple_bl {
    background: url(../images/bl_purple.png) top right no-repeat;
    width: 5px;
    height: 5px;
}

/* details section bottom repeating shadow */
.details_purple_b {
    background: url(../images/b_purple.png) top left repeat-x;
}

/* details section bottom right corner */
.details_purple_br {
    background: url(../images/br_purple.png) top left no-repeat;
    width: 5px;
    height: 5px;
}

.background_grey {
    background-color: #F3F3F3;
}

.subboxtable {
	border: 1px solid rgb(221, 221, 221);
}

.subbox_content_background {
    background-color: #F8F9FA;
}

.subbox_content_background_white {
    background-color: white;
}

.subbox_header_background {
    background-color: #edeff1;
}

.subbox_scrollarea {
	width: 100%; 
	height: 120px;
	overflow: visible;
	overflow-y: scroll;
	vertical-align: top;
}

.twoline_subbox_scrollarea {
    width: 100%; 
    height: 60px;
    overflow: visible;
    overflow-y: scroll;
    vertical-align: top;
}

.threeline_subbox_scrollarea {
    width: 100%; 
    height: 90px;
    overflow: visible;
    overflow-y: scroll;
    vertical-align: top;
}

.fiveline_subbox_scrollarea {
    width: 100%; 
    height: 140px;
    overflow: visible;
    overflow-y: scroll;
    vertical-align: top;
}

.quotes_subbox_scrollarea {
    width: 100%; 
    height: 270px;
    overflow: visible;
    overflow-y: scroll;
    vertical-align: top;
}

.process_quote_box { 
	/*background-color:#B36BB8;*/ 
	width:224px; 
	height:150px;
	vertical-align: top;
	padding: 10px 0px 10px 10px  !important;
	float: left;
/*	padding: 5px;  
	color:#FFF; 
	font-size:17px;
*/	
}

.process_quote_img { 
	/*background-color:#B36BB8;*/ 
	width:224px; 
	vertical-align: top;
	padding: 0px 0px 0px 0px  !important;
/*	padding: 5px;  
	color:#FFF; 
	font-size:17px;
*/
	
	margin: 0  !important;
    border: 0 !important;
    outline: 0 !important;

}

.process_quote_middle { 
	background-color:#B36BB8;
	width:224px; 
	/*height:126px;
	*/
	padding-left: 12px !important; 
	color:#FFF  !important; 
	font-size:15px  !important;
	text-align: left;
	
    font-weight: normal !important;
    font-family: Tahoma !important;
    
   	margin: 0  !important;
    border: 0 !important;
    outline: 0 !important;
}
.process_quote_middle a { 
	color:#FFF  !important; 
}

.process_quote_middle_right { 
	background-color:#B36BB8;
	align: right;
    margin: 0  !important;
    border: 0 !important;
    outline: 0 !important;
    
}

.process_quote_middle_grey { 
	background-color:#D6D5E0;
	width:224px; 
	/*height:126px;
	*/
	padding-left: 12px !important; 
	color:#555555  !important; 
	font-size:15px  !important;
	text-align: left;
	
    font-weight: normal !important;
    font-family: Tahoma !important;
    
   	margin: 0  !important;
    border: 0 !important;
    outline: 0 !important;
}
.process_quote_middle_grey_right { 
	background-color:#D6D5E0;
	align: right !important;
    margin: 0  !important;
    border: 0 !important;
    outline: 0 !important;
    width:90px;
}


.process_quote_bottom_left { 
	background-color:#D8D8D8; 
	padding: 10px 0px 10px 12px  !important; 
	color:#333333 !important; 
	font-size:12px;
	text-align: left;
	
	font-weight: normal;
    font-family: Arial;
    
    margin: 0  !important;
    border: 0 !important;
    outline: 0 !important;
    
}

.process_quote_bottom_right { 
	background-color:#D8D8D8; 
	padding: 0px 0px 0px 0px; 
	color:#333333  !important; 
	font-size: 15px  !important;
	text-align: right  !important;
	width: 130px; 
	font-weight: normal;
    font-family: Arial;
    
    margin: 0  !important;
    border: 0 !important;
    outline: 0 !important;
    
}

.subbox_rowcountcell {
	color:#333333;
	font-size:12px;
	padding:4px;
	vertical-align: bottom;
	text-align: right;
}

.edit_icon {
    float: right;
    margin-right: 5px;
}

.campaign_status {
    background: #fff;
}

.campaign_status td {
    border-bottom: 1px solid #d7dae8;
    font-size: 12px;
    height: 30px;
}

.campaign_status campaign_status_bttn span {
    height: 20px;
}

.campaign_status img {
    padding-right: 5px;
}

/* padding left for text */
.pad_left {
    padding-left: 11px;
}

/* table for left section/column */
.section_table_left {
    width: 98%;
}

/* table for right section/column */
.section_table_right {
   /* position: static;*/
}

/* left column div */
.left_col {
    float: left;
    width: 49%;
    margin-top: 15px;
}

.right_col {
    float: right;
    width: 50%;
    margin-top: 15px;
}

/* tabs section top left corner */
.tabs_tl {
    background: url(../images/tabs/tabs_tl.jpg) bottom right no-repeat;
    width: 5px;
    height: 6px;
}

/* tabs section top repeating */
.tabs_t {
    background: url(../images/tabs/tabs_t.jpg) bottom left repeat-x;
    height: 6px;
}

/* tabs section left shadow */
.tabs_l {
    background: url(../images/tabs/tabs_l.jpg) right repeat-y;
    width: 6px;
}

/* tabs section top right corner */
.tabs_tr {
    background: url(../images/tabs/tabs_tr.jpg) bottom left no-repeat;
    width: 6px;
    height: 5px;
}

/* tabs section right shadow */
.tabs_r {
    background: url(../images/tabs/tabs_r.jpg) bottom left repeat-y;
    width: 6px;
}

/* tabs section backgroudn */
.tabs_bg {
    background: #CFD2E3 url(../images/tabs/tabs_bg.jpg) top left repeat-x;
    min-width: 970px;
}

/* company tabs */
.tabs_bottom_company {
    height: 12px;
    background: #6DCE3C;
}

.company_filler {
    border-bottom: 1px solid #6dce3c;
}

/* contacts tabs */
.tabs_bottom_contacts {
    height: 12px;
    background: #0FA1D2;
    margin: 0;
    padding: 0;
}

.contacts_filler {
    border-bottom: 1px solid #0FA1D2;
}

/* notes tabs */
.tabs_bottom_notes {
    height: 12px;
    background: #9573FE;
    margin: 0;
    padding: 0;
}

.notes_filler {
    border-bottom: 1px solid #9573FE;
}

/* responses tabs */
.tabs_bottom_responses {
    height: 12px;
    background: #E07407;
    margin: 0;
    padding: 0;
}

.responses_filler {
    border-bottom: 1px solid #E07407;
}

/* leads tabs */
.tabs_bottom_leads {
    height: 12px;
    background: #E5B934;
    margin: 0;
    padding: 0;
}

.leads_filler {
    border-bottom: 1px solid #E5B934;
}

/* opportunity tabs */
.tabs_bottom_opportunities {
    height: 12px;
    background: #E5B934;
    margin: 0;
    padding: 0;
}

.opportunities_filler {
    border-bottom: 1px solid #E5B934;
}

/* processes tabs */
.tabs_bottom_processes {
    height: 12px;
    background: #CC6ACD;
    margin: 0;
    padding: 0;
}

.processes_filler {
    border-bottom: 1px solid #CC6ACD;
}

/* quotes tabs */
.tabs_bottom_quotes {
    height: 12px;
    background: #37B5B2;
    margin: 0;
    padding: 0;
}

.quotes_filler {
    border-bottom: 1px solid #37B5B2;
}

/* documents tabs */
.tabs_bottom_documents {
    height: 12px;
    background: #64E3C6;
    margin: 0;
    padding: 0;
}

.documents_filler {
    border-bottom: 1px solid #64E3C6;
}

/* profiles tabs */
.tabs_bottom_profiles {
    height: 12px;
    background: #CD6CCD;
    margin: 0;
    padding: 0;
}

.profiles_filler {
    border-bottom: 1px solid #CD6CCD;
}

/* no tab filler */
.tabs_bottom_notab {
    height: 12px;
    background: #D7D7E6;
    margin: 0;
    padding: 0;
    border-top: 1px solid #FFFFFF;
}

.notab_filler {
    border-bottom: 1px solid #CD6CCD;
}

.tabs_white_bottom {
    border-bottom: 1px solid #cfd2e3;
}

.tab_shad_cms {
    background: #E4E6E9 url(../images/tabs/tab_shad.jpg) top left repeat-x;
}

.tab_shad_cms img {
    padding: 7px 0 10px 4px;
}

.tab_shad, .tab_shad_blank {
    background: #E4E6E9 url(../images/tabs/tab_shad.jpg) top left repeat-x;
}

.darkpurple_shad {
    background: #E4E6E9 url(../images/tabs/darkpurple_shad.png) top left repeat-x;
}

.purple_shad {
    background: #E4E6E9 url(../images/tabs/purple_shad.png) top left repeat-x;
}

.tab_shad_img {
    padding: 7px 0 5px 5px;
}

.tab_shad img {
    padding: 7px 0 5px 25px;
}

.tab_shad_select {
    background: #E4E6E9 url(../images/tabs/tab_shad.jpg) top left repeat-x;
    padding-left: 15px;
    padding-right: 5px;
    padding-top: 5;
    padding-bottom: 5;
}

.tab_shad_assign_icon {
    background: #E4E6E9 url(../images/tabs/tab_shad.jpg) top left repeat-x;
    padding-top: 5;
    padding-bottom: 5;
}

/* hidden options drop down list */
#options_list {
    display: none;
}

/* grey gradient background */
.under_tab_bg {
    background: #e0e0e0 url(../images/default_bg.png) top left repeat-x;
}

.section_container {
    padding: 0 15px 0 15px;
    background: #ebebeb url(../images/tabs/under_tab_bg.jpg) top left repeat-x;
}

/* bottom left corner of tabs section */
.tabs_bl {
    background: url(../images/tabs/bl.jpg) top right no-repeat;
    width: 12px;
    height: 8px;
}

/* bottom repeating tabs sections */
.tabs_b {
    background: url(../images/tabs/b.jpg) top left repeat-x;
}

/* bottom right corner of tabs section */
.tabs_br {
    background: url(../images/tabs/br.jpg) top left no-repeat;
    width: 12px;
    height: 8px;
}

.details_grey_shad {
    background: #E8E9EE url(../images/t_shad.jpg) top left repeat-x;
    height: 30px;
    font: 11px normal Verdana, Arial, Helvetica, sans-serif;
    color: #777;
    text-align: left;
}

.details_grey_shad#left {
    padding-left: 12px;
}

.details_grey_shad img {
    padding-top: 5px;
}

/* contacts bar */

.contacts_details_l {
    width: 5px;
    height: 30px;
    background: url(../images/bar_contacts_l.jpg) top left no-repeat;
}

.contacts_details_t {
    background: url(../images/bar_contacts_t.jpg) top left repeat-x;
    height: 30px;
}

.contacts_details_r {
    width: 5px;
    height: 30px;
    background: url(../images/bar_contacts_r.jpg) top right no-repeat;
}

.contacts_details_t a:hover  img {
    filter: alpha(opacity = 60);
    opacity: 0.6;
    -moz-opacity: 0.6;
}

.contacts_details_tl {
    width: 5px;
    height: 30px;
    background: url(../images/bar_contacts_l.jpg) top left no-repeat;
}

.contacts_details_tr {
    width: 5px;
    height: 30px;
    background: url(../images/bar_contacts_r.jpg) top right no-repeat;
}

/* notes bar */

.notes_details_l {
    width: 5px;
    height: 30px;
    background: url(../images/bar_notes_l.jpg) top left no-repeat;
}

.notes_details_t {
    background: url(../images/bar_notes_t.jpg) top left repeat-x;
    height: 30px;
}

.notes_details_r {
    width: 5px;
    height: 30px;
    background: url(../images/bar_notes_r.jpg) top right no-repeat;
}

.notes_details_t a:hover  img {
    filter: alpha(opacity = 60);
    opacity: 0.6;
    -moz-opacity: 0.6;
}

.notes_details_tr {
    width: 5px;
    height: 30px;
    background: url(../images/bar_notes_r.jpg) top right no-repeat;
}

.notes_details_tl {
    width: 5px;
    height: 30px;
    background: url(../images/bar_notes_l.jpg) top left no-repeat;
}

/* responses bar */

.responses_details_l {
    width: 5px;
    height: 30px;
    background: url(../images/bar_responses_l.jpg) top left no-repeat;
}

.responses_details_t {
    background: url(../images/bar_responses_t.jpg) top left repeat-x;
    height: 30px;
}

.responses_details_r {
    width: 5px;
    height: 30px;
    background: url(../images/bar_responses_r.jpg) top right no-repeat;
}

.responses_details_t a:hover  img {
    filter: alpha(opacity = 60);
    opacity: 0.6;
    -moz-opacity: 0.6;
}

.responses_details_tl {
    width: 5px;
    height: 30px;
    background: url(../images/bar_responses_l.jpg) top left no-repeat;
}

.responses_details_tr {
    width: 5px;
    height: 30px;
    background: url(../images/bar_responses_r.jpg) top right no-repeat;
}






/* leads bar */

.leads_details_l {
    width: 5px;
    height: 30px;
    background: url(../images/bar_leads_l.jpg) top left no-repeat;
}

.leads_details_t {
    background: url(../images/bar_leads_t.jpg) top left repeat-x;
    height: 30px;
}

.leads_details_r {
    width: 5px;
    height: 30px;
    background: url(../images/bar_leads_r.jpg) top right no-repeat;
}

.leads_details_t a:hover  img {
    filter: alpha(opacity = 60);
    opacity: 0.6;
    -moz-opacity: 0.6;
}

.leads_details_tl {
    width: 5px;
    height: 30px;
    background: url(../images/bar_leads_l.jpg) top left no-repeat;
}

.leads_details_tr {
    width: 5px;
    height: 30px;
    background: url(../images/bar_leads_r.jpg) top right no-repeat;
}

/* processes bar */

.processes_details_l {
    width: 5px;
    height: 30px;
    background: url(../images/bar_processes_l.jpg) top left no-repeat;
}

.processes_details_t {
    background: url(../images/bar_processes_t.jpg) top left repeat-x;
    height: 30px;
}

.processes_details_r {
    width: 5px;
    height: 30px;
    background: url(../images/bar_processes_r.jpg) top right no-repeat;
}

.processes_details_t a:hover  img {
    filter: alpha(opacity = 60);
    opacity: 0.6;
    -moz-opacity: 0.6;
}

.processes_details_tl {
    width: 5px;
    height: 30px;
    background: url(../images/bar_processes_l.jpg) top left no-repeat;
}

.processes_details_tr {
    width: 5px;
    height: 30px;
    background: url(../images/bar_processes_r.jpg) top right no-repeat;
}

/* quotes bar */

.quotes_details_l {
    width: 5px;
    height: 30px;
    background: url(../images/bar_quotes_l.jpg) top left no-repeat;
}

.quotes_details_t {
    background: url(../images/bar_quotes_t.jpg) top left repeat-x;
    height: 30px;
}

.quotes_details_r {
    width: 5px;
    height: 30px;
    background: url(../images/bar_quotes_r.jpg) top right no-repeat;
}

.quotes_details_t a:hover  img {
    filter: alpha(opacity = 60);
    opacity: 0.6;
    -moz-opacity: 0.6;
}

.quotes_details_tl {
    width: 5px;
    height: 30px;
    background: url(../images/bar_quotes_l.jpg) top left no-repeat;
}

.quotes_details_tr {
    width: 5px;
    height: 30px;
    background: url(../images/bar_quotes_r.jpg) top right no-repeat;
}
/* RPM bar */
.rpm_details_tl {
    width: 5px;
    height: 30px;
    background: url(../images/bar_rpm_l.png) top left no-repeat;
}

.rpm_details_tr {
    width: 5px;
    height: 30px;
    background: url(../images/bar_rpm_r.png) top right no-repeat;
}

.rpm_details_t {
    background: url(../images/bar_rpm_t.png) top left repeat-x;
    height: 30px;
}

/* documents bar */

.documents_details_l {
    width: 5px;
    height: 30px;
    background: url(../images/bar_documents_l.jpg) top left no-repeat;
}

.documents_details_t {
    background: url(../images/bar_documents_t.jpg) top left repeat-x;
    height: 30px;
}

.documents_details_r {
    width: 5px;
    height: 30px;
    background: url(../images/bar_documents_r.jpg) top right no-repeat;
}

.documents_details_t a:hover  img {
    filter: alpha(opacity = 60);
    opacity: 0.6;
    -moz-opacity: 0.6;
}

.documents_details_tl {
    width: 5px;
    height: 30px;
    background: url(../images/bar_documents_l.jpg) top left no-repeat;
}

.documents_details_tr {
    width: 5px;
    height: 30px;
    background: url(../images/bar_documents_r.jpg) top right no-repeat;
}

/* profiles bar */

.profiles_details_l {
    width: 5px;
    height: 30px;
    background: url(../images/bar_profiles_l.jpg) top left no-repeat;
}

.profiles_details_t {
    background: url(../images/bar_profiles_t.jpg) top left repeat-x;
    height: 30px;
}

.profiles_details_r {
    width: 5px;
    height: 30px;
    background: url(../images/bar_profiles_r.jpg) top right no-repeat;
}

.profiles_details_t a:hover  img {
    filter: alpha(opacity = 60);
    opacity: 0.6;
    -moz-opacity: 0.6;
}

.profiles_details_tl {
    width: 5px;
    height: 30px;
    background: url(../images/bar_profiles_l.jpg) top left no-repeat;
}

.profiles_details_tr {
    width: 5px;
    height: 30px;
    background: url(../images/bar_profiles_r.jpg) top right no-repeat;
}

/* companies bar */

.companies_details_l {
    width: 5px;
    height: 30px;
    background: url(../images/bar_companies_l.jpg) top left no-repeat;
}

.companies_details_t {
    background: url(../images/bar_companies_t.jpg) top left repeat-x;
    height: 30px;
}

.companies_details_r {
    width: 5px;
    height: 30px;
    background: url(../images/bar_companies_r.jpg) top right no-repeat;
}

.companies_details_t a:hover  img {
    filter: alpha(opacity = 60);
    opacity: 0.6;
    -moz-opacity: 0.6;
}

.companies_details_tl {
    width: 5px;
    height: 30px;
    background: url(../images/bar_companies_l.jpg) top left no-repeat;
}

.companies_details_tr {
    width: 5px;
    height: 30px;
    background: url(../images/bar_companies_r.jpg) top right no-repeat;
}

/* red bar */

.red_details_l {
    width: 5px;
    height: 30px;
    background: url(../images/bar_red_l.jpg) top left no-repeat;
}

.red_details_t {
    background: url(../images/bar_red_t.jpg) top left repeat-x;
    height: 30px;
}

.red_details_r {
    width: 5px;
    height: 30px;
    background: url(../images/bar_red_r.jpg) top right no-repeat;
}

.red_details_t a:hover  img {
    filter: alpha(opacity = 60);
    opacity: 0.6;
    -moz-opacity: 0.6;
}

.red_details_tl {
    width: 5px;
    height: 30px;
    background: url(../images/bar_red_l.jpg) top left no-repeat;
}

.red_details_tr {
    width: 5px;
    height: 30px;
    background: url(../images/bar_red_r.jpg) top right no-repeat;
}

.left_align {
    text-align: left;
}

.top_nav {
    margin-bottom: 10px;
}

.search_text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #666;
    text-align: right;
    padding: 18px 22px 0 0;
}

/* campaigns bar */

.campaigns_details_l {
    width: 5px;
    height: 30px;
    background: url(../images/bar_campaigns_l.jpg) top left no-repeat;
}

.campaigns_details_t {
    background: url(../images/bar_campaigns_t.jpg) top left repeat-x;
    height: 30px;
}

.campaigns_details_r {
    width: 5px;
    height: 30px;
    background: url(../images/bar_campaigns_r.jpg) top right no-repeat;
}

.campaigns_details_t a:hover  img {
    filter: alpha(opacity = 60);
    opacity: 0.6;
    -moz-opacity: 0.6;
}

.campaigns_details_tl {
    width: 5px;
    height: 30px;
    background: url(../images/bar_campaigns_l.jpg) top left no-repeat;
}

.campaigns_details_tr {
    width: 5px;
    height: 30px;
    background: url(../images/bar_campaigns_r.jpg) top right no-repeat;
}

/* templates bar */

.templates_details_l {
    width: 5px;
    height: 30px;
    background: url(../images/bar_templates_l.jpg) top left no-repeat;
}

.templates_details_t {
    background: url(../images/bar_templates_t.jpg) top left repeat-x;
    height: 30px;
}

.templates_details_r {
    width: 5px;
    height: 30px;
    background: url(../images/bar_templates_r.jpg) top right no-repeat;
}

.templates_details_t a:hover  img {
    filter: alpha(opacity = 60);
    opacity: 0.6;
    -moz-opacity: 0.6;
}

.templates_details_tl {
    width: 5px;
    height: 30px;
    background: url(../images/bar_templates_l.jpg) top left no-repeat;
}

.templates_details_tr {
    width: 5px;
    height: 30px;
    background: url(../images/bar_templates_r.jpg) top right no-repeat;
}

/* buttons */

a.button {
    background: url(../images/buttons/button.gif);
    display: block;
    color: #555555;
    font-weight: normal;
    height: 30px;
    line-height: 29px;
    text-decoration: none;
    width: 105px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
}

a:hover.button {
    color: #0066CC;
}

.btn_update {
    background: url(../images/buttons/refresh.gif) no-repeat 10px 6px;
    text-indent: 33px;
    display: block;
}

.btn_cancel {
    background: url(../images/buttons/cancel.gif) no-repeat 10px 6px;
    text-indent: 33px;
    display: block;
}

.btn_login {
    background: url(../images/buttons/key.gif) no-repeat 10px 6px;
    text-indent: 33px;
    display: block;
}

.btn_continue {
    background: url(../images/buttons/arrow_right.gif) no-repeat 10px 6px;
    text-indent: 33px;
    display: block;
}

.btn_preview {
    background: url(../images/buttons/search.gif) no-repeat 10px 6px;
    text-indent: 33px;
    display: block;
}

.button_table td {
    padding: 5px 5px 5px 0;
}

/* newsletter */

.newsletter_header {
    height: 30px;
    margin: 15px 0 15px;
}

.newsletter_header td {
    vertical-align: middle;
}

/*.newsletter_header img	{
	float:right;
	margin-left:10px;
}*/

.newsletter_header h1 {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    margin: 0 0 0 13px;
}

.newsletter_search_options {
    float: right;
}

.status_list {
}

.status_list li {
    display: inline;
    margin: 0 0 0 15px;
}

.search_field {
    background: url(../images/search_bg.jpg) top left repeat-x;
    border-left: 1px solid #c3c3c3;
    border-right: 1px solid #c3c3c3;
    border-bottom: 1px solid #dddddd;
    border-top: 0;
    margin-right: 5px;
}

.search_field2 {
    background: url(../images/search_bg.jpg) top left repeat-x;
    border-left: 1px solid #c3c3c3;
    border-right: 1px solid #c3c3c3;
    border-bottom: 1px solid #dddddd;
    border-top: 0;
    margin-right: 5px;
    width: 80%;
}

.search_field3 {
    background: url(../images/search_bg.jpg) top left repeat-x;
    border-left: 1px solid #c3c3c3;
    border-right: 1px solid #c3c3c3;
    border-bottom: 1px solid #dddddd;
    border-top: 0;
    margin-right: 5px;
    width: 100%;
}

.newsletter_progress {
    height: 30px;
    padding: 3px 0 0 0;
}

.newsletter_progress img {
    padding: 5px 0 0 0;
}

.newsletter_progress ul {
    margin: 0 0 0 20px;
}

.newsletter_progress li {
    display: inline;
    margin: 0;
    padding: 0;
}

.newsletter_progress_form {
    background: #fff;
}

.newsletter_progress_form td {
    font-size: 12px;
    height: 30px;
}

.newsletter_shadow {
    background: url(../images/newsletter_shadow.jpg) top left no-repeat;
    width: 174px;
    height: 148px;
    margin: 20px auto;
}

.newsletter_shadow img {
    margin: 4px 0 0 4px;
}

.newsletter_desc {
    width: 164px;
    margin: 10px auto;
}

.newsletter_desc h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #333;
    font-weight: bold;
}

.newsletter_desc p {
    margin: 5px 0 8px 0;
}

/* button bar */

.button_bar {
    background: url(../images/button_bar_repeat.jpg) top left repeat-x;
    height: 58px;
}

.button_bar_l {
    background: url(../images/button_bar_l.jpg) top left no-repeat;
    width: 7px;
}

.button_bar_r {
    background: url(../images/button_bar_r.jpg) top right no-repeat;
    width: 7px;
}

/* popup */

.popup_container {
    margin: 20px;
}

.popup_break {
    border-top: 1px solid #e9e9e9;
    border-bottom: 1px solid #cccccc;
    margin-right: 20px;
    margin-top: 10px;
}

.popup_form {
    background: #fff;
    margin-top: 5px;
    text-align: left;
    margin-bottom: 5px;
}

.popup_form td {
    vertical-align: middle;
    font-size: 12px;
    height: 30px;
}

/* bar chart */

.bar_chart {
    background: url(../images/bar_graph_bg.jpg) top left repeat;
    height: 300px;
    width: 200px;
}

.search_list {
    background: #fff;
}

.search_list a {
    font-size: 12px;
    font-weight: bold;
}

.search_list td {
    border-bottom: 1px solid #d7dae8;
    padding: 0 0px 0 0;
    font-size: 11px;
    height: 40px;
    text-align: left;
}

.search_list img {
    padding-right: 5px;
}

.details_grey_shad {
    background: #E8E9EE url(../images/t_shad.jpg) top left repeat-x;
    height: 30px;
    font: 11px normal Verdana, Arial, Helvetica, sans-serif;
    color: #777;
}

.details_grey_shad td {
    font-size: 13px;
    font-weight: bold;
}

.details_grey_shad#left {
    padding-left: 12px;
}

.details_grey_shad img {
    padding-top: 5px;
}

.search_grey_shad {
    background: #E8E9EF top left repeat-x;
    height: 30px;
    font: 11px normal Verdana, Arial, Helvetica, sans-serif !important;
    color: #777;
    text-align: left;
}

.side_border {
    background: #EDEFF1;
    width: 3px;
}

.panel_left {
    padding-left: 4px;
}

.panel_right {
    padding-right: 8px;
}

.padding_listall {
    padding-left: 10px;
}

<!--
Pagination Styles

-->
#pagination {
    color: #333;
    font: 12px Arial, Helvetica, sans-serif;
    margin-right: 5px;
    margin-left: 5px;

    padding-top: 4px;
    padding-bottom: 4px;
    padding-top: 4px;
}

.search_list .pagination_results_center {
    text-align: center;
    margin: 0pt auto;

}

#pagination a {
    font-weight: bold;
    border: 1px solid #C4C4C4;
    margin: 0px;
    padding: 0px;
    padding: 2px 5px 2px 5px;
    margin: 1px 4px 1px 4px;
    text-decoration: none;
    color: #000;
}

.pagination_selected {
    font-weight: bold;
    border: 1px solid #C4C4C4;
    margin: 0px;
    padding: 0px;
    padding: 2px 5px 2px 5px;
    margin: 1px 4px 1px 4px;
    text-decoration: none;
    color: #000;
    background-color: #FFF;
}

#pagination a:hover {
    font-weight: bold;
    border: 1px solid #C4C4C4;
    margin: 0px;
    padding: 0px;
    padding: 2px 5px 2px 5px;
    margin: 1px 4px 1px 4px;
    text-decoration: none;
    color: #000;
    background-color: #FFF;
}

.pagination_results span {
    padding-left: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: bold;
    color: #000;
}

.paginationDetails {
    text-align: center;
}

.paginationDetails td {
    text-align: right;
}

.paginationDetails img {
    padding-right: 0px;
    padding-left: 0px;
}

.boxtop_options {
    background: #E8E9EE url(../images/t_shad.jpg) top left repeat-x;
    height: 30px;
    font: 12px normal Verdana, Arial, Helvetica, sans-serif;
    color: #777;
    text-align: left;
}

.google_map_footer {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    vertical-align: bottom;
    text-align: center;
    font-weight: bold;
    padding-bottom: 10px;
}

div.fieldSortArrows {
    float: left;
}

div.sortUp {
    text-align: center;
    padding: 2px 1px 1px 0px;
}

div.sortDown {
    text-align: center;
    padding: 1px 1px 2px 0px;
}

div.fieldTitle {
    float: left;
    height: 24px;
    line-height: 24px;
    padding-top: 5px
}

#runwayMapsSideBar #runwayMapsBack a:hover {
    color: #333333;
}

.runwayMapsBack {
    text-align: right;
    padding: 0px 10px 0px 0px;
    vertical-align: top;
}

.runwayMapsTitle {
    font-weight: normal;
    color: #0FA1D2;
    font-size: 18px;
    margin: 5px 0 0 10px;
    vertical-align: top;
    text-align: left;
}

.runwayMapsTitle span {
    color: #666666;
}

#runwayMapsSideBar {
    position: relative;
    vertical-align: top;
    text-align: center;
}

a.back-link {
    margin-left: 15px;
}

table.result-table, table.summary-table {
    font-size: 12px;
    width: 100%;
}

table.result-table td, table.summary-table td {
    vertical-align: middle;
    line-height: 16px;
}

td.record-name, td.cluster-name {
    width: 210px;
}

td.record-value {
    width: 25px;
}

table.result-table span.record-name, table.summary-table span.record-name {
    vertical-align: middle;
    line-height: 16px;
}

table.result-table input, table.summary-table input {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

table.result-table tr.odd, #selected-suburbs tr.odd, table.territory-table tr.odd {
    background: #D7D6E1;
}

table.record-table tr.odd {
    background: #D7D6E1;
}

table.cluster-table tr.odd, table.territory-table tr.odd {
    background: #D7D6E1;
}

table.cluster-table, table.record-table, table.territory-table {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

table.cluster-table td, table.record-table td, table.territory-table td {
    height: 19px;
}

div.result-panel {
    margin: 5px 0 0 10px;
    padding: 0;
    padding-left: 5px;
    padding-right: 5px;
}

tr.uncoded {
    color: red;
}

.LabeledMarker_markerLabel {
    background: white;
    color: #000000;
    border: 1px #000000 solid;
    padding-top: 3px;
    padding-left: 3px;
    padding-right: 3px; /*width: 125px;*/
    height: 14px; /*overflow: hidden;*/
    text-align: left;
    font-size: 9px;
    text-transform: capitalize;
    -moz-box-shadow: 3px 3px 3px #666;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-topleft: 5px;
    white-space: nowrap;
}

.territory-marker {
    height: 50px;
}

/*
div.sidebar-item h, div.sidebar-item span {
    padding-left: 5px;
    margin-left: 5px;
}

div.sidebar-item {
    margin-bottom: 10px;
}

span.record-name {
    font-size: 15px;
    margin-bottom: 3px;
    margin-right: 5px;
    width: 100px;
}

div.page {
    /*border: 1px dotted gray;
}
*/

table.page {

}

#runwayMapsSideBar #runwayMapsBack a {
    color: #666666;
    font-size: 11px;
    text-decoration: none;
}

#runwayMapsSideBar #runwayMapsBack a:hover {
    color: #333333;
}

#runwayMapsSideBar ul {
    display: inline;
    list-style-type: none;
    padding: 0px;
    margin: 5px 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    float: left;
}

#runwayMapsSideBar ul li {
    display: inline;
    list-style-type: none;
    margin: 0px 0px 0px 10px;
    padding: 0px;
    vertical-align: top;
    float: left;
}

.runwayMapsSideRecord {
    width: 230px;
    color: #666666;
}

.runwayMapsSideRecord h4 {
    color: #333333;
    font-size: 15px;
    font-weight: normal;
    margin: 0px;
}

.runwayMapsSideRecord h4 img {
    margin: 0px 0px 0px 10px;
}

#runwayMapsSideBar .runwayMapsSideRecord a {
    color: #333333;
    font-size: 15px;
    font-weight: normal;
    margin: 0px;
    text-decoration: none;
}

#runwayMapsSideBar .runwayMapsSidePointer a {
    font-size: 15px;
    color: #FE5143;
    text-decoration: none;
}

#runwayMapsBubble {
    /*
    position:absolute;
    width:230px;
    left:100px;
    top:20px;
    */
    text-align: left;
    background-color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #666666;
    padding: 5px;
    line-height: 120%;
}

#runwayMapsBubble span {
    color: #333333;
}

#runwayMapsBubble h4 {
    color: #333333;
    font-size: 15px;
    font-weight: normal;
    margin: 0px;
}

#runwayMapsBubble h4 img {
    margin: 0px 0px 0px 10px;
}

#runwayMapsBubble .runwayMapsBubbleEmail {
    color: #0C7EA5;
}

#runwayMapsSideBar .runwayMapsSidePointer {
    width: 15px;
}

/*for boxtop.jsp*/
.background_actions {
    background: white;
}

/* Question and Report ribbon tabs */
.subTabs {
    height: 24px;
    padding: 7px 0 0 5px;
    font-size: 12px;
    text-align: center;
}

.subTabActive {
    background: url(../images/tabs/sub_tab_bg.gif) repeat-x;
}

.tabText {
    padding-right: 6px;
    padding-left: 6px;
    padding-top: 4px;
}

.tabText a {
    text-decoration: none;
}

/* Google Maps */

#google-maps-container {
    background-color: #EDEFF1;
    margin: 0;
}

#map {
    width: 100%;
    height: 100%;
    background: white;
}

#maps-cell {
    border: 1px solid white;
}

#record-list-container {
    height: 100%;
    width: 100%;
}

#record-list-container .header {
    height: 30px;
}

#record-list-container #records {
    text-align: center;
}

.list-header {
    font-weight: normal;
    color: #0FA1D2;
    font-size: 18px;
    margin: 5px 0px 0px 10px;
    vertical-align: top;
    text-align: left;
}

#roller {
    margin-top: 50px;
}

.ui-datepicker-trigger {
    vertical-align: text-bottom;	
}

input.matchable {
    background: #FEFFCE;
    border: 1px solid #F9CBA9;
    padding: 2px;
}

input.matchable:hover {
    border: 1px solid #FFAC4F;
}

select.matchable {
    background: #FEFFCE;
    border: 1px solid #F9CBA9;
    height: 21px;
}

select.matchable:hover {
    border: 1px solid #FFAC4F;
}

/* End Question and Report ribbon tabs */

/*Quick Links css (Rep Toolbar) */

.repToolbar {
	background: #E4E6E9;
	padding: 6px 20px 12px;
	overflow: hidden;
}
.repToolbar img{
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px ;
}
.repButtons {
	float: left;
}
.repSmallButtons {
	float: left;
	width: 113px;
}
.nextRecord {
    float: left;
    font-size: 13px;
    padding-left: 12px;
    padding-top: 24px;
}

/*End of Quick Links css (Rep Toolbar)*/
/*Quick Note */

.quickNoteBox {
	width: 895px;
}
.quickNoteHeader {
	background: #DDDFE8;
	padding: 13px;
	border-bottom: 1px solid #99A0C1;
	font-size: 20px;
	overflow: hidden;
}
.quickNoteFooter {
	background: #DDDFE8;
	padding: 13px;
	font-size: 20px;
	border-top: 1px solid #99A0C1;
	text-align: center;
}
.quickNoteFooter img {
	margin-right: 8px;
	margin-left: 8px;
}
.quickMidContent {
	background: #E5E5E5;
	padding: 13px;
	border-bottom: 1px solid #99A0C1;
	border-top: 1px solid #99A0C1;
	font-size: 14px;
}
.quickNoteSearchFields {
	width: 680px;
	float: left;
}
.quickNoteSearchFields input {
	margin-left: 10px;
	margin-top: 8px;
}
.quickNoteMatches {
	clear: both;
	padding-top: 18px;
	font-size: 14px;
}
.quickNoteTitle {
	float: left;
	width: 620px;
}
.quickNoteClose {
	float: right;
	width: 130px;
	text-align: right;
}
.quickNoteSubHeader {
	height: 32px;
	font-size: 16px;
	font-weight: bold;
	vertical-align: middle;
	background-color: #eaebef;
	margin: 0;
	padding: 20px 0 0 30px;
}
.quickNoteBody {
	background: #F5F5F5;
	padding: 13px;
	overflow: hidden;
}
.quickNoteIcons {
	float: right;
}
.quickNoteIcons img {
	margin-left: 14px;
}
.quickNoteBlock {
	float: left;
	width: 420px;
	margin-right: 14px;
}
.quickNoteName {
	width: 420px;
	overflow: hidden;
	font-size: 19px;
}
.quickNoteName img {
	margin-right: 14px;
}
.quickNoteFields {
	padding-left: 52px;
	font-size: 14px;
}
.quickNoteFields select {
	width: 99%;
}
.quickNoteFields textarea {
	width: 98%;
}
.quickNoteFields td {
	padding-bottom: 8px;
}
.quickNoteCalendar {
	float: left;
	width: 220px;
	max-width: 220px;
	padding-left: 30px;
	font-size: 11px;
}
.quickNoteType {
	float: left;
	font-size: 14px;
	padding-left: 15px;
}
.quickNoteType td {
	padding-bottom: 10px;
}
.quickNoteType input {
	margin-right: 10px;
}
.quickNoteAppSearchFields {
}
.quickNoteAppSearchFields input {
	margin-left: 20px;
	margin-top: 8px;
}
.quickNoteInvite {
	clear: both;
	font-size: 14px;
	padding-left: 44px;
	padding-top: 15px;
}
.quickNoteInvite select {
	width: 99%;
}
.quickNoteInvite td {
	padding-bottom: 8px;
}

/*End Quick Note*/

/* Runway Dialog */

.runwayDialogBox {
	width: 895px;
}
.runwayDialogHeader {
	background: #DDDFE8;
	padding: 13px;
	border-bottom: 1px solid #99A0C1;
	font-size: 20px;
	overflow: hidden;
}
.runwayDialogFooter {
	background: #DDDFE8;
	padding: 13px;
	font-size: 20px;
	border-top: 1px solid #99A0C1;
	text-align: center;
}
.runwayDialogFooter img {
	margin-right: 8px;
	margin-left: 8px;
}
.runwayDialogSearchFields {
	width: 680px;
	float: left;
}
.runwayDialogSearchFields input {
	margin-left: 20px;
	margin-top: 8px;
}
.runwayDialogMatches {
	clear: both;
	padding-top: 18px;
	font-size: 14px;
}
.runwayDialogTitle {
	float: left;
	width: 620px;
}
.runwayDialogClose {
	float: right;
	width: 130px;
	text-align: right;
}
.runwayDialogBody {
	background: #F5F5F5;
	padding: 13px;
	overflow: hidden;
}
.runwayDialogIcons {
	float: right;
}
.runwayDialogIcons img {
	margin-left: 14px;
}
.runwayDialogBlock {
	float: left;
	width: 420px;
	margin-right: 14px;
}
.runwayDialogName {
	width: 420px;
	overflow: hidden;
	font-size: 20px;
}
.runwayDialogName img {
	margin-right: 14px;
}
.runwayDialogFields {
	padding-left: 52px;
	font-size: 14px;
}
.runwayDialogFields select {
	width: 99%;
}
.runwayDialogFields textarea {
	width: 98%;
}
.runwayDialogFields td {
	padding-bottom: 8px;
}
.runwayDialogCalendar {
	float: left;
	width: 240px;
	padding-left: 44px;
}
.runwayDialogType {
	float: left;
	font-size: 14px;
}
.runwayDialogType td {
	padding-bottom: 10px;
}
.runwayDialogType input {
	margin-right: 10px;
}
.runwayDialogAppSearchFields {
}
.runwayDialogAppSearchFields input {
	margin-left: 20px;
	margin-top: 8px;
}
.runwayDialogInvite {
	clear: both;
	font-size: 14px;
	padding-left: 44px;
	padding-top: 15px;
}
.runwayDialogInvite select {
	width: 99%;
}
.runwayDialogInvite td {
	padding-bottom: 8px;
}

/* End Runway Dialog */

/* Image uploader */

.uploadImageFields {
	font-size: 14px;
}
.uploadImageFields input {
	width: 99%;
}
.uploadImageBlock {
	float: left;
	width: 500px;
	margin-right: 14px;
}
.uploadImageOptions {
	float: right;
	width: 250px;
	margin-right: 14px;
	font-size: 14px;
}
.uploadImageOptions td {
	padding-bottom: 8px;
}
.uploadImageOptions select {
	width: 85%;
}
.imageTable {
	font-size: 13px;
}
.imageTable td{
	padding-right: 4px;
	border-bottom: 1px solid #C3C3C3;
	padding-top: 8px;
	padding-bottom: 8px;
}
.imageTableCol {
	font-weight: bold;
}
.imageTable input {
	width: 90%;
}
.uploadImageBody {
	background: #F5F5F5;
	padding: 20px;
	overflow: hidden;
}
.cms_shelf {
	background: #7B7A94 url(../images/purple_shelf_bg.png) top left repeat-x;
	border-bottom: 1px solid #B2B2B2; 
}
.cms_bottom_shelf {
	background: #7B7A94 url(../images/purple_shelf_bg.png) top left repeat-x;
	border-top: 1px solid #B2B2B2; 
}
.cms_bottom_buttons {
	background: #7B7A94;
	border-top: 1px solid #B2B2B2; 
}
.cms_DetailLabel{
	width: 100px;
	font-weight: bold;
	color: white;
	padding: 10px 2px 2px 2px;
	font-size: 12px;
	text-align: left;
	vertical-align: top;
}
.cms_DetailEdit{
	font-weight: normal;
	font-size: 12px;
	color: white;
	padding: 5px 10px 5px 0px;
	text-align: left;
}
.cms_DetailField{
	font-weight: normal;
	font-size: 12px;
	color: white;
	padding: 10px 10px 2px 0px;
	text-align: left;
}
.cms_DetailField a{
	font-weight: normal;
	font-size: 12px;
	color: white;
}
.cms_trail {
	padding: 6px 5px 0px 5px;
	font-size: 12px;
	color: white;
	font-weight: bold;
	white-space: nowrap;
	background: url(../images/properties/property_breadcrumb_bg.png) top left repeat-x;
}
.cms_trail a {
	color: white;
}

.buttontable{
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	border: none;
}
.buttontable td{
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	border: none;
}
.buttontable img{
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	border: none;
}
.buttonmiddlesmall {
	line-height: 90%;
	border: none;
	text-align: center;
	margin: 0px 0px 0px 0px;
	padding: 5px 5px 5px 5px;
	font-size: 11px;
	color: #444444;
	background-image:url('../images/buttons/form/bttn_bg_small.png');
	background-repeat:repeat-x; 
}

.buttonmiddlesmalldim {
	line-height: 90%;
	border: none;
	text-align: center;
	margin: 0px 0px 0px 0px;
	padding: 5px 5px 5px 5px;
	font-size: 11px;
	color: #444444;
	background-image:url('../images/buttons/form/bttn_bg_small_dim.png');
	background-repeat:repeat-x; 
}

/* End Image uploader*/




/*Asssign Template & NEwsletter */

.templateBox {
	width: 1110px;
}
.templateHeader {
	background: #DDDFE8;
	padding: 13px;
	border-bottom: 1px solid #99A0C1;
	font-size: 20px;
	overflow: hidden;
}
.templateFooter {
	background: #DDDFE8;
	padding: 13px;
	font-size: 16px;
	border-top: 1px solid #99A0C1;
	text-align: left;
	font-weight: bold;
}
.templateFooter img {
	margin-right: 8px;
	margin-left: 8px;
}
.templateMidContent {
	background: #E5E5E5;
	padding: 13px;
	border-bottom: 1px solid #99A0C1;
	border-top: 1px solid #99A0C1;
	font-size: 14px;
}
.templateSearchFields {
	width: 680px;
	float: left;
}
.templateSearchFields input {
	margin-left: 10px;
	margin-top: 8px;
}
.templateMatches {
	clear: both;
	padding-top: 18px;
	font-size: 14px;
}
.templateTitle {
	float: left;
	width: 620px;
}
.templateClose {
	float: right;
	width: 130px;
	text-align: right;
}
.templateBody {
	background: #F5F5F5;
	overflow: hidden;
}
.templateIcons {
	float: right;
}
.templateIcons img {
	margin-left: 14px;
}
.templateBlock {
	float: left;
	width: 420px;
	margin-right: 14px;
}
.templateName {
	width: 420px;
	overflow: hidden;
	font-size: 20px;
}
.templateName img {
	margin-right: 14px;
}
.templateFields {
	padding-left: 52px;
	font-size: 14px;
}
.templateFields select {
	width: 99%;
}
.templateFields textarea {
	width: 98%;
}
.templateFields td {
	padding-bottom: 8px;
}
.templateCalendar {
	float: left;
	width: 240px;
	padding-left: 44px;
}
.templateType {
	float: left;
	font-size: 14px;
}
.templateType td {
	padding-bottom: 10px;
}
.templateType input {
	margin-right: 10px;
}
.templateAppSearchFields {
}
.templateAppSearchFields input {
	margin-left: 20px;
	margin-top: 8px;
}
.templateInvite {
	clear: both;
	font-size: 14px;
	padding-left: 44px;
	padding-top: 15px;
}
.templateInvite select {
	width: 99%;
}
.templateInvite td {
	padding-bottom: 8px;
}

/*End Quick Note*/

/* sprites */


.bubble-icon {
	background: url(../images/sprites/bubble_sprite.png) no-repeat top left;
	width: 16px;
	height: 16px;
	display:inline-block; 
}

.bubble-icon.green-tick { background-position: -3px -3px; }
.bubble-icon.green-plus { background-position: -25px -3px; }
.bubble-icon.green-cross { background-position: -47px -3px; }
.bubble-icon.green-minus { background-position: -69px -3px; }
.bubble-icon.green-exclaim { background-position: -91px -3px; }
.bubble-icon.green-dots { background-position: -113px -3px; }
.bubble-icon.yellow-tick { background-position: -3px -25px; }
.bubble-icon.yellow-plus { background-position: -25px -25px; }
.bubble-icon.yellow-cross { background-position: -47px -25px; }
.bubble-icon.yellow-minus { background-position: -69px -25px; }
.bubble-icon.yellow-exclaim { background-position: -91px -25px; }
.bubble-icon.yellow-dots { background-position: -113px -25px; }
.bubble-icon.red-tick { background-position: -3px -47px; }
.bubble-icon.red-plus { background-position: -25px -47px; }
.bubble-icon.red-cross { background-position: -47px -47px; }
.bubble-icon.red-minus { background-position: -69px -47px; }
.bubble-icon.red-exclaim { background-position: -91px -47px; }
.bubble-icon.red-dots { background-position: -113px -47px; }
.bubble-icon.blue-tick { background-position: -3px -69px; }
.bubble-icon.blue-plus { background-position: -25px -69px; }
.bubble-icon.blue-cross { background-position: -47px -69px; }
.bubble-icon.blue-minus { background-position: -69px -69px; }
.bubble-icon.blue-exclaim { background-position: -91px -69px; }
.bubble-icon.blue-dots { background-position: -113px -69px; }
.bubble-icon.grey-tick { background-position: -3px -91px; }
.bubble-icon.grey-plus { background-position: -25px -91px; }
.bubble-icon.grey-cross { background-position: -47px -91px; }
.bubble-icon.grey-minus { background-position: -69px -91px; }
.bubble-icon.grey-exclaim { background-position: -91px -91px; }
.bubble-icon.grey-dots { background-position: -113px -91px; }

.bubble-icon.green-tick.over, .bubble-icon.green-tick:hover  { background-position: -191px -3px; }
.bubble-icon.green-plus.over, .bubble-icon.green-plus:hover  { background-position: -213px -3px; }
.bubble-icon.green-cross.over, .bubble-icon.green-cross:hover  { background-position: -235px -3px; }
.bubble-icon.green-minus.over, .bubble-icon.green-minus:hover  { background-position: -257px -3px; }
.bubble-icon.green-exclaim.over, .bubble-icon.green-exclaim:hover  { background-position: -279px -3px; }
.bubble-icon.green-dots.over, .bubble-icon.green-dots:hover  { background-position: -301px -3px; }
.bubble-icon.yellow-tick.over, .bubble-icon.yellow-tick:hover  { background-position: -191px -25px; }
.bubble-icon.yellow-plus.over, .bubble-icon.yellow-plus:hover  { background-position: -213px -25px; }
.bubble-icon.yellow-cross.over, .bubble-icon.yellow-cross:hover  { background-position: -235px -25px; }
.bubble-icon.yellow-minus.over, .bubble-icon.yellow-minus:hover  { background-position: -257px -25px; }
.bubble-icon.yellow-exclaim.over, .bubble-icon.yellow-exclaim:hover  { background-position: -279px -25px; }
.bubble-icon.yellow-dots.over, .bubble-icon.yellow-dots:hover  { background-position: -301px -25px; }
.bubble-icon.red-tick.over, .bubble-icon.red-tick:hover  { background-position: -191px -47px; }
.bubble-icon.red-plus.over, .bubble-icon.red-plus:hover  { background-position: -213px -47px; }
.bubble-icon.red-cross.over, .bubble-icon.red-cross:hover  { background-position: -235px -47px; }
.bubble-icon.red-minus.over, .bubble-icon.red-minus:hover  { background-position: -257px -47px; }
.bubble-icon.red-exclaim.over, .bubble-icon.red-exclaim:hover  { background-position: -279px -47px; }
.bubble-icon.red-dots.over, .bubble-icon.red-dots:hover  { background-position: -301px -47px; }
.bubble-icon.blue-tick.over, .bubble-icon.blue-tick:hover  { background-position: -191px -69px; }
.bubble-icon.blue-plus.over, .bubble-icon.blue-plus:hover  { background-position: -213px -69px; }
.bubble-icon.blue-cross.over, .bubble-icon.blue-cross:hover  { background-position: -235px -69px; }
.bubble-icon.blue-minus.over, .bubble-icon.blue-minus:hover  { background-position: -257px -69px; }
.bubble-icon.blue-exclaim.over, .bubble-icon.blue-exclaim:hover  { background-position: -279px -69px; }
.bubble-icon.blue-dots.over, .bubble-icon.blue-dots:hover  { background-position: -301px -69px; }
.bubble-icon.grey-tick.over, .bubble-icon.grey-tick:hover  { background-position: -191px -91px; }
.bubble-icon.grey-plus.over, .bubble-icon.grey-plus:hover  { background-position: -213px -91px; }
.bubble-icon.grey-cross.over, .bubble-icon.grey-cross:hover  { background-position: -235px -91px; }
.bubble-icon.grey-minus.over, .bubble-icon.grey-minus:hover  { background-position: -257px -91px; }
.bubble-icon.grey-exclaim.over, .bubble-icon.grey-exclaim:hover  { background-position: -279px -91px; }
.bubble-icon.grey-dots.over, .bubble-icon.grey-dots:hover  { background-position: -301px -91px; }

/* sprites */


.bubble-cross-icon {
	background: url(../images/sprites/bubble_sprite_x.png) no-repeat top left;
	width: 16px;
	height: 16px;
	display:inline-block; 
}

.bubble-cross-icon.green-tick { background-position: -3px -3px; }
.bubble-cross-icon.green-plus { background-position: -25px -3px; }
.bubble-cross-icon.green-cross { background-position: -47px -3px; }
.bubble-cross-icon.green-minus { background-position: -69px -3px; }
.bubble-cross-icon.green-exclaim { background-position: -91px -3px; }
.bubble-cross-icon.green-dots { background-position: -113px -3px; }
.bubble-cross-icon.yellow-tick { background-position: -3px -25px; }
.bubble-cross-icon.yellow-plus { background-position: -25px -25px; }
.bubble-cross-icon.yellow-cross { background-position: -47px -25px; }
.bubble-cross-icon.yellow-minus { background-position: -69px -25px; }
.bubble-cross-icon.yellow-exclaim { background-position: -91px -25px; }
.bubble-cross-icon.yellow-dots { background-position: -113px -25px; }
.bubble-cross-icon.red-tick { background-position: -3px -47px; }
.bubble-cross-icon.red-plus { background-position: -25px -47px; }
.bubble-cross-icon.red-cross { background-position: -47px -47px; }
.bubble-cross-icon.red-minus { background-position: -69px -47px; }
.bubble-cross-icon.red-exclaim { background-position: -91px -47px; }
.bubble-cross-icon.red-dots { background-position: -113px -47px; }
.bubble-cross-icon.blue-tick { background-position: -3px -69px; }
.bubble-cross-icon.blue-plus { background-position: -25px -69px; }
.bubble-cross-icon.blue-cross { background-position: -47px -69px; }
.bubble-cross-icon.blue-minus { background-position: -69px -69px; }
.bubble-cross-icon.blue-exclaim { background-position: -91px -69px; }
.bubble-cross-icon.blue-dots { background-position: -113px -69px; }
.bubble-cross-icon.grey-tick { background-position: -3px -91px; }
.bubble-cross-icon.grey-plus { background-position: -25px -91px; }
.bubble-cross-icon.grey-cross { background-position: -47px -91px; }
.bubble-cross-icon.grey-minus { background-position: -69px -91px; }
.bubble-cross-icon.grey-exclaim { background-position: -91px -91px; }
.bubble-cross-icon.grey-dots { background-position: -113px -91px; }

.bubble-cross-icon.green-tick.over, .bubble-cross-icon.green-tick:hover  { background-position: -191px -3px; }
.bubble-cross-icon.green-plus.over, .bubble-cross-icon.green-plus:hover  { background-position: -213px -3px; }
.bubble-cross-icon.green-cross.over, .bubble-cross-icon.green-cross:hover  { background-position: -235px -3px; }
.bubble-cross-icon.green-minus.over, .bubble-cross-icon.green-minus:hover  { background-position: -257px -3px; }
.bubble-cross-icon.green-exclaim.over, .bubble-cross-icon.green-exclaim:hover  { background-position: -279px -3px; }
.bubble-cross-icon.green-dots.over, .bubble-cross-icon.green-dots:hover  { background-position: -301px -3px; }
.bubble-cross-icon.yellow-tick.over, .bubble-cross-icon.yellow-tick:hover  { background-position: -191px -25px; }
.bubble-cross-icon.yellow-plus.over, .bubble-cross-icon.yellow-plus:hover  { background-position: -213px -25px; }
.bubble-cross-icon.yellow-cross.over, .bubble-cross-icon.yellow-cross:hover  { background-position: -235px -25px; }
.bubble-cross-icon.yellow-minus.over, .bubble-cross-icon.yellow-minus:hover  { background-position: -257px -25px; }
.bubble-cross-icon.yellow-exclaim.over, .bubble-cross-icon.yellow-exclaim:hover  { background-position: -279px -25px; }
.bubble-cross-icon.yellow-dots.over, .bubble-cross-icon.yellow-dots:hover  { background-position: -301px -25px; }
.bubble-cross-icon.red-tick.over, .bubble-cross-icon.red-tick:hover  { background-position: -191px -47px; }
.bubble-cross-icon.red-plus.over, .bubble-cross-icon.red-plus:hover  { background-position: -213px -47px; }
.bubble-cross-icon.red-cross.over, .bubble-cross-icon.red-cross:hover  { background-position: -235px -47px; }
.bubble-cross-icon.red-minus.over, .bubble-cross-icon.red-minus:hover  { background-position: -257px -47px; }
.bubble-cross-icon.red-exclaim.over, .bubble-cross-icon.red-exclaim:hover  { background-position: -279px -47px; }
.bubble-cross-icon.red-dots.over, .bubble-cross-icon.red-dots:hover  { background-position: -301px -47px; }
.bubble-cross-icon.blue-tick.over, .bubble-cross-icon.blue-tick:hover  { background-position: -191px -69px; }
.bubble-cross-icon.blue-plus.over, .bubble-cross-icon.blue-plus:hover  { background-position: -213px -69px; }
.bubble-cross-icon.blue-cross.over, .bubble-cross-icon.blue-cross:hover  { background-position: -235px -69px; }
.bubble-cross-icon.blue-minus.over, .bubble-cross-icon.blue-minus:hover  { background-position: -257px -69px; }
.bubble-cross-icon.blue-exclaim.over, .bubble-cross-icon.blue-exclaim:hover  { background-position: -279px -69px; }
.bubble-cross-icon.blue-dots.over, .bubble-cross-icon.blue-dots:hover  { background-position: -301px -69px; }
.bubble-cross-icon.grey-tick.over, .bubble-cross-icon.grey-tick:hover  { background-position: -191px -91px; }
.bubble-cross-icon.grey-plus.over, .bubble-cross-icon.grey-plus:hover  { background-position: -213px -91px; }
.bubble-cross-icon.grey-cross.over, .bubble-cross-icon.grey-cross:hover  { background-position: -235px -91px; }
.bubble-cross-icon.grey-minus.over, .bubble-cross-icon.grey-minus:hover  { background-position: -257px -91px; }
.bubble-cross-icon.grey-exclaim.over, .bubble-cross-icon.grey-exclaim:hover  { background-position: -279px -91px; }
.bubble-cross-icon.grey-dots.over, .bubble-cross-icon.grey-dots:hover  { background-position: -301px -91px; }

ul.admin-cms-tablist {
	background: #A7AFBA url(../images/navigation/master4_bg.jpg) top left repeat-x;
	clear: both;
	list-style-type: none;
	display: block;
	width: 100%;
	height: 55px;
	white-space: nowrap;
	margin: 0;
	padding: 0;
}
ul.admin-cms-tablist li {
	float: left;
}

ul.admin-cms-tablist li div.links{
	position:relative;
}
ul.admin-cms-tablist li div.links{
	top: 0px;
}
ul.admin-cms-tablist li div.links a {
	position:absolute;
	width: 30px;
	height: 30px;
}
ul.admin-cms-tablist a.full {
	width: 100%;
	height: 100%;
	display: block;
}
ul.admin-cms-tablist li div.links.two a.left {
	left: 30px;
}
ul.admin-cms-tablist li div.links.two a.right {
	left: 60px;
}
ul.admin-cms-tablist li div.links.three a.left {
	left: 15px;
}
ul.admin-cms-tablist li div.links.three a.mid {
	left: 45px;
}
ul.admin-cms-tablist li div.links.three a.right {
	left: 75px;
}
/* generated from http://spritegen.website-performance.org/ */
.admin-cms-tab {
	background: url(../images/sprites/admin_cms_tabs.png) no-repeat top left;
	width: 120px;
	height: 55px;
	display:inline-block; 
}
.admin-cms-tab.admin-commissions { background-position: 0 0; } 
.admin-cms-tab.admin-commissions.active { background-position: 0 -105px; } 
.admin-cms-tab.admin-exports { background-position: 0 -210px; } 
.admin-cms-tab.admin-exports.active { background-position: 0 -315px; } 
.admin-cms-tab.admin-groups { background-position: 0 -420px; } 
.admin-cms-tab.admin-groups.active { background-position: 0 -525px; } 
.admin-cms-tab.admin-imports { background-position: 0 -630px; } 
.admin-cms-tab.admin-imports.active { background-position: 0 -735px; } 
.admin-cms-tab.admin-payments { background-position: 0 -840px; } 
.admin-cms-tab.admin-payments.active { background-position: 0 -945px; } 
.admin-cms-tab.admin-permissions { background-position: 0 -1050px; } 
.admin-cms-tab.admin-permissions.active { background-position: 0 -1155px; } 
.admin-cms-tab.admin-processes { background-position: 0 -1260px; } 
.admin-cms-tab.admin-processes.active { background-position: 0 -1365px; } 
.admin-cms-tab.admin-profiles { background-position: 0 -1470px; } 
.admin-cms-tab.admin-profiles.active { background-position: 0 -1575px; } 
.admin-cms-tab.admin-questions { background-position: 0 -1680px; } 
.admin-cms-tab.admin-questions.active { background-position: 0 -1785px; } 
.admin-cms-tab.admin-quote_temps { background-position: 0 -1890px; } 
.admin-cms-tab.admin-quote_temps.active { background-position: -170px 0; } 
.admin-cms-tab.admin-reports { background-position: -170px -105px; } 
.admin-cms-tab.admin-reports.active { background-position: -170px -210px; } 
.admin-cms-tab.admin-roles { background-position: -170px -315px; } 
.admin-cms-tab.admin-roles.active { background-position: -170px -420px; } 
.admin-cms-tab.admin-stages { background-position: -170px -525px; } 
.admin-cms-tab.admin-stages.active { background-position: -170px -630px; } 
.admin-cms-tab.admin-territories { background-position: -170px -735px; } 
.admin-cms-tab.admin-territories.active { background-position: -170px -840px; } 
.admin-cms-tab.admin-user { background-position: -170px -945px; } 
.admin-cms-tab.admin-user.active { background-position: -170px -1050px; } 
.admin-cms-tab.cms-campaigns { background-position: -170px -1155px; } 
.admin-cms-tab.cms-campaigns.active { background-position: -170px -1260px; } 
.admin-cms-tab.cms-content { background-position: -170px -1365px; } 
.admin-cms-tab.cms-content.active { background-position: -170px -1470px; } 
.admin-cms-tab.cms-documents { background-position: -170px -1575px; } 
.admin-cms-tab.cms-documents.active { background-position: -170px -1680px; } 
.admin-cms-tab.cms-emails { background-position: -170px -1785px; } 
.admin-cms-tab.cms-emails.active { background-position: -170px -1890px; } 
.admin-cms-tab.cms-newsletters { background-position: -340px 0; } 
.admin-cms-tab.cms-newsletters.active { background-position: -340px -105px; } 
.admin-cms-tab.cms-prod_groups { background-position: -340px -210px; } 
.admin-cms-tab.cms-prod_groups.active { background-position: -340px -315px; } 
.admin-cms-tab.cms-products { background-position: -340px -420px; } 
.admin-cms-tab.cms-products.active { background-position: -340px -525px; } 
.admin-cms-tab.cms-property_manager { background-position: -340px -630px; } 
.admin-cms-tab.cms-property_manager.active { background-position: -340px -735px; } 
.admin-cms-tab.cms-sms { background-position: -340px -840px; } 
.admin-cms-tab.cms-sms.active { background-position: -340px -945px; } 
.admin-cms-tab.cms-templates { background-position: -340px -1050px; } 
.admin-cms-tab.cms-templates.active { background-position: -340px -1155px; } 
.admin-cms-tab.cms-websites { background-position: -340px -1260px; } 
.admin-cms-tab.cms-websites.active { background-position: -340px -1365px; } 
.admin-cms-tab.admin-quoteviews { background-position: -340px -1575px; } 
.admin-cms-tab.admin-quoteviews.active { background-position: -340px -1470px; } 

.runway-sprite { width:  30px; height: 30px; background-image: url(../images/sprites/sprite30.png); display: inline-block; }
.runway-sprite.edit-large { background-position: -0px -0px; }
.runway-sprite.edit-large:hover { background-position: -30px -0px; }
.runway-sprite.edit-small { background-position: -60px -0px; }
.runway-sprite.edit-small:hover { background-position: -90px -0px; }
.runway-sprite.search-large { background-position: -0px -30px; }
.runway-sprite.search-large:hover { background-position: -30px -30px; }
.runway-sprite.search-small { background-position: -60px -30px; }
.runway-sprite.search-small:hover { background-position: -90px -30px; }
.runway-sprite.mail-large { background-position: -0px -60px; }
.runway-sprite.mail-large:hover { background-position: -30px -60px; }
.runway-sprite.mail-small { background-position: -60px -60px; }
.runway-sprite.mail-small:hover { background-position: -90px -60px; }
.runway-sprite.email-large { background-position: -0px -90px; }
.runway-sprite.email-large:hover { background-position: -30px -90px; }
.runway-sprite.email-small { background-position: -60px -90px; }
.runway-sprite.email-small:hover { background-position: -90px -90px; }
.runway-sprite.bin-large { background-position: -0px -120px; }
.runway-sprite.bin-large:hover { background-position: -30px -120px; }
.runway-sprite.arrow-right-blue-large { background-position: -60px -120px; }
.runway-sprite.arrow-right-blue-large:hover { background-position: -90px -120px; }
.runway-sprite.arrow-left-blue-large { background-position: -120px -120px; }
.runway-sprite.arrow-left-blue-large:hover { background-position: -150px -120px; }



.runway-sprite.yellow-flag-large { background-position: -420px -120px }
.runway-sprite.yellow-flag-large:hover { background-position: -450px -120px }
.runway-sprite.yellow-flag-small { width: 20px; background-position: -480px -120px }
.runway-sprite.yellow-flag-small:hover { background-position: -510px -120px }

.runway-sprite.grey-flag-large { background-position: -540px -120px }
.runway-sprite.grey-flag-large:hover { background-position: -570px -120px }
.runway-sprite.grey-flag-small { width: 20px; background-position: -600px -120px }
.runway-sprite.grey-flag-small:hover { background-position: -630px -120px }

.runway-sprite.plus-large { background-position: -0px -150px; }
.runway-sprite.plus-large:hover { background-position: -30px -150px; }
.runway-sprite.arrow-up-blue-large { background-position: -60px -150px; }
.runway-sprite.arrow-up-blue-large:hover { background-position: -90px -150px; }
.runway-sprite.arrow-down-blue-large { background-position: -120px -150px; }
.runway-sprite.arrow-down-blue-large:hover { background-position: -150px -150px; }

.runway-sprite.arrow-down-green-large { background-position: -180px -150px; }
.runway-sprite.arrow-down-green-large:hover { background-position: -210px -150px; }
.runway-sprite.arrow-up-green-large { background-position: -240px -150px; }
.runway-sprite.arrow-up-green-large:hover { background-position: -270px -150px; }
.runway-sprite.arrow-right-green-large { background-position: -300px -150px; }
.runway-sprite.arrow-right-green-large:hover { background-position: -330px -150px; }
.runway-sprite.arrow-left-green-large { width:20px; background-position: -360px -150px; }
.runway-sprite.arrow-left-green-large:hover { width:20px; background-position: -390px -150px; }

.runway-sprite.plus { background-position: -240px -300px; }
.runway-sprite.plus:hover { background-position: -270px -300px; }
.runway-sprite.globe { background-position: -240px -5px; }
.runway-sprite.globe:hover { background-position: -270px -5px; }

.runway-sprite.cross-large { width: 20px; background-position: -0px -180px; }
.runway-sprite.cross-large:hover { background-position: -30px -180px; }
.runway-sprite.arrow-right-grey-large { background-position: -60px -180px; }
.runway-sprite.arrow-right-grey-large:hover { background-position: -90px -180px; }
.runway-sprite.arrow-left-grey-large { background-position: -120px -180px; }
.runway-sprite.arrow-left-grey-large:hover { background-position: -150px -180px; }
.runway-sprite.download-large { background-position: -0px -210px; }
.runway-sprite.download-large:hover { background-position: -30px -210px; }
.runway-sprite.arrow-up-grey-large { background-position: -60px -210px; }
.runway-sprite.arrow-up-grey-large:hover { background-position: -90px -210px; }
.runway-sprite.arrow-down-grey-large { background-position: -120px -210px; }
.runway-sprite.arrow-down-grey-large:hover { background-position: -150px -210px; }
.runway-sprite.link-small { background-position: -0px -240px; }
.runway-sprite.link-small:hover { background-position: -30px -240px; }
.runway-sprite.cross-blue-large { background-position: -60px -240px; }
.runway-sprite.cross-blue-large:hover { background-position: -90px -240px; }

.runway-sprite.cross-grey-large { background-position: -120px -240px; }
.runway-sprite.cross-grey-large:hover { background-position: -150px -240px; }

.runway-sprite.arrow-right-blue-small { background-position: -173px -120px; }
.runway-sprite.group-2guys-small { background-position: -297px -120px; }

.runway-sprite.link-large { background-position: -0px -270px; }
.runway-sprite.link-large:hover { background-position: -30px -270px; }
.runway-sprite.package-large { background-position: -60px -270px; }
.runway-sprite.package-large:hover { background-position: -90px -270px; }

.runway-sprite.package-link-large { background-position: -120px -270px; }
.runway-sprite.package-link-large:hover { background-position: -150px -270px; }

.runway-sprite.dot-grid-large { background-position: -0px -300px; }
.runway-sprite.dot-grid-large:hover { background-position: -30px -300px; }
.runway-sprite.view-large { width: 25px; background-position: -60px -300px; }
.runway-sprite.view-large:hover { background-position: -90px -300px; }
.runway-sprite.view-small { background-position: -120px -300px; }
.runway-sprite.view-small:hover { background-position: -150px -300px; }
.runway-sprite.sort-large { background-position: -0px -330px; }
.runway-sprite.sort-large:hover { background-position: -30px -330px; }
.runway-sprite.pdf-large { background-position: -60px -330px; }
.runway-sprite.pdf-large:hover { background-position: -90px -330px; }

.runway-sprite.product-mail-large { background-position: -120px -330px; width: 20px; }
.runway-sprite.product-mail-large:hover { background-position: -150px -330px; }

.runway-sprite.not-sure1-large { background-position: -0px -360px; }
.runway-sprite.not-sure1-large:hover { background-position: -30px -360px; }
.runway-sprite.save-large { background-position: -60px -360px; }
.runway-sprite.save-large:hover { background-position: -90px -360px; }
.runway-sprite.not-sure2-large { background-position: -0px -390px; }
.runway-sprite.not-sure2-large:hover { background-position: -30px -390px; }

.runway-sprite.locked-small { background-position: -120px -390px; }
.runway-sprite.locked-small:hover { background-position: -150px -390px; }

.runway-sprite.unlocked-small { background-position: -120px -420px; }
.runway-sprite.unlocked-small:hover { background-position: -150px -420px; }

.runway-sprite.not-sure3-large { background-position: -0px -420px; }
.runway-sprite.not-sure3-large:hover { background-position: -30px -420px; }
.runway-sprite.duplicate-large { background-position: -0px -450px; width: 24px; }
.runway-sprite.duplicate-large:hover { background-position: -30px -450px; }
.runway-sprite.duplicate-small { background-position: -180px -450px; }
.runway-sprite.duplicate-small:hover { background-position: -210px -450px; }
.runway-sprite.general-alert { width: 20px; background-position: -60px -450px; }
.runway-sprite.general-alert:hover { background-position: -90px -450px; }

.runway-sprite.clear-refresh { width: 20px; background-position: -120px -450px; }
.runway-sprite.clear-refresh:hover { background-position: -150px -450px; }

.runway-sprite.document-plus-large { background-position: -0px -480px; width: 24px; }
.runway-sprite.document-plus-large:hover { background-position: -30px -480px; }

.runway-sprite.quote { width: 22px; background-position: -120px -480px; }
.runway-sprite.quote:hover { background-position: -150px -480px; }

.runway-sprite.document-link-large { background-position: -0px -510px; }
.runway-sprite.document-link-large:hover { background-position: -30px -510px; }


.runway-sprite.location-yellow { background-position: -120px -510px; }
.runway-sprite.location-yellow:hover { background-position: -120px -510px; }
.runway-sprite.location-blue { background-position: -120px -510px; }
.runway-sprite.location-blue:hover { background-position: -120px -510px; }

.runway-sprite.claimed { background-position: -300px -183px; }
.runway-sprite.claimed:hover { background-position: -330px -183px; }
.runway-sprite.release-claimed { background-position: -300px -214px; }
.runway-sprite.release-claimed:hover { background-position: -330px -214px; }
.runway-sprite.unclaimed { background-position: -300px -243px; }
.runway-sprite.unclaimed:hover { background-position: -330px -243px; }

.runway-sprite.legend { background-position: -240px -333px; }
.runway-sprite.legend:hover { background-position: -270px -333px; }
.runway-sprite.configurefull { background-position: -240px -360px; }
.runway-sprite.configure { height:19px; width:25px; background-position: -240px -365px; }
.runway-sprite.purple-down { width: 20px; background-position: -480px -30px }
.runway-sprite.purple-down:hover { background-position: -510px -30px }
.runway-sprite.purple-up { width: 20px; background-position: -420px -30px }
.runway-sprite.purple-up:hover { background-position: -450px -30px }
.runway-sprite.yellow-exclaim { background-position: -60px -450px; }
.runway-sprite.yellow-exclaim:hover { background-position: -90px -450px; }
.runway-sprite.save { height:19px; width:20px; background-position: -60px -364px; }

.runway-sprite.display { background-position: -270px -420px; }
.runway-sprite.display:hover { background-position: -240px -420px; }
/* for dark background */
.runway-sprite.unlink { background-position: -300px -270px; }
.runway-sprite.unlink:hover { background-position: -330px -270px; }
.runway-sprite.link { background-position: -240px -450px; }
.runway-sprite.link:hover { background-position: -270px -450px; }

.runway-sprite.yellowpublish-icon { background-position: -450px -180px }

.bubble-select {
	background: url(../images/sprites/bubble_sprite.png) no-repeat top left;
	width: 10px;
	height: 16px;
}

.bubble-select.green-tick { background-position: -191px -3px; }
.bubble-select.green-plus { background-position: -213px -3px; }
.bubble-select.green-cross { background-position: -235px -3px; }
.bubble-select.green-minus { background-position: -257px -3px; }
.bubble-select.green-exclaim { background-position: -279px -3px; }
.bubble-select.green-dots { background-position: -301px -3px; }
.bubble-select.yellow-tick { background-position: -191px -25px; }
.bubble-select.yellow-plus { background-position: -213px -25px; }
.bubble-select.yellow-cross { background-position: -235px -25px; }
.bubble-select.yellow-minus { background-position: -257px -25px; }
.bubble-select.yellow-exclaim { background-position: -279px -25px; }
.bubble-select.yellow-dots { background-position: -301px -25px; }
.bubble-select.red-tick { background-position: -191px -47px; }
.bubble-select.red-plus 	{ background-position: -213px -47px; }
.bubble-select.red-cross { background-position: -235px -47px; }
.bubble-select.red-minus { background-position: -257px -47px; }
.bubble-select.red-exclaim { background-position: -279px -47px; }
.bubble-select.red-dots { background-position: -301px -47px; }
.bubble-select.blue-tick { background-position: -191px -69px; }
.bubble-select.blue-plus { background-position: -213px -69px; }
.bubble-select.blue-cross { background-position: -235px -69px; }
.bubble-select.blue-minus { background-position: -257px -69px; }
.bubble-select.blue-exclaim { background-position: -279px -69px; }
.bubble-select.blue-dots { background-position: -301px -69px; }
.bubble-select.grey-tick { background-position: -191px -91px; }
.bubble-select.grey-plus { background-position: -213px -91px; }
.bubble-select.grey-cross { background-position: -235px -91px; }
.bubble-select.grey-minus { background-position: -257px -91px; }
.bubble-select.grey-exclaim { background-position: -279px -91px; }
.bubble-select.grey-dots { background-position: -301px -91px; }

.sprite-50 { width: 50px; height: 50px; background-image: url(../images/sprites/sprite50.png); display: inline-block; }
.sprite-50.guy {  background-position: -0px -0px; }
.sprite-50.guy:hover { background-position: -50px -0px; }
.sprite-50.guy-office {  background-position: -100px -0px; }
.sprite-50.guy-office:hover { background-position: -150px -0px; }
.sprite-50.quote { width: 40px; background-position: -200px -0px; }
.sprite-50.quote:hover { background-position: -250px -0px; }
.sprite-50.guy-disabled {  background-position: -0px -50px; }
.sprite-50.guy-disabled:hover { background-position: -50px -50px; }
.sprite-50.office-guy {  background-position: -100px -50px; }
.sprite-50.office-guy:hover { background-position: -150px -50px; }
.sprite-50.edit {  background-position: -200px -50px; }
.sprite-50.edit:hover { background-position: -250px -50px; }
.sprite-50.guy-add { width: 40px; background-position: -0px -100px; }
.sprite-50.guy-add:hover { background-position: -50px -100px; }
.sprite-50.office {  background-position: -100px -100px; }
.sprite-50.office:hover { background-position: -150px -100px; }
.sprite-50.edit-add {  background-position: -200px -100px; }
.sprite-50.edit-add:hover { background-position: -250px -100px; }
.sprite-50.guy-checks {  background-position: -0px -150px; }
.sprite-50.guy-checks:hover { background-position: -50px -150px; }
.sprite-50.office-add {  background-position: -100px -150px; }
.sprite-50.office-add:hover { background-position: -150px -150px; }
.sprite-50.gift {  background-position: -200px -150px; }
.sprite-50.gift:hover { background-position: -250px -150px; }
.sprite-50.guy-girl-add {  background-position: -0px -200px; }
.sprite-50.guy-girl-add:hover { background-position: -50px -200px; }
.sprite-50.office-disabled {  background-position: -100px -200px; }
.sprite-50.office-disabled:hover { background-position: -150px -200px; }
.sprite-50.calendar {  background-position: -200px -200px; }
.sprite-50.calendar:hover { background-position: -250px -200px; }
.sprite-50.guy-unk-plus {  background-position: -0px -250px; }
.sprite-50.guy-unk-plus:hover { background-position: -50px -250px; }
.sprite-50.package { width: 40px; background-position: -100px -250px; }
.sprite-50.package:hover { background-position: -150px -250px; }
.sprite-50.process {  background-position: -200px -250px; }
.sprite-50.process:hover { background-position: -250px -250px; }
.sprite-50.quote-add {  background-position: -300px -250px; }
.sprite-50.quote-add:hover { background-position: -350px -250px; }
.sprite-50.guy-girl-transfer {  background-position: -0px -300px; }
.sprite-50.guy-girl-transfer:hover { background-position: -50px -300px; }
.sprite-50.package-add {  background-position: -100px -300px; }
.sprite-50.package-add:hover { background-position: -150px -300px; }

.sprite-50.sync {  background-position: -200px -300px; }
.sprite-50.sync:hover { background-position: -250px -300px; }

.sprite-50.people-group {  background-position: -0px -350px; }
.sprite-50.people-group:hover { background-position: -50px -350px; }
.sprite-50.guy-girl {  background-position: -0px -400px; }
.sprite-50.guy-girl:hover { background-position: -50px -400px; }

.arrow-images { width: 50px; height: 20px; background-image: url(../images/arrows_images.png); display: inline-block; }
.arrow-images.up { background-position: -0px -0px; }
.arrow-images.up_off { background-position: -0px -35px; }
.arrow-images.down { background-position: -55px -0px; }
.arrow-images.down_off { background-position: -55px -95px; }

.btn-list-view-apply { width: 133px; height: 24px; background: url(../images/buttons/list/bttn_list_view_apply_0.png) top left no-repeat; display: inline-block; }
.btn-list-view-apply:hover { background: url(../images/buttons/list/bttn_list_view_apply_1.png) top left no-repeat; }

.btn-list-view-create { width: 136px; height: 24px; background: url(../images/buttons/list/bttn_list_view_create_0.png) top left no-repeat; display: inline-block; }
.btn-list-view-create:hover { background: url(../images/buttons/list/bttn_list_view_create_1.png) top left no-repeat; }

.btn-list-view-update { width: 143px; height: 24px; background: url(../images/buttons/list/bttn_list_view_update_0.png) top left no-repeat; display: inline-block; }
.btn-list-view-update:hover { background: url(../images/buttons/list/bttn_list_view_update_1.png) top left no-repeat; }

.configure_grey_shad {
	color: #777;
	height: 35px;
	text-align: left;
	font: 11px normal Verdana, Arial, Helvetica, sans-serif;
    background: #E8E9EE url(../images/t_shad.jpg) top left repeat-x;
}

.configure_shelf {
	border-bottom: 1px solid #B2B2B2;
	background: #7B7A94 url(../images/purple_shelf_bg.png) top left repeat-x;
}

.overlayText {
	position: absolute;
	font-family: inherit;
	z-index: 2;
	font-size: 60px;
	color: #FFFFFF;
	top: 42%;
	left: 10%;
	/* Rotate div */
	transform:rotate(-40deg);
	-ms-transform:rotate(-40deg); /* IE 9 */
	-webkit-transform:rotate(-40deg); /* Safari and Chrome */
}

.overlayTextDiv {
	position: relative;
	z-index: 1;
	background: #000;
	opacity:0.4;
	filter:alpha(opacity=40); /* For IE8 and earlier */
}



.filterpanel {	
	color: #000; 
	font-size: 14px;
	font-family: Tahoma !important;	
	border-bottom: 1px solid #D4D7E6; 
	padding: 6px 5px 5px 25px; 
	background-color: #e9eaed;
	height: 34px;
}
.filterpanel select{	
	width : 150px;
}

.tableheader {	
	color: #000; 
	font-size: 13px;
	font-weight: bold;
	font-family: Tahoma !important;	
	border-bottom: 1px solid #E8E9F1;
	background-color: #E8E9F1;
	height: 40px;
}

.tablerow {	
	color: #000; 
	font-size: 13px;
	font-family: Tahoma !important;
	border-bottom: 1px solid #D4D7E6;
	background-color: #fff;
	height: 32px;
}

.whiteheader {
	color:#FFF !important;
	font-size: 14px; 
	font-family: Tahoma;
	background-color:#7E799B;
	height: 25px;
}

.greenboldheader {
	color:#FFF !important;
	font-size: 14px; 
	font-family: Tahoma;
	background-color:#4B743A;
	height: 30px;
	font-weight: bold;
}

.norecords {
	color: #000; 
	font-size: 13px;
	font-weight: bold;
	font-family: Tahoma !important;	
	border-top: 1px solid #D4D7E6;
	border-bottom: 1px solid #D4D7E6;
	padding: 6px 5px 5px 5px; 
	background-color: #e9eaed;
	height: 20px;
}

.textcenter {	
	text-align: center;
}

.textright {	
	text-align: right;
}

.fontbold {	
	font-weight: bold;
}

.reminder {
	float: left;
	overflow: hidden;
	padding: 10px;
	
}

.reminder img{
	padding: 0px !important;
}

.reminderDate {
	float: left;
	width: 100px;
	padding-left: 6px;
}
.reminderLock {
	float: right;
	width: 20px;
	padding-bottom: 5px;
	min-height : 16px;
}

.reminderBody {
	clear: both;
	background-color:rgb(255,255,255);
	width:229px;
	height:113px;
	border-color:rgb(187,187,187);
	border-width:1px;
	-moz-border-radius:9px ;
	-webkit-border-radius:9px ;
	border-radius:9px ;
	border-style:solid;
	white-space: normal;
}

.reminderBody p{
	margin: 10px;
}


.bigButton {
	width: 178px;
	height: 46px;
	background-color:rgb(221,221,221);
	margin-right: 10px;
	border-color:rgb(187,187,187);
	border-width:1px;
	-moz-border-radius:14px ;
	-webkit-border-radius:14px ;
	border-radius:14px ;
	border-style:solid;
	float: left;
	overflow: hidden;
	cursor: pointer;
}
.bigButtonLabel {
	font-family:Tahoma, Geneva, sans-serif;
	font-size:18px;
	color:rgb(51,51,51);
	text-align:left;
	float: Left;
	margin-top: 11px;
	margin-left: 12px;
}
.bigButtonValue {
	font-family:Tahoma, Geneva, sans-serif;
	font-size:28px;
	color:rgb(51,51,51);
	text-align:right;
	float: right;
	margin-top: 6px;
	margin-right: 12px;
}
.bigButton a {
	display: block;
}
.bigButton a:hover {
	background-color:rgba(221,221,221,0.73);
}
.red {
	background-color:rgb(217,0,0);
}
.green {
	background-color:rgb(45,178,0);
}
.blue {
	background-color:rgb(0,128,255);
}
.rev {
	color: rgb(255,255,255);
}
.countButton {
	background-color:rgb(204,255,153);
	padding: 2px 6px; 
	height:21px;
	border-color:rgb(187,187,187);
	border-width:1px;
	-moz-border-radius:6px ;
	-webkit-border-radius:6px ;
	border-radius:6px ;
	border-style:solid;
}
.countButton a:link, .countButton a:visited {
	text-decoration:none;
	color: #333;
}

.sectionHeader {
	width: 100%; 
	background-color:#7A67B4; 
	color: white; 
	height: 25px; 
	font-size: 20px; 
	padding: 4px 35px;
	border-bottom: 1px solid #FFF;
}

.greenButton {
	background-color:rgb(204,255,153);
	padding: 2px 6px; 
	height:21px;
	border-color:rgb(187,187,187);
	border-width:1px;
	-moz-border-radius:6px ;
	-webkit-border-radius:6px ;
	border-radius:6px ;
	border-style:solid;
}
.greenButton a:link, .greenButton a:visited {
	text-decoration:none;
	color: #333;
}

.buttonpanel {
	background-color: #FFF;
	padding: 15px
}

.hide {
	display: none;
}

.yellowbg {
	background-color: #FFFFBF;
}

.greenbg td {
	background-color: rgb(204, 255, 153);
}

.readonly {
	color: #6D6D6D;
}

.r5dropbox {
	font-family: Arial, Helvetica, sans-serif;
}

.r5selectbox {
	font-family: Arial, Helvetica, sans-serif;
}