BODY {
	font-size: 10px;
}
TABLE {
	font-size: 10px;
}
.shadowsbar {
	background-image: url(../images/shadowbar_bg.gif);
	text-align: left;
}
.topbar {
	background-image: url(../images/navigation/master/control1st_bg.gif);
}
.calendarCell {
	background-color: #FFFFFF;
	color: #000000;
	border-top: none;
	border-right: 3px double #666666;
	border-bottom: 3px double #666666;
	border-left: none;
}
.monthcalendar {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	background-color: #FFFFFF;
	text-align: center;
	line-height: 18px;
}
.bordertl {
	border-top-width: 1px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	background-color: #FFFFFF;
	text-align: center;
	border-top-color: #000000;
}
.borderbr, .borderbrdark, .borderbrNiM, .borderbrdarkNiM, .borderhighlightNiM,
	.overlapappNiM, .borderhighlight, .overlapapp, .unacknowledgedapp, .overlapappwin, .appwin {
	border-top-width: 0px;
	border-right-width: 3px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: double;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #666666;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	height: 19px;
	background-color: #F5F5FA;
	border-bottom-color: #BFBFBF;
	text-align: left;
	vertical-align: top;
}
.borderbrdark {
	background-color: #E5E5EC;
}
.borderbrNiM {
	background-color: #D4D4DD;
}
.borderbrdarkNiM {
	background-color: #C4C4CF;
}
.borderhighlightNiM {
	background-color: #BBCCEE;
}
.overlapappNiM {
	background-color: #EEBBCC;
}
.borderhighlight {
	background-color: #E0EFFF;
}
.overlapapp {
	background-color: #ffBBCC;
}
.overlapappwin, .appwin {
	border-top-width: 0px;
	border-right-width: 1px;
	border-bottom-width: 0px;
	border-left-width: 1px;
	border-left-style: solid;
	border-right-style: solid;
	border-right-color: #666666;	
	border-left-color: #BFBFBF;	
	background-color: #ffBBCC;
	display: none;
	position: relative;
	overflow: hidden;
}
.appwin {
	background-color: #E0EFFF;
	position: relative;
}
.unacknowledgedapp {
	background-color: #C0D0F0;
}
.dayheadercell {
	border-top-width: 0px;
	border-right-width: 3px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: double;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #666666;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 20px;
	border-bottom-color: #000000;
	color: #FFFFFF;
	text-align: center;
	font-weight: bold;
	background-image: url(../images/calendar_title_bg.gif);
}
.companyheadercell, .noteheadercell, .contactheadercell{
	border-top-width: 0px;
	border-right-width: 3px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: double;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #666666;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 20px;
	border-bottom-color: #000000;
	color: #FFFFFF;
	text-align: center;
	font-weight: bold;
}
.companyheadercell {
	background-image: url(../images/companies_titlebar_bg.gif);
}
.noteheadercell {
	background-image: url(../images/notes_titlebar_bg.gif);
}
.contactheadercell {
	background-image: url(../images/contacts_titlebar_bg.gif);
}
.daycell {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-align: center;
}
.weekendcell{
	color: #888888;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-align: center;
}
.daycellbold {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
}
.weekendcellbold{
	color: #888888;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
}
.cellbold{
	border-style: solid;
	border-width: 1;
	border-color: #8282A8;
}
.cellboldhighlight{
	border-style: solid;
	border-width: 1;
	border-color: #8282A8;
	background-color: #F2F2F8;
}
.cellhighlight{
	background-color: #F5F5FA;
}
.dayinnercell {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 20px;
	color: #FFFFFF;
	font-weight: bold;
	background-image: url(../images/calendar_title_bg.gif);
}

.titleinnercell {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 20px;
	color: #FFFFFF;
	font-weight: bold;
	background-image: url(../images/todolist_title_bg.gif);
}
.whitelinks {
	color: #FFFFFF;
}
.timecell {
	border-top-style: none;
	border-top-width: 0px;
	border-right: 3px double #666666;
	border-bottom: 1px solid #999999;
	border-left: 1px solid #666666;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	height: 36px;
	background-color: #DBDBE6;
}
.cornercell {
	border-top-style: none;
	border-top-width: 0px;
	border-right: 3px double #666666;
	border-bottom: 1px solid #999999;
	border-left: 1px solid #666666;
	background-color: #DBDBE6;
}
.todolistcell {
	border-top-style: none;
	border-left-style: none;
	border-top-width: 0px;
	border-left-width: 0px;	
	border-right: 3px double #666666;
	border-bottom: 1px solid #CCCCCC;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	height: 26px;
	text-align: left;
	background-color: #FFFFFF;
}
.followuplistcell {
	border-top-style: none;
	border-left-style: none;
	border-top-width: 0px;
	border-left-width: 0px;	
	border-right: 3px double #666666;
	border-bottom: 1px solid #CCCCCC;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	height: 19px;
	text-align: left;
	background-color: #FFFFFF;
}
.celltitle {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	border-right-width: 3px;
	border-bottom-width: 2px;
	border-right-style: double;
	border-bottom-style: double;
	border-right-color: #666666;
	border-bottom-color: #333333;
	color: #FFFFFF;
	text-align: center;
	height: 20px;
	background-image: url(../images/todolist_title_bg.gif);
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #666666;
}
.monthdaycell, .monthdaytophalfcell, .monthdaytophalfcell, .monthdaybottomhalfcell, 
.monthdaycellgrey, .monthdaytophalfcellgrey, .monthdaybottomhalfcellgrey{
    padding: 0px 0px 0px 0px;
	border-top-style: none;
	border-left-style: none;   
	border-top-width: 0px;
	border-left-width: 0px;	
	border-right: 3px double #666666;
	border-bottom: 1px solid #CCCCCC;
	font-family: Arial, Helvetica, sans-serif;	
	font-size: 10px;
	line-height: 18px;
	text-align: left;
	vertical-align: top;		 
}
.monthdaycell {
	background-color: #FFFFFF;
	height: 114px;
}
.monthdaytophalfcell {
	background-color: #FFFFFF;
	height: 50%;
}
.monthdaybottomhalfcell {
	background-color: #FFFFFF;
	height: 49%;
}
.monthdaycellgrey {
	background-color: #EEEEEE;
	height: 114px;
}
.monthdaytophalfcellgrey {
	background-color: #EEEEEE;
	height: 50%;
}
.monthdaybottomhalfcellgrey {
	background-color: #EEEEEE;
	height: 49%;
}
.monthday {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 18px;
	text-align: right;
}
.weekhighlight {
	background-color: #F0F0F8;
}