.main-container {
    background: #EDEFF1;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
}

h3 {
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 2px;
}

h3.title {
    border-bottom: 1px dotted #667788;
    margin-bottom: 10px;
}

div#roi-report {
    background: #FFFFFF;
    border: 1px solid #7d9ec8;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-box-shadow: 0 0 5px #7d9ec8;
    -webkit-box-shadow: 0 0 5px #7d9ec8;
    box-shadow: 0 0 5px #7d9ec8;
    padding: 10px;
    max-width: 1280px;
}

label.big, span.big, a.big {
    font-size: 14px;
    font-weight: bold;
    vertical-align: middle;
}

span.big, a.big {
    font-weight: normal;
}

input.big {
    font-size: 14px;
    border: 1px solid #c7c6d6;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-box-shadow: 0 0 5px #c7c6d6;
    -webkit-box-shadow: 0 0 5px #c7c6d6;
    box-shadow: 0 0 5px #c7c6d6;
    width: 400px;
    padding: 5px;
}

div.report-row {
    vertical-align: middle;
}

div.report-row input {
    vertical-align: middle;
}

#report-name-field {
    border: 1px solid #c7c6d6;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-box-shadow: 0 0 5px #c7c6d6;
    -webkit-box-shadow: 0 0 5px #c7c6d6;
    box-shadow: 0 0 5px #c7c6d6;
    padding: 5px;
    width: 400px;
}

td.label {
    text-align: right;
    padding-right: 5px;
}

td.field {
    padding-right: 10px;
}

p.break {
    margin: -10px;
    border-bottom: 1px solid black;
    width: 100%;    
}

a.big span {
    font-size: 15px;
    font-weight: bold;
    vertical-align: middle;
}

a.big img {
    vertical-align: middle;
    padding-right: 5px;
}

a.medium span {
    font-size: 13px;
    font-weight: bold;
    vertical-align: middle;
}

a.medium img {
    vertical-align: middle;
    padding-right: 5px;
}

table.row {
    margin-bottom: 15px;
}

div.report-step, div#grand-total, div#roi {
    /*display: none;*/
    background: #FFFFFF;
    border: 1px solid #c9c9d8;
    /*-moz-border-radius: 5px;*/
    /*-webkit-border-radius: 5px;*/
    -moz-box-shadow: 0 0 5px #c9c9d8;
    -webkit-box-shadow: 0 0 5px #c9c9d8;
    box-shadow: 0 0 5px #c9c9d8;
    padding: 10px;     
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

div.roi-label {
    float: left;
    width: 185px;
    margin-right: 5px;
    text-align: right;
}

div.roi-label, div.roi-content {
    padding-top: 6px;
}

div.row {
    margin-bottom: 15px;
}

br.clear {
    clear: both;
}

div.component, div.roi-row, div#roi-row-header, div#roi-row-footer {
    display: none;
    border: 1px solid #c9c9d8;
    margin-left: 0px;
    margin-right: auto;
    padding: 10px;
    height: 20px;
    vertical-align: middle;
}

div#roi-row-header, div#roi-row-footer {
    display: block;
}

div.component div {    
    vertical-align: middle;
    height: 22px;
}

div.header {
    font-weight: bold;
    font-size: 12px;
    height: 20px;
}

div.component-name, div.component-unit-cost, div.component-no-forecast-units, div.component-forecast-cost, div.component-no-actual-units, div.component-actual-cost, div.component-difference, div.component-difference-percent {
    float: left;
}

div.component-name {
    width: 250px;
}

div.component-unit-cost, div.component-no-forecast-units, div.component-forecast-cost, div.component-no-actual-units, div.component-actual-cost, div.component-difference, div.component-difference-percent {
    text-align: center;
    width: 120px;
}

div.component-select {
    margin-left: 1100px;
    text-align: right;    
}

div.component-select-box {
    display: none;
}

div#button-bar {
    text-align: center;
}

div#select-stage-count-dialog {
    display: none;
}

div.footer {
    font-size: 12px;
    font-weight: bold;
}

div.component input {
    text-align: center;
}

table.roi {
    width: 100%;
    border-right: 1px solid #c9c9d8;
}

#roi td {
    text-align: center;
    border: 1px solid #c9c9d8;
    border-right: none;
    padding: 3px;
}

#roi thead {
    font-size: 120%;
    font-weight: bold;
}

td.big-cell {
    width: 200px;
}

td.small-cell {
    width: 80px;
}

td.medium-cell {
    width: 120px;
}

td.last-cell {
        
}

td.big-cell input {
    width: 180px;
}

td.medium-cell input {
    width: 100px;
}

input.centered {
    text-align: center;
}

/*div#roi-header {*/
    /*border-bottom: 1px solid #7d9ec8;*/
    /*padding-top: 5px;*/
    /*padding-bottom: 5px;*/
    /*margin-left: -10px;*/
    /*margin-right: -10px;*/
    /*margin-bottom: 10px;*/
/*}*/

/*div#roi-row-footer {*/
    /*background: #CCCCCC;*/
/*}*/

/*div.roi-row-name, div.roi-row-count, div.roi-row-cost, div.roi-row-item-cost {*/
    /*width: 125px;*/
    /*float: left;*/
/*}*/

/*div.roi-row-cost {*/
    /*width: 275px;*/
/*}*/

/*div.roi-row-name {*/
    /*width: 250px;*/
/*}*/

/*div.roi-row-count, div.roi-row-cost, div.roi-row-item-cost {*/
    /*text-align: center;*/
/*}*/

.ui-tabs-panel, .ui-tabs {
    padding: 0;
}

#select-roi-count-dialog {
    width: 400px;
}

#values-table td {
    padding: 5px;
}