div.panel {
    background: #FFFFFF;
    border: 1px solid #7d9ec8;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-box-shadow: 0 0 5px #7d9ec8;
    -webkit-box-shadow: 0 0 5px #7d9ec8;
    box-shadow: 0 0 5px #7d9ec8;
    padding: 10px;
    max-width: 1280px;
}

div.panel-divider {
    border-bottom: 1px solid #7d9ec8; 
    margin: 5px -10px 20px;
}

div.container, div.search-set-container {
    background: #FFFFFF;
    border: 1px solid #c9c9d8;
    -moz-box-shadow: 0 0 5px #c9c9d8;
    -webkit-box-shadow: 0 0 5px #c9c9d8;
    box-shadow: 0 0 5px #c9c9d8;
    padding: 10px;     
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

div.container-divider {
	  border-bottom: 1px solid #c9c9d8;  
    margin: 0px -10px 10px;	  
}

td.label {
    text-align: left;
    padding: 2px 5px 2px 0px;
    font-size: 12px;
    font-weight: bold;
    color: #6f6f6f;
    white-space: nowrap;
}

th.table-label {
    text-align: left;
    padding: 2px 25px 2px 0px;
    font-size: 12px;
    font-weight: bold;
    color: #6f6f6f;
    white-space: nowrap;
}

td.field {
    padding: 2px 10px 2px 0px;
}

.add-icon, .delete-icon {
    cursor: pointer;
}

div.FieldType select, div.FieldName select, div.FieldValue select {	  
	  min-width: 160px;
	  max-width: 160px;
}

div.FieldType select, div.FieldName select {
	  margin-top: 1px;
	  margin-bottom: 1px;
}

div.FieldType, div.FieldName {
	  padding-right: 25px;
    min-width: 160px;
}

div.FieldValue {
	  padding-right: 25px;
    min-width: 320px;
}

div.search-statement-buttons img {
	cursor: pointer;
  width: 136px;
  height: 35px;  
}