
/* Hide the folder icons. */
.tree ul ins { display: none; }



/* LOCKED */
.tree-runway .locked li a {  }
/* DOTS */
.tree-runway ul { background-position:6px 1px; background-repeat:repeat-y; background-image:url(data:image/gif;base64,R0lGODlhAgACAIAAAB4dGf///yH5BAEAAAEALAAAAAACAAIAAAICRF4AOw==); _background-image:url("dot_for_ie.gif"); *background-image:url("dot_for_ie.gif"); }
.tree-runway li { background-position:-64px -16px; background-repeat:no-repeat; background-image:url("icons.png"); }
/* NO DOTS */
.tree-runway .no_dots, .tree-runway .no_dots ul { background:transparent; }
.tree-runway .no_dots li.leaf { background-image:none; background-color:transparent; }
/* OPEN or CLOSED */
.tree-runway li.open { background:url("icons.png") -32px -48px no-repeat; }
.tree-runway li.closed, #jstree-dragged.tree-runway li li.open { background:url("icons.png") -48px -32px no-repeat; }
#jstree-marker { background-image:url("icons.png"); }
/* runway, HOVER, CLICKED, LOADING STATES */
.tree-runway li a, .tree-runway li span { border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px; }
.tree-runway li a:hover, .tree-runway li a.hover, .tree-runway li span { background: #e7f4f9; border:1px solid #d8f0fa; padding:0px 3px 0px 3px; }
.tree-runway li a.clicked, .tree-runway li a.clicked:hover, .tree-runway li span.clicked { background: #beebff; border:1px solid #99defd; padding:0px 3px 0px 3px; }
/* ICONS */
.tree-runway ins { display: none; background-image:url("icons.png"); background-position:0 0; background-repeat:no-repeat; }
.tree-runway ul li a.loading ins { background-image:url("throbber.gif") !important; background-position:0 0 !important; } /* UL is added to make selector stronger */
.tree-runway li a ins.forbidden {display: none; display: none; background-position:-16px -16px; }
.tree-runway .locked li a ins { background-position:0 -48px; }
.tree-runway li span ins { background-position:-16px 0; }
#jstree-dragged.tree-runway ins { background:url("icons.png") -16px -32px no-repeat; }
#jstree-dragged.tree-runway ins.forbidden { background:url("icons.png") -16px -16px no-repeat; }

/* CONTEXT MENU */
.tree-runway-context a ins { background-image:url("icons.png"); background-repeat:no-repeat; background-position:-64px -64px; }
.tree-runway-context a ins.create { background-position:0 -16px; }
.tree-runway-context a ins.rename { background-position:-16px 0px; }
.tree-runway-context a ins.remove { background-position:0 -32px; }