* {
	margin: 0;
	padding: 0;
	outline: 0
}

.nav {
	height: 36px;
	background-color: white;
	color: #00;
	text-shadow: 1px 1px #888;
	z-index: 1000
}

.menu a {
	text-indent: 5px;
	padding: 2px 0;
	float: left;
	color: #000;
	text-decoration: none;
	width: 280px;
	line-height:18px;
	border-bottom: 0;
}

.panel {
	text-indent: 5px;
	border: 1px solid #BBB; /*THEME CHANGE HERE*/
	border-top: 0;
}

.menu span {
	padding: 2px 0;
	float: left;
	color: #000;
	text-decoration: none;
	width: 280px;
	line-height:18px;
}

.menu a:hover {
	color: #000
}

.menu {
	list-style: none;
	font: normal 12px Arial;
	text-align: left;
	width: 280px;
	margin: 0 auto
}

.menu li {
	position: relative;
	float: left;
	width: 280px;
	z-index: 1000
}

.menu ul {
	position: absolute;
	font: normal 12px Arial, Verdana;
	top: 15px;
	left: 0;
	background-color: white;
	display: none;
	list-style: none;
}

.menu ul li {
	float: none;
	border-top: 1px solid #BBB;
	width: 280px
}

.menu ul li a,li.menuhover li a,li.menuhover li.menuhover li a {
	float: none;
	display: block;
	background: none;
	line-height:18px;
	padding-top: 5px
}

.menu ul li a:hover,li.menuhover li a:hover,li.menuhover li.menuhover li a:hover
	{
	background-color: #F0F0F0;
	color: #000
}

.menu ul li span,li.menuhover li span,li.menuhover li.menuhover li span
	{
	float: none;
	display: block;
	background: none;
	line-height:18px;
	padding-top: 5px
}

.menu ul ul {
	left: 280px;
	top: 0
}

.menu li.submenu {
	font-weight: bold
    text-align: left;
    float: left;
    list-style: none;
}

.menu li.noborder {
	border-top: none
}

li.menuhover a,li.menuhover li.menuhover a {
	color: #000;
	background-color: #F0F0F0;
}
#info {
	width: 280px;
	background-color: #F0F0F0;
}

#info li {
	width: 280px;
	border-top: none;
	padding: 8px 10px;
	color: #000;
	text-shadow: 1px 1px #fff;
	text-align: left
}

/*
li.menuhover span,li.menuhover li.menuhover span {
	color: #000;
	background-color: white;
}
*/
