/*
    ColorBox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox,
#cboxOverlay,
#cboxWrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  overflow: hidden;
}
#cboxOverlay {
  position: fixed;
  width: 100%;
  height: 100%;
}
#cboxMiddleLeft,
#cboxBottomLeft {
  clear: left;
}
#cboxContent {
  position: relative;
}
#cboxLoadedContent {
  overflow: auto;
}
#cboxTitle {
  margin: 0;
}
#cboxLoadingOverlay,
#cboxLoadingGraphic {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#cboxPrevious,
#cboxNext,
#cboxClose,
#cboxSlideshow {
  cursor: pointer;
}
.cboxPhoto {
  float: left;
  margin: auto;
  border: 0;
  display: block;
}
.cboxIframe {
  width: 100%;
  height: 100%;
  display: block;
  border: 0;
}
#colorbox,
#cboxContent,
#cboxLoadedContent {
  box-sizing: content-box;
}
#cboxOverlay {
  background-color: #000;
}
/**** Isotope Filtering ****/
.isotope-item {
  z-index: 2;
}
.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}
/**** Isotope CSS3 transitions ****/
.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -ms-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;
}
.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -ms-transition-property: height, width;
  -o-transition-property: height, width;
  transition-property: height, width;
}
.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  -ms-transition-property: -ms-transform, opacity;
  -o-transition-property: top, left, opacity;
  transition-property: transform, opacity;
}
/**** disabling Isotope CSS3 transitions ****/
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -ms-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
}
@charset 'UTF-8';
/*
 * jQuery File Upload UI Plugin CSS 6.3
 * https://github.com/blueimp/jQuery-File-Upload
 *
 * Copyright 2010, Sebastian Tschan
 * https://blueimp.net
 *
 * Licensed under the MIT license:
 * http://www.opensource.org/licenses/MIT
 */
.fileinput-button {
  position: relative;
  overflow: hidden;
  float: left;
  margin-right: 4px;
}
.fileinput-button input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  border: solid transparent;
  border-width: 0 0 100px 200px;
  opacity: 0;
  filter: alpha(opacity=0);
  -moz-transform: translate(-300px, 0) scale(4);
  direction: ltr;
  cursor: pointer;
}
.fileupload-buttonbar .btn,
.fileupload-buttonbar .toggle {
  margin-bottom: 5px;
}
.files .progress {
  width: 200px;
}
.progress-animated .bar {
  background: url(../img/progressbar.gif) !important;
  filter: none;
}
.fileupload-loading {
  position: absolute;
  left: 50%;
  width: 128px;
  height: 128px;
  background: url(../img/loading.gif) center no-repeat;
  display: none;
}
.fileupload-processing .fileupload-loading {
  display: block;
}
/* Fix for IE 6: */
*html .fileinput-button {
  line-height: 22px;
  margin: 1px -3px 0 0;
}
/* Fix for IE 7: */
* + html .fileinput-button {
  margin: 1px 0 0 0;
}
@media (max-width: 480px) {
  .files .btn span {
    display: none;
  }
  .files .preview * {
    width: 40px;
  }
  .files .name * {
    width: 80px;
    display: inline-block;
    word-wrap: break-word;
  }
  .files .progress {
    width: 20px;
  }
  .files .delete {
    width: 60px;
  }
}
@charset "utf-8";
/* CSS Document */
/* similar to the maps lightbox from runway, removes body declaration and pngfix */
#runwayMapsLBMain {
  background-color: #FFFFFF;
}
.runwayMapsLBBar {
  background-image: url(../../images/lb_topRep.jpg);
  background-repeat: repeat-x;
}
.runwayMapsBorderBttm {
  border-bottom: 1px solid #B7BBD5;
  font-size: 0px;
}
.runwayMapsBorderRight {
  border-right: 1px solid #B7BBD5;
}
.runwayMapsBorderLeft {
  border-left: 1px solid #B7BBD5;
}
.runwayMapsLBCorner {
  background-color: #666666;
}
#runwayMapsLBTitle {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 13px;
  color: #333333;
}
#runwayMapsLBContent {
  padding: 10px 0px 5px 0px;
}
.lt-ie9 #lightbox .dropzone-button {
  display: none;
}
.lt-ie9 #lightbox #fileupload div.row.fileupload-buttonbar {
  padding-top: 7px;
  font-family: Tahoma;
  font-size: 14px;
}
.lt-ie9 #lightbox #fileupload div.row.fileupload-buttonbar .fileinput-button button {
  line-height: 15px;
}
#lightbox {
  background-color: #fff;
  font-family: Tahoma, Arial, Verdana, Sans-Serif;
  font-size: 13px;
}
#lightbox .font20 {
  font-size: 20px;
  white-space: nowrap;
}
#lightbox .font14 {
  font-size: 14px;
}
#lightbox .font15 {
  font-size: 15px;
}
#lightbox tr.grey-spacer td {
  border-top: 1px solid #99a0c1;
}
#lightbox .quickNoteBody {
  min-height: 300px;
}
#lightbox .dropzone-button {
  cursor: pointer;
  width: 143px;
  height: 23px;
  display: inline-block;
  background: url(../../images/dropzone_show.gif) top left no-repeat;
}
#lightbox .dropzone-button.showing {
  background: url(../../images/dropzone_hide.gif) top left no-repeat;
}
#lightbox .dropzone {
  display: none;
}
#lightbox .dropzone .dropzone-area {
  height: 80px;
  background: url(../../images/dropzone_drag.png) center 5px no-repeat;
}
#lightbox select {
  font-family: Arial;
  font-size: 12px;
}
#lightbox input[type="text"] {
  font-family: Verdana;
  font-size: 11px;
}
#lightbox a.simple-link,
#lightbox a.simple-link:hover,
#lightbox a.simple-link:visited,
#lightbox a.simple-link:active {
  text-decoration: none;
  color: #000;
}
#lightbox .tab-button {
  background: #DDDFE8;
  padding: 0;
  margin: 0;
  vertical-align: bottom;
}
#lightbox .tab-inactive {
  /* tab active will vary dep on bottom area */

  border-bottom: 1px solid #99A0C1;
}
#lightbox tr.grey-spacer td {
  border-top: 1px solid #C3C3C3;
}
#lightbox .quickNoteTitle {
  float: left;
  width: 620px;
  position: relative;
}
#lightbox .quickNoteTitle .dialog-icon {
  width: 38px;
  height: 37px;
  display: inline-block;
}
#lightbox .quickNoteTitle .edit-icon {
  background: url(../../../images/quicknote/quicknote_icon.png) center center no-repeat;
}
#lightbox .quickNoteTitle .upload-icon {
  background: url(../../../images/properties/image_upload_icon.png) center center no-repeat;
}
#lightbox .quickNoteTitle .title {
  position: absolute;
  top: 3px;
  font-size: 22px;
  font-weight: 500;
  display: inline-block;
}
#fileupload div.row.fileupload-buttonbar {
  padding-top: 7px;
  font-family: Tahoma;
  font-size: 14px;
}
#fileupload div.row.fileupload-buttonbar .fileinput-button button {
  display: inline-block;
  font-size: 12px;
  height: 24px;
  line-height: 22px;
}
#fileupload div.row.fileupload-buttonbar input {
  display: none;
}
.imagelist tbody tr.grey-spacer td {
  height: 74px;
  vertical-align: middle;
  border-top: 1px solid #C3C3C3;
}
.imagelist table {
  margin-left: 25px;
  margin-right: 22px;
  padding: 0;
  width: 848px;
}
.imagelist table thead td {
  height: 35px;
  vertical-align: middle;
}
.imagelist tr.grey-spacer td.checkbox {
  width: 30px;
}
.imagelist tr.grey-spacer td.remove {
  width: 65px;
  text-align: right;
  white-space: nowrap;
}
.imagelist tr.grey-spacer td.img {
  width: 162px;
}
.imagelist tr.grey-spacer td.img img {
  width: 150px;
  height: 52px;
}
.imagelist tr.grey-spacer td.size {
  width: 284px;
}
.imagelist tr.grey-spacer td.filename {
  width: 138px;
  padding-left: 8px;
}
.imagelist tr.grey-spacer td.caption {
  width: 304px;
  text-align: center;
}
.imagelist tr.grey-spacer td.caption input {
  width: 275px;
  height: 22px;
}
#document-search-form table.header tbody tr.search-row td:first-child {
  padding-left: 25px;
}
#document-search-form table.header tbody tr.search-row td {
  height: 40px;
}
#document-search-form table.header tbody tr.search-row td select {
  min-width: 143px;
}
.imagelist table thead,
#doclist tbody {
  padding: 0;
}
div.gallery-inner .header {
  height: 53px;
  background-color: #EAEBEF;
}
div.gallery-inner .header td.font20 {
  padding-left: 25px;
  width: 62px;
  padding-right: 10px;
}
div.gallery-inner .header td {
  vertical-align: middle;
}
