.main-container {
    background: #EDEFF1;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
}

h3 {
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 2px;
}

h3.title {
    border-bottom: 1px dotted #667788;
    margin-bottom: 10px;
}

tr.category-record td, tr.label-record td {
    height: 30px;
    border-bottom: 1px solid #667788;
    border-top: none;
}

tr.label-record td {
    height: 25px;
    background: #EEEEDD;
}

.tool-bar, .panel-title {
    background: #FFFFFF;
}

.tool-bar td {
    padding: 5px;
    border-top: 1px solid #667788;
    border-bottom: 2px solid #667788;
    text-align: center;
    height: 30px;
}

.panel-title {
    border: 1px solid white;
    border-bottom: 2px solid #667788;
    padding: 5px 4px 4px;

}

#side-bar-pane {
    min-height: 400px;
    height: 400px;
    vertical-align: top;
}

#side-bar {
    margin-top: 5px;
    border: 1px solid #667788;
    border-top: none;
}

#content-pane {
    vertical-align: top;
}

#new-category-panel, #new-cost-label-panel {
    margin-top: 5px;
    margin-left: 5px;
    display: none;    
}

#new-category-panel input.text, #new-cost-label-panel input.text {
    width: 200px;
}

#new-category-table {
}

#new-category-table td, #new-cost-label-table td{
    padding-top: 5px;
    padding-bottom: 5px;
}

.category-record td {
    padding: 5px;
}

.label-record td {
    padding: 5px;
}

td.label-name {
    padding-left: 12px;
}